Repository haga-rak/fluxzy.core: changes, and which Codecov flags are due for each by the changed paths.
All: Fluxzy.Core, Fluxzy

Fix startup output console
  src/Fluxzy/FluxzyStartup.cs
  test/Fluxzy.Tests/Cli/Certificates/CreateCertificate.cs
Due: Fluxzy

Ignore ArgsHelper from coveraqge
  codecov.yml
Due: none

Add subcommand `default` on `fluxzy certificate` to get or set the user level certificate (#212)
  codecov.yml
  src/Fluxzy.Core/Certificates/Certificate.cs
  src/Fluxzy.Core/Certificates/CertificateAuthorityManager.cs
  src/Fluxzy.Core/Certificates/FluxzySecurity.cs
  src/Fluxzy.Core/Certificates/FluxzySecurityParams.cs
  src/Fluxzy.Core/Core/DictionaryEnvironmentProvider.cs
  src/Fluxzy.Core/Core/EnvironmentProvider.cs
  src/Fluxzy.Core/Core/ExchangeSourceProviderHelper.cs
  src/Fluxzy.Core/Core/SystemEnvironmentProvider.cs
  src/Fluxzy/Commands/CertificateCommandBuilder.cs
  src/Fluxzy/Commands/StartCommandBuilder.cs
  src/Fluxzy/Dockering/ContainerEnvironmentHelper.cs
  src/Fluxzy/FluxzyStartup.cs
  src/Fluxzy/Program.cs
  test/Fluxzy.Tests/Cli/Certificates/CertificateDefaultCommand.cs
  test/Fluxzy.Tests/Cli/Certificates/CreateCertificate.cs
  test/Fluxzy.Tests/Cli/Dissects/DissectCommandTests.cs
  test/Fluxzy.Tests/Cli/Scaffolding/CommandBase.cs
  test/Fluxzy.Tests/Fluxzy.Tests.csproj
  test/Fluxzy.Tests/UnitTests/Certificates/CertificateTests.cs
  test/Fluxzy.Tests/UnitTests/Container/ContainerEnvironmentHelperTests.cs
  test/Fluxzy.Tests/_Files/Certificates/client-cert.clear.pifix
Due: Fluxzy.Core, Fluxzy

Delete src/Fluxzy.Core.Pcap.Cli/Fluxzy - Backup.Interop.Pcap.Cli.csproj
  src/Fluxzy.Core.Pcap.Cli/Fluxzy - Backup.Interop.Pcap.Cli.csproj
Due: none

Delete src/Fluxzy.Core.Pcap.Cli/Fluxzy - Backup.Interop.Pcap.Cli.csproj (#214)
  src/Fluxzy.Core.Pcap.Cli/Fluxzy - Backup.Interop.Pcap.Cli.csproj
Due: none

Add `PcapEnhancedBlockMaxLength` controlled by `FLUXZY_PCAP_ENHANCED_BLOCK_MAX_LENGTH` EV in global setting
  src/Fluxzy.Core.Pcap/Pcapng/Merge/EnhancedBlockReader.cs
  src/Fluxzy.Core/FluxzySharedSetting.cs
Due: Fluxzy.Core

Add `PcapEnhancedBlockMaxLength` controlled by `FLUXZY_PCAP_ENHANCED_BLOCK_MAX_LENGTH` EV in global setting (#216)
  src/Fluxzy.Core.Pcap/Pcapng/Merge/EnhancedBlockReader.cs
  src/Fluxzy.Core/FluxzySharedSetting.cs
Due: Fluxzy.Core

Remove sandbox.models dependencies, move model classes to test project
  test/Fluxzy.Tests/Fluxzy.Tests.csproj
  test/Fluxzy.Tests/ProxyTests.cs
  test/Fluxzy.Tests/Sandbox/Models/ContentControlResult.cs
  test/Fluxzy.Tests/Sandbox/Models/Header.cs
  test/Fluxzy.Tests/Sandbox/Models/HealthCheckResult.cs
  test/Fluxzy.Tests/Sandbox/Models/QueryString.cs
  test/Fluxzy.Tests/Sandbox/Models/RequestContent.cs
  test/Fluxzy.Tests/UnitTests/Handlers/Http2ConcurrentCall.cs
  test/Fluxzy.Tests/UnitTests/Substitutions/RequestBodySubstitutionTests.cs
  test/Fluxzy.Tests/_Fixtures/HttpResponseMessageExtensions.cs
Due: none

Remove avoidable warnings on Test project
  test/Fluxzy.Tests/UnitTests/Authentication/ProxyAuthenticationTests.cs
  test/Fluxzy.Tests/UnitTests/Certificates/CertificateManager.cs
  test/Fluxzy.Tests/UnitTests/Handlers/ViaDefaultHandler.cs
  test/Fluxzy.Tests/UnitTests/Rules/DefaultActionSettings.cs
  test/Fluxzy.Tests/UnitTests/Rules/DefaultFilterSettings.cs
  test/Fluxzy.Tests/UnitTests/Rules/SearchTextFilterTests.cs
Due: none

Remove sandbox.models dependencies, move model classes to test project (#219)
  test/Fluxzy.Tests/Fluxzy.Tests.csproj
  test/Fluxzy.Tests/ProxyTests.cs
  test/Fluxzy.Tests/Sandbox/Models/ContentControlResult.cs
  test/Fluxzy.Tests/Sandbox/Models/Header.cs
  test/Fluxzy.Tests/Sandbox/Models/HealthCheckResult.cs
  test/Fluxzy.Tests/Sandbox/Models/QueryString.cs
  test/Fluxzy.Tests/Sandbox/Models/RequestContent.cs
  test/Fluxzy.Tests/UnitTests/Authentication/ProxyAuthenticationTests.cs
  test/Fluxzy.Tests/UnitTests/Certificates/CertificateManager.cs
  test/Fluxzy.Tests/UnitTests/Handlers/Http2ConcurrentCall.cs
  test/Fluxzy.Tests/UnitTests/Handlers/ViaDefaultHandler.cs
  test/Fluxzy.Tests/UnitTests/Rules/DefaultActionSettings.cs
  test/Fluxzy.Tests/UnitTests/Rules/DefaultFilterSettings.cs
  test/Fluxzy.Tests/UnitTests/Rules/SearchTextFilterTests.cs
  test/Fluxzy.Tests/UnitTests/Substitutions/RequestBodySubstitutionTests.cs
  test/Fluxzy.Tests/_Fixtures/HttpResponseMessageExtensions.cs
Due: none

Remove `EmptyStream` and `StreamUtils` as already covered by `System.IO.Stream.Null`
  src/Fluxzy.Core/Archiving/Writers/EventOnlyArchiveWriter.cs
  src/Fluxzy.Core/Clients/H11/Http11PoolProcessing.cs
  src/Fluxzy.Core/Core/Exchange.cs
  src/Fluxzy.Core/Core/ExchangeSourceProvider.cs
  src/Fluxzy.Core/Core/FromProxyConnectSourceProvider.cs
  src/Fluxzy.Core/Core/ReverseProxyExchangeSourceProvider.cs
  src/Fluxzy.Core/Misc/Streams/ChunkedTransferReadStream.cs
  src/Fluxzy.Core/Misc/Streams/ChunkedTransferWriteStream.cs
  src/Fluxzy.Core/Misc/Streams/CombinedReadonlyStream.cs
  src/Fluxzy.Core/Misc/Streams/EmptyWriteStream.cs
  src/Fluxzy.Core/Misc/Streams/ProcessStream.cs
  src/Fluxzy.Core/Misc/Streams/StreamUtils.cs
Due: Fluxzy.Core

Remove `EmptyStream` and `StreamUtils` as already covered by `System.IO.Stream.Null` (#220)
  src/Fluxzy.Core/Archiving/Writers/EventOnlyArchiveWriter.cs
  src/Fluxzy.Core/Clients/H11/Http11PoolProcessing.cs
  src/Fluxzy.Core/Core/Exchange.cs
  src/Fluxzy.Core/Core/ExchangeSourceProvider.cs
  src/Fluxzy.Core/Core/FromProxyConnectSourceProvider.cs
  src/Fluxzy.Core/Core/ReverseProxyExchangeSourceProvider.cs
  src/Fluxzy.Core/Misc/Streams/ChunkedTransferReadStream.cs
  src/Fluxzy.Core/Misc/Streams/ChunkedTransferWriteStream.cs
  src/Fluxzy.Core/Misc/Streams/CombinedReadonlyStream.cs
  src/Fluxzy.Core/Misc/Streams/EmptyWriteStream.cs
  src/Fluxzy.Core/Misc/Streams/ProcessStream.cs
  src/Fluxzy.Core/Misc/Streams/StreamUtils.cs
Due: Fluxzy.Core

Fix tunneling disposal not sync between peers
  src/Fluxzy.Core/Clients/H11/TunnelOnlyConnectionPool.cs
Due: Fluxzy.Core

Fix tunneling disposal not synced between peers (#222)
  src/Fluxzy.Core/Clients/H11/TunnelOnlyConnectionPool.cs
Due: Fluxzy.Core

Update Http11PoolProcessing.cs, fix typo
  src/Fluxzy.Core/Clients/H11/Http11PoolProcessing.cs
Due: Fluxzy.Core

Update Http11PoolProcessing.cs, fix typo (#225)
  src/Fluxzy.Core/Clients/H11/Http11PoolProcessing.cs
Due: Fluxzy.Core

Fix mTLS BouncyCastle where certificate chain is not sent
  src/Fluxzy.Core/Clients/Ssl/BouncyCastle/BouncyCastleClientCertificateConfiguration.cs
Due: Fluxzy.Core

Fix mTLS BouncyCastle where certificate chain is not sent (#226)
  src/Fluxzy.Core/Clients/Ssl/BouncyCastle/BouncyCastleClientCertificateConfiguration.cs
Due: Fluxzy.Core

Bump version
  version.json
Due: none

Make fluxzy sends path and query only when running in plain HTTP
  src/Fluxzy.Core/Clients/H11/Http11PoolProcessing.cs
  src/Fluxzy.Core/Clients/H11/TunnelOnlyConnectionPool.cs
  src/Fluxzy.Core/Clients/H11/WebsocketConnectionPool.cs
  src/Fluxzy.Core/Core/Header.cs
  src/Fluxzy.Core/Core/ProxyOrchestrator.cs
  src/Fluxzy.Core/Core/RequestHeader.cs
  src/Fluxzy.Core/Core/ResponseHeader.cs
  src/Fluxzy.Core/Misc/PathAndQueryUtility.cs
Due: Fluxzy.Core

Add unit tests
  test/Fluxzy.Tests/UnitTests/Misc/PathAndQueryUtilityTests.cs
Due: none

Make `Validate_DefaultFileName` run last (remove conflict with fluxzy-rule.yaml file)
  test/Fluxzy.Tests/Cli/WithRuleOption.cs
  test/Fluxzy.Tests/Startup.cs
  test/Fluxzy.Tests/TestOrderPolicy.cs
Due: none

Make `Validate_DefaultFileName` run last (remove conflict with fluxzy-rule.yaml file) (#228)
  test/Fluxzy.Tests/Cli/WithRuleOption.cs
  test/Fluxzy.Tests/Startup.cs
  test/Fluxzy.Tests/TestOrderPolicy.cs
Due: none

Fix plain HTTP mode sending absolute URI instead of path and query only (#227)
  src/Fluxzy.Core/Clients/H11/Http11PoolProcessing.cs
  src/Fluxzy.Core/Clients/H11/TunnelOnlyConnectionPool.cs
  src/Fluxzy.Core/Clients/H11/WebsocketConnectionPool.cs
  src/Fluxzy.Core/Core/Header.cs
  src/Fluxzy.Core/Core/ProxyOrchestrator.cs
  src/Fluxzy.Core/Core/RequestHeader.cs
  src/Fluxzy.Core/Core/ResponseHeader.cs
  src/Fluxzy.Core/Misc/PathAndQueryUtility.cs
  test/Fluxzy.Tests/UnitTests/Misc/PathAndQueryUtilityTests.cs
Due: Fluxzy.Core

Fix unwanted HTTP 100 continue status code not handled in certain case
  src/Fluxzy.Core/Clients/H11/Http11PoolProcessing.cs
  src/Fluxzy.Core/Formatters/Producers/Requests/HttpHelper.cs
  test/Fluxzy.Tests/Cases/Expect100ContinueTests.cs
  test/Fluxzy.Tests/UnitTests/Util/HttpHelperTests.cs
Due: Fluxzy.Core

Fix unwanted HTTP 100 continue status code not handled in certain case (#229)
  src/Fluxzy.Core/Clients/H11/Http11PoolProcessing.cs
  src/Fluxzy.Core/Formatters/Producers/Requests/HttpHelper.cs
  test/Fluxzy.Tests/Cases/Expect100ContinueTests.cs
  test/Fluxzy.Tests/UnitTests/Util/HttpHelperTests.cs
Due: Fluxzy.Core

Add method inline on `Is100Continue`
  src/Fluxzy.Core/Clients/H11/Http11PoolProcessing.cs
  src/Fluxzy.Core/Formatters/Producers/Requests/HttpHelper.cs
  test/Fluxzy.Tests/Cases/Expect100ContinueTests.cs
Due: Fluxzy.Core

Add method inline on `Is100Continue` (#230)
  src/Fluxzy.Core/Clients/H11/Http11PoolProcessing.cs
  src/Fluxzy.Core/Formatters/Producers/Requests/HttpHelper.cs
  test/Fluxzy.Tests/Cases/Expect100ContinueTests.cs
Due: Fluxzy.Core

Fix TagContainsFilter bad identifier computation
  src/Fluxzy.Core/Rules/Filters/TagContainsFilter.cs
Due: Fluxzy.Core

Fix TagContainsFilter bad identifier computation (#231)
  src/Fluxzy.Core/Rules/Filters/TagContainsFilter.cs
Due: Fluxzy.Core

Delete fluxzy.pcap.sln
  fluxzy.pcap.sln
Due: none

Delete fluxzy.pcap.sln (#232)
  fluxzy.pcap.sln
Due: none

Target ` 1.24` in main branch
  version.json
Due: none

Target ` 1.24` in main branch (#233)
  version.json
Due: none

Add Properties dictionary to `ArchiveMetaInformation`
  src/Fluxzy.Core/Archiving/ArchiveMetaInformation.cs
Due: Fluxzy.Core

Add Properties dictionary to `ArchiveMetaInformation` (#234)
  src/Fluxzy.Core/Archiving/ArchiveMetaInformation.cs
Due: Fluxzy.Core

Update IArchiveReader to enable retrieving assets related to exchange or connection
  src/Fluxzy.Core/Archiving/Readers/DirectoryArchiveReader.cs
  src/Fluxzy.Core/Archiving/Readers/FluxzyArchiveReader.cs
  src/Fluxzy.Core/Archiving/Readers/IArchiveReader.cs
Due: Fluxzy.Core

Add ClipboardManager base
  src/Fluxzy.Core/Archiving/Clipboard/ClipboardManager.cs
  src/Fluxzy.Core/Archiving/Clipboard/CopyPolicyEnforcer.cs
  src/Fluxzy.Core/Archiving/DirectoryArchiveHelper.cs
Due: Fluxzy.Core

Add first drop of a working ClipboardManager
  src/Fluxzy.Core/Archiving/Clipboard/ClipboardManager.cs
  src/Fluxzy.Core/Archiving/Clipboard/CopyPolicyEnforcer.cs
  src/Fluxzy.Core/Archiving/ConnectionInfo.cs
  src/Fluxzy.Core/Archiving/DirectoryArchiveHelper.cs
  src/Fluxzy.Core/Archiving/ExchangeInfo.cs
  src/Fluxzy.Core/Archiving/Readers/DirectoryArchiveReader.cs
  src/Fluxzy.Core/Archiving/Readers/FluxzyArchiveReader.cs
  src/Fluxzy.Core/Archiving/Readers/IArchiveReader.cs
  src/Fluxzy.Core/Archiving/Writers/DirectoryArchiveWriter.cs
  test/Fluxzy.Tests/UnitTests/Clipboard/ClipboardManagerTests.cs
Due: Fluxzy.Core

Path conditions:
  Fluxzy.Core: any of: src/Fluxzy.Core/**, but not: src/Fluxzy.Core.Pcap/**, src/Fluxzy.Core.Pcap.Cli/**, src/Fluxzy.Core.Pcap/**, src/Fluxzy.Extensions/**, src/Fluxzy.Tools.DocGen/**, src/Fluxzy.Core/Clients/H2Logger.cs, src/Fluxzy.Core/Clients/H1Logger.cs, src/Fluxzy.Core/Misc/Streams/DebugFileStream.cs
  Fluxzy: any of: src/Fluxzy/**, but not: src/Fluxzy.Core.Pcap/**, src/Fluxzy.Core.Pcap.Cli/**, src/Fluxzy.Core.Pcap/**, src/Fluxzy.Extensions/**, src/Fluxzy.Tools.DocGen/**, src/Fluxzy.Core/Clients/H2Logger.cs, src/Fluxzy.Core/Clients/H1Logger.cs, src/Fluxzy.Core/Misc/Streams/DebugFileStream.cs
