Repository haga-rak/fluxzy.core: changes, and which Codecov flags are due for each by the changed paths.
All: Fluxzy.Core, Fluxzy

Set version to '1.23-alpha'
  version.json
Due: none

Set version to '1.23'
  version.json
Due: none

Fix build version
  version.json
Due: none

Fix bad identation on untestable github action yaml
  .github/workflows/release-docker.yml
Due: none

Add necessary env var to workflow
  .github/workflows/release-docker.yml
Due: none

Update release-docker.yml
  .github/workflows/release-docker.yml
Due: none

Fix passing env var into publish pipeline
  .github/workflows/release-docker.yml
Due: none

Fix missing env var in docker publish pipeline (#204)
  .github/workflows/release-docker.yml
Due: none

Fix `entrypoint.sh` not executable
  docker/Dockerfile.alpine-x64
Due: none

Fix `entrypoint.sh` not executable (#205)
  docker/Dockerfile.alpine-x64
Due: none

Bump build version
  version.json
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

Add default value for `StringFilter.Operation` when omitted
  src/Fluxzy.Core/Rules/Filters/StringFilter.cs
Due: Fluxzy.Core

Add test coverage for missing `StringFilter.Operation`
  test/Fluxzy.Tests/Cli/WithRuleOptionHostFilter.cs
Due: none

Set default value for `StringFilter.Operation` when omitted during yaml definition (#208)
  src/Fluxzy.Core/Rules/Filters/StringFilter.cs
  test/Fluxzy.Tests/Cli/WithRuleOptionHostFilter.cs
  version.json
Due: Fluxzy.Core

Add default rule file `fluxzy-rule.yaml` and `fluxzy-rule.yml`
  src/Fluxzy/Commands/StartCommandBuilder.cs
Due: Fluxzy

Add unit tests
  test/Fluxzy.Tests/Cli/WithRuleOption.cs
Due: none

Make unit test selective and avoid conflicting state
  test/Fluxzy.Tests/Cli/WithRuleOption.cs
Due: none

Cleanup workdir on startup
  test/Fluxzy.Tests/Startup.cs
Due: none

Add a default file name to implicitly load rule (#209)
  src/Fluxzy/Commands/StartCommandBuilder.cs
  test/Fluxzy.Tests/Cli/WithRuleOption.cs
  test/Fluxzy.Tests/Startup.cs
Due: Fluxzy

Add docker information on README.md
  README.md
Due: none

Update README.md
  README.md
Due: none

Add alias `-v` for `--version`
  src/Fluxzy/FluxzyStartup.cs
Due: Fluxzy

Add alias `-v` for `--version` (#210)
  src/Fluxzy/FluxzyStartup.cs
Due: Fluxzy

Fix version option regression
  src/Fluxzy/FluxzyStartup.cs
Due: Fluxzy

Fix version option regression (#211)
  src/Fluxzy/FluxzyStartup.cs
Due: Fluxzy

Update certificate initialization in CertificateCommandBuilder
  src/Fluxzy/Commands/CertificateCommandBuilder.cs
Due: Fluxzy

Remove nullability from certificateProvider parameter
  src/Fluxzy.Core/Core/ExchangeSourceProviderHelper.cs
Due: Fluxzy.Core

Make FluxzySecurity non-static to allow more testing
  src/Fluxzy.Core/Certificates/Certificate.cs
  src/Fluxzy.Core/Certificates/CertificateAuthorityManager.cs
  src/Fluxzy.Core/Certificates/FluxzySecurity.cs
  src/Fluxzy/Commands/CertificateCommandBuilder.cs
  src/Fluxzy/Commands/StartCommandBuilder.cs
  test/Fluxzy.Tests/UnitTests/Certificates/CertificateTests.cs
Due: Fluxzy.Core, Fluxzy

Move environment-related classes to Core project
  src/Fluxzy.Core/Core/DictionaryEnvironmentProvider.cs
  src/Fluxzy.Core/Core/EnvironmentProvider.cs
  src/Fluxzy.Core/Core/SystemEnvironmentProvider.cs
  src/Fluxzy/Dockering/ContainerEnvironmentHelper.cs
Due: Fluxzy.Core, Fluxzy

Fix import
  src/Fluxzy/Program.cs
Due: Fluxzy

Add certificate setting and expand variable for FluxzySecurity
  src/Fluxzy.Core/Certificates/FluxzySecurity.cs
  src/Fluxzy.Core/Core/EnvironmentProvider.cs
  src/Fluxzy.Core/Core/SystemEnvironmentProvider.cs
  test/Fluxzy.Tests/UnitTests/Certificates/CertificateTests.cs
  test/Fluxzy.Tests/UnitTests/Container/ContainerEnvironmentHelperTests.cs
Due: Fluxzy.Core

Move default instant to FluxzySecurityParams
  src/Fluxzy.Core/Certificates/FluxzySecurity.cs
  src/Fluxzy.Core/Certificates/FluxzySecurityParams.cs
Due: Fluxzy.Core

Update unit tests
  test/Fluxzy.Tests/UnitTests/Certificates/CertificateTests.cs
Due: none

Add more test case: cert without pass
  test/Fluxzy.Tests/Fluxzy.Tests.csproj
  test/Fluxzy.Tests/_Files/Certificates/client-cert.clear.pifix
Due: none

Add command `cert default`
  src/Fluxzy.Core/Certificates/Certificate.cs
  src/Fluxzy.Core/Certificates/CertificateAuthorityManager.cs
  src/Fluxzy/Commands/CertificateCommandBuilder.cs
Due: Fluxzy.Core, Fluxzy

Make environmentProvider injectable from Main
  src/Fluxzy.Core/Core/EnvironmentProvider.cs
  src/Fluxzy/Commands/CertificateCommandBuilder.cs
  src/Fluxzy/FluxzyStartup.cs
Due: Fluxzy.Core, Fluxzy

Add unit test for default command
  test/Fluxzy.Tests/Cli/Certificates/CertificateDefaultCommand.cs
  test/Fluxzy.Tests/Cli/Dissects/DissectCommandTests.cs
  test/Fluxzy.Tests/Cli/Scaffolding/CommandBase.cs
Due: none

Increate cert command coverage with list, export and check
  src/Fluxzy/Commands/CertificateCommandBuilder.cs
  test/Fluxzy.Tests/Cli/Certificates/CertificateDefaultCommand.cs
Due: Fluxzy

Fix unit test on linux
  test/Fluxzy.Tests/Cli/Certificates/CertificateDefaultCommand.cs
Due: none

Path conditions:
  Fluxzy.Core: any of: src/Fluxzy.Core/**, but not: src/Fluxzy.Core.Pcap/**, src/Fluxzy.Core.Pcap.Cli/**, src/Fluxzy.Core.Pcap/**, src/Fluxzy.Extensions/**, src/Fluxzy.Tools.DocGen/**, src/Fluxzy.Core/Clients/H2Logger.cs, src/Fluxzy.Core/Clients/H1Logger.cs, src/Fluxzy.Core/Misc/Streams/DebugFileStream.cs
  Fluxzy: any of: src/Fluxzy/**, but not: src/Fluxzy.Core.Pcap/**, src/Fluxzy.Core.Pcap.Cli/**, src/Fluxzy.Core.Pcap/**, src/Fluxzy.Extensions/**, src/Fluxzy.Tools.DocGen/**, src/Fluxzy.Core/Clients/H2Logger.cs, src/Fluxzy.Core/Clients/H1Logger.cs, src/Fluxzy.Core/Misc/Streams/DebugFileStream.cs
