Repository haga-rak/fluxzy.core: changes, and which Codecov flags are due for each by the changed paths.
All: Fluxzy.Core, Fluxzy

codecov.yml:

comment:
  layout: "header, diff, flags, components"

coverage:
  status:
    project:
      default:
        target: 65% 

component_management:
  default_rules:
    statuses:
      - type: project
        target: 65%
        branches:
          - "main"
  individual_components:
    - component_id: Fluxzy.Core
      name: Fluxzy.Core
      paths:
        - src/Fluxzy.Core/**
    - component_id: Fluxzy
      name: Fluxzy
      paths:
        - src/Fluxzy/**
ignore:
  - "src/Fluxzy.Core.Pcap/**"
  - "src/Fluxzy.Core.Pcap.Cli/**"
  - "src/Fluxzy.Core.Pcap/**"
  - "src/Fluxzy.Extensions/**"
  - "src/Fluxzy.Tools.DocGen/**"

# Ignore debugging code 
  - "src/Fluxzy.Core/Clients/H2Logger.cs"
  - "src/Fluxzy.Core/Clients/H1Logger.cs"
  - "src/Fluxzy.Core/Misc/Streams/DebugFileStream.cs"

Add H2 initialwindow size announcement
  src/Fluxzy.Core/Clients/H2/H2StreamSetting.cs
  src/Fluxzy.Core/Clients/H2/SettingHelper.cs
Due: Fluxzy.Core

Add grease in protocol version
  src/Fluxzy.Core/Clients/H2Logger.cs
  src/Fluxzy.Core/Clients/PoolBuilder.cs
  src/Fluxzy.Core/Clients/Ssl/BouncyCastle/FluxzyTlsClient.cs
  src/Fluxzy.Core/Clients/Ssl/Ja3FingerPrint.cs
Due: Fluxzy.Core

More signature adjustment
  src/Fluxzy.Core/Clients/Ssl/BouncyCastle/FingerPrintTlsExtensionsEnforcer.cs
  src/Fluxzy.Core/Clients/Ssl/BouncyCastle/FluxzyTlsClient.cs
  src/Fluxzy.Core/Clients/Ssl/Ja3FingerPrint.cs
  src/Fluxzy.Core/Rules/Actions/ImpersonateAction.cs
  src/Fluxzy.Core/Rules/Actions/ImpersonateConfiguration.cs
  test/Fluxzy.Tests/Ja3FingerPrintTests.cs
  test/Fluxzy.Tests/Startup.cs
  test/Fluxzy.Tests/_Files/Ja3/fingerprints.txt
Due: Fluxzy.Core

Remove custom sorting at fluxzy level
  src/Fluxzy.Core/Clients/Ssl/BouncyCastle/FingerPrintTlsExtensionsEnforcer.cs
  src/Fluxzy.Core/Clients/Ssl/Ja3FingerPrint.cs
  test/Fluxzy.Tests/Ja3FingerPrintTests.cs
Due: Fluxzy.Core

Add ImpersonateAction
  src/Fluxzy.Core/Clients/H2/H2StreamSetting.cs
  src/Fluxzy.Core/Clients/Headers/HeaderAlterationReplace.cs
  src/Fluxzy.Core/Clients/Ssl/BouncyCastle/ConstBuffers.cs
  src/Fluxzy.Core/Clients/Ssl/BouncyCastle/FingerPrintTlsExtensionsEnforcer.cs
  src/Fluxzy.Core/Clients/Ssl/BouncyCastle/FluxzyTlsClient.cs
  src/Fluxzy.Core/Clients/Ssl/TlsFingerPrint.cs
  src/Fluxzy.Core/Core/ExchangeContext.cs
  src/Fluxzy.Core/Rules/Actions/ImpersonateAction.cs
  src/Fluxzy.Core/Rules/Actions/ImpersonateConfiguration.cs
  src/Fluxzy.Core/Rules/Actions/ImpersonateConfigurationManager.cs
  src/Fluxzy.Core/Rules/Actions/SetJa3FingerPrintAction.cs
  src/Fluxzy.Core/Rules/Actions/UpdateRequestHeaderAction.cs
  test/Fluxzy.Tests/ImpersonateConfigurationTests.cs
  test/Fluxzy.Tests/ImpersonateTests.cs
  test/Fluxzy.Tests/Ja3FingerPrintResponse.cs
  test/Fluxzy.Tests/TlsFingerPrintTests.cs
Due: Fluxzy.Core

Put scheme before Path (controlled by cloud flare)
  src/Fluxzy.Core/Clients/H2/Encoder/Utils/Http11Parser.cs
Due: Fluxzy.Core

Add option to avoid replacing if header already exists
  src/Fluxzy.Core/Clients/H2/HeaderEncoder.cs
  src/Fluxzy.Core/Clients/Headers/HeaderAlterationAdd.cs
  src/Fluxzy.Core/Rules/Actions/ImpersonateAction.cs
  src/Fluxzy.Core/Rules/Actions/ImpersonateConfiguration.cs
  src/Fluxzy.Core/Rules/Actions/ImpersonateConfigurationManager.cs
  test/Fluxzy.Tests/ImpersonateTests.cs
Due: Fluxzy.Core

Add ImpersonageAgent to identify client
  src/Fluxzy.Core/Rules/Actions/ImpersonateAgent.cs
  src/Fluxzy.Core/Rules/Actions/ImpersonateConfiguration.cs
  src/Fluxzy.Core/Rules/Actions/ImpersonateConfigurationManager.cs
  src/Fluxzy.Core/Rules/Actions/PredefinedImpersonateConfigurationLoader.cs
  test/Fluxzy.Tests/ImpersonateTests.cs
Due: Fluxzy.Core

Add firefox 133 configuration
  src/Fluxzy.Core/Rules/Actions/ImpersonateAction.cs
  src/Fluxzy.Core/Rules/Actions/ImpersonateAgent.cs
  src/Fluxzy.Core/Rules/Actions/PredefinedImpersonateConfigurationLoader.cs
  test/Fluxzy.Tests/ImpersonateTests.cs
Due: Fluxzy.Core

Add secp256r1 to default early keys
  src/Fluxzy.Core/Clients/Ssl/BouncyCastle/FluxzyTlsClient.cs
  src/Fluxzy.Core/Rules/Actions/ImpersonateConfigurationManager.cs
Due: Fluxzy.Core

Fix encrypted client hello should work without grease
  src/Fluxzy.Core/Clients/Ssl/BouncyCastle/FingerPrintTlsExtensionsEnforcer.cs
  test/Fluxzy.Tests/ImpersonateTests.cs
Due: Fluxzy.Core

Make SignatureAndHash algorithmls customizable through Fingerprint
  src/Fluxzy.Core/Clients/Ssl/BouncyCastle/FluxzyTlsClient.cs
  src/Fluxzy.Core/Clients/Ssl/TlsFingerPrint.cs
  src/Fluxzy.Core/Rules/Actions/ImpersonateAction.cs
  src/Fluxzy.Core/Rules/Actions/ImpersonateConfiguration.cs
  src/Fluxzy.Core/Rules/Actions/PredefinedImpersonateConfigurationLoader.cs
Due: Fluxzy.Core

Add Impersonate Profile `Chrome_Android_131`
  src/Fluxzy.Core/Rules/Actions/ImpersonateConfiguration.cs
  src/Fluxzy.Core/Rules/Actions/PredefinedImpersonateConfigurationLoader.cs
  test/Fluxzy.Tests/ImpersonateTests.cs
Due: Fluxzy.Core

Refactor namespaces for Impersonate classes
  src/Fluxzy.Core/Clients/Ssl/ImpersonateAgent.cs
  src/Fluxzy.Core/Clients/Ssl/ImpersonateConfiguration.cs
  src/Fluxzy.Core/Clients/Ssl/ImpersonateConfigurationManager.cs
  src/Fluxzy.Core/Rules/Actions/PredefinedImpersonateConfigurationLoader.cs
  test/Fluxzy.Tests/ImpersonateConfigurationTests.cs
Due: Fluxzy.Core

Use stock Fluxzy.BouncyCastle package
  fluxzy.core.sln
  src/Fluxzy.Core/Clients/H2/Frames/SettingFrame.cs
  src/Fluxzy.Core/Clients/Ssl/TlsFingerPrint.cs
  src/Fluxzy.Core/Core/ExchangeContext.cs
  src/Fluxzy.Core/Fluxzy.Core.csproj
Due: Fluxzy.Core

Added edge 131 impersonate profile
  src/Fluxzy.Core/Rules/Actions/PredefinedImpersonateConfigurationLoader.cs
  test/Fluxzy.Tests/ImpersonateTests.cs
Due: Fluxzy.Core

Rename ImpersonateAgent to ImpersonateProfile
  src/Fluxzy.Core/Clients/Ssl/ImpersonateConfigurationManager.cs
  src/Fluxzy.Core/Clients/Ssl/ImpersonateProfile.cs
  src/Fluxzy.Core/Rules/Actions/PredefinedImpersonateConfigurationLoader.cs
Due: Fluxzy.Core

More renaming
  src/Fluxzy.Core/Clients/Ssl/ImpersonateConfiguration.cs
  src/Fluxzy.Core/Clients/Ssl/ImpersonateConfigurationManager.cs
  src/Fluxzy.Core/Core/ExchangeContext.cs
  src/Fluxzy.Core/Rules/Actions/ImpersonateAction.cs
  src/Fluxzy.Core/Rules/Actions/PredefinedImpersonateProfileLoader.cs
  test/Fluxzy.Tests/ImpersonateTests.cs
Due: Fluxzy.Core

Remove SetTlsCiphersActions
  docs/actions/ImpersonateAction.md
  docs/actions/SetJa3FingerPrintAction.md
  docs/searchable-items.json
  src/Fluxzy.Core/Rules/Actions/SetTlsCiphersAction.cs
Due: Fluxzy.Core

Add sample for Impersonation
  examples/Samples.No016.ImpersonateBrowser/Program.cs
  examples/Samples.No016.ImpersonateBrowser/Samples.No016.ImpersonateBrowser.csproj
  fluxzy.core.sln
Due: none

Refactor names
  src/Fluxzy.Core/Clients/Ssl/BouncyCastle/FingerPrintTlsExtensionsEnforcer.cs
  src/Fluxzy.Core/Clients/Ssl/BouncyCastle/FluxzyTlsClient.cs
  src/Fluxzy.Core/Clients/Ssl/ImpersonateConfigurationManager.cs
  src/Fluxzy.Core/Rules/Actions/ImpersonateProfileManager.cs
  test/Fluxzy.Tests/TlsFingerPrintTests.cs
Due: Fluxzy.Core

Add default impersonate profile generation
  docs/impersonate-profiles/Chrome_Android_131.json
  docs/impersonate-profiles/Chrome_Windows_131.json
  docs/impersonate-profiles/Edge_Windows_131.json
  docs/impersonate-profiles/Firefox_Windows_133.json
  src/Fluxzy.Tools.DocGen/Program.cs
Due: none

Minimize allocations on protocol versions resolving
  src/Fluxzy.Core/Clients/Ssl/BouncyCastle/FluxzyTlsClient.cs
  src/Fluxzy.Core/Clients/Ssl/BouncyCastle/ProtocolVersionHelper.cs
  src/Fluxzy.Core/Clients/Ssl/ImpersonateConfigurationManager.cs
  src/Fluxzy.Core/Core/ProxyRuntimeSetting.cs
Due: Fluxzy.Core

Refactor TlsFingerPrint add Comments
  src/Fluxzy.Core/Clients/Ssl/AdvancedTlsSettings.cs
  src/Fluxzy.Core/Clients/Ssl/BouncyCastle/FluxzyTlsClient.cs
  src/Fluxzy.Core/Clients/Ssl/TlsFingerPrint.cs
Due: Fluxzy.Core

Change default test values for fingerprint
  test/Fluxzy.Tests/_Files/Ja3/fingerprints.txt
Due: none

Add Early key shared group as editable settings
  src/Fluxzy.Core/Clients/Ssl/BouncyCastle/FluxzyTlsClient.cs
  src/Fluxzy.Core/Clients/Ssl/ImpersonateConfiguration.cs
  src/Fluxzy.Core/Clients/Ssl/TlsFingerPrint.cs
  src/Fluxzy.Core/Rules/Actions/ImpersonateAction.cs
  src/Fluxzy.Core/Rules/Actions/ImpersonateProfileManager.cs
  src/Fluxzy/Properties/launchSettings.json
Due: Fluxzy.Core, Fluxzy

Sanitize unit tests
  src/Fluxzy.Core/Rules/ActionDistinctiveAttribute.cs
  test/Fluxzy.Tests/ImpersonateTests.cs
Due: Fluxzy.Core

Rename to built-in profiles
  src/Fluxzy.Core/Clients/Ssl/ImpersonateConfigurationManager.cs
  src/Fluxzy.Core/Rules/Actions/ImpersonateProfileManager.cs
Due: Fluxzy.Core

Push non-prerelease version
  version.json
Due: none

Update default key exchange from Chromium 133 based browser
  src/Fluxzy.Core/Rules/Actions/ImpersonateProfileManager.cs
Due: Fluxzy.Core

Update default key exchange from Chromium 133 based browser (#342)
  src/Fluxzy.Core/Rules/Actions/ImpersonateProfileManager.cs
Due: Fluxzy.Core

Update the default impersonate profiles templates
  docs/impersonate-profiles/Chrome_Android_131.json
  docs/impersonate-profiles/Chrome_Windows_131.json
  docs/impersonate-profiles/Edge_Windows_131.json
  docs/impersonate-profiles/Firefox_Windows_133.json
Due: none

Update default impersonation profile templates
  docs/impersonate-profiles/Chrome_Android_131.json
  docs/impersonate-profiles/Chrome_Windows_131.json
  docs/impersonate-profiles/Edge_Windows_131.json
  docs/impersonate-profiles/Firefox_Windows_133.json
Due: none

Update default impersonation profile templates (include early keys) (#344)
  docs/impersonate-profiles/Chrome_Android_131.json
  docs/impersonate-profiles/Chrome_Windows_131.json
  docs/impersonate-profiles/Edge_Windows_131.json
  docs/impersonate-profiles/Firefox_Windows_133.json
  version.json
Due: none

Add Impersonation feature to README.md
  README.md
Due: none

Add Impersonation feature to README.md (#345)
  README.md
Due: none

Fix bad port number in docker command sample
  README.md
Due: none

Fix bad port number in docker command sample (#346)
  README.md
Due: none

Change main loop to `TaskCreationOptions.LongRunning` task option
  src/Fluxzy.Core/Proxy.cs
Due: Fluxzy.Core
