Repository haga-rak/fluxzy.core: changes, and which Codecov flags are due for each by the changed paths.
All: Fluxzy.Core, Fluxzy

Update docs README.md
  docs/README.md
Due: none

Add debugging-variables containing useful envvar for extended debug mode
  tools/debugging-variables
Due: none

Remove lingering transfer encoding when translating H2 to H11 with specific status code (204,204,304)
  src/Fluxzy.Core/Core/Header.cs
  src/Fluxzy.Core/Core/ResponseHeader.cs
  src/Fluxzy/Properties/launchSettings.json
Due: Fluxzy.Core, Fluxzy

Remove lingering transfer encoding when translating H2 to H11 with specific status code (204,204,304) (#174)
  src/Fluxzy.Core/Core/Header.cs
  src/Fluxzy.Core/Core/ResponseHeader.cs
  src/Fluxzy/Properties/launchSettings.json
Due: Fluxzy.Core, Fluxzy

Update launchSettings.json
  src/Fluxzy/Properties/launchSettings.json
Due: Fluxzy

Set next version to 1.21
  version.json
Due: none

Set version to '1.22-alpha'
  version.json
Due: none

Fix `SetCookieItem.TryParse` produces invalid parsing with empty cookie value
  src/Fluxzy.Core/Formatters/Producers/Responses/SetCookieProducer.cs
  test/Fluxzy.Tests/UnitTests/CookieFlows/SetCookieItemTests.cs
Due: Fluxzy.Core

Fix `SetCookieItem.TryParse` produces invalid parsing with empty cookie value (#175)
  src/Fluxzy.Core/Formatters/Producers/Responses/SetCookieProducer.cs
  test/Fluxzy.Tests/UnitTests/CookieFlows/SetCookieItemTests.cs
Due: Fluxzy.Core

Add examples to main solution
  fluxzy.core.sln
Due: none

Update next-version
  version.json
Due: none

Add examples to main solution, set next version (#176)
  fluxzy.core.sln
  version.json
Due: none

Add simple cache to bodies length for faster access during analysis
  src/Fluxzy.Core/Archiving/Readers/DirectoryArchiveReader.cs
Due: Fluxzy.Core

Add simple cache to bodies length for faster access during analysis (#177)
  src/Fluxzy.Core/Archiving/Readers/DirectoryArchiveReader.cs
Due: Fluxzy.Core

Add new action `RemoveResponseCookieAction`
  src/Fluxzy.Core/Rules/Actions/HighLevelActions/RemoveResponseCookieAction.cs
Due: Fluxzy.Core

Add `RemoveResponseCookieAction` unit tests
  test/Fluxzy.Tests/Cli/WithRuleOptionCookies.cs
Due: none

Update documentation
  docs/actions/RemoveResponseCookieAction.md
  docs/searchable-items.json
Due: none

Fix unit test timeout when running concurrent tests
  test/Fluxzy.Tests/UnitTests/Handlers/ViaDefaultHandler.cs
Due: none

Fix unit test timeout when running concurrent tests (#179)
  test/Fluxzy.Tests/UnitTests/Handlers/ViaDefaultHandler.cs
Due: none

Add new action `RemoveResponseCookieAction` (#178)
  docs/actions/RemoveResponseCookieAction.md
  docs/searchable-items.json
  src/Fluxzy.Core/Rules/Actions/HighLevelActions/RemoveResponseCookieAction.cs
  test/Fluxzy.Tests/Cli/WithRuleOptionCookies.cs
Due: Fluxzy.Core

Make examples use stock nuget.org version of `Fluxzy.Core` instead of project reference
  examples/Samples.No001.SimpleCapture/Samples.No001.SimpleCapture.csproj
  examples/Samples.No002.Filtering/Samples.No002.Filtering.csproj
  examples/Samples.No003.RawCapture/Samples.No003.RawCapture.csproj
  examples/Samples.No004.BasicAlterations/Samples.No004.BasicAlterations.csproj
  examples/Samples.No005.BasicAlterations_FromConfigurationFile/Samples.No005.BasicAlterations_FromConfigurationFile.csproj
Due: none

Make examples use stock nuget.org version of `Fluxzy.Core` instead of project reference (#180)
  examples/Samples.No001.SimpleCapture/Samples.No001.SimpleCapture.csproj
  examples/Samples.No002.Filtering/Samples.No002.Filtering.csproj
  examples/Samples.No003.RawCapture/Samples.No003.RawCapture.csproj
  examples/Samples.No004.BasicAlterations/Samples.No004.BasicAlterations.csproj
  examples/Samples.No005.BasicAlterations_FromConfigurationFile/Samples.No005.BasicAlterations_FromConfigurationFile.csproj
Due: none

Set back version
  version.json
Due: none

Update version
  version.json
Due: none

Rollback version
  version.json
Due: none

Set version to 1.21.3
  version.json
Due: none

Halt on `HttpCompletionOption.ResponseHeadersRead` in custom handler tests
  test/Fluxzy.Tests/UnitTests/Handlers/Http11ConcurrentCall.cs
  test/Fluxzy.Tests/UnitTests/Handlers/Http11SingleCallUrl.cs
  test/Fluxzy.Tests/UnitTests/Handlers/ViaDefaultHandler.cs
Due: none

Integrate ProxyAuthenticationMethod with support only of basic method and provided method implementation
  src/Fluxzy.Core/Core/Authentication/BasicAuthenticationMethod.cs
  src/Fluxzy.Core/Core/Authentication/NoAuthenticationMethod.cs
  src/Fluxzy.Core/Core/Authentication/ProxyAuthenticationMethod.cs
  src/Fluxzy.Core/Core/Authentication/ProxyAuthenticationMethodBuilder.cs
  src/Fluxzy.Core/Core/ExchangeSourceProviderHelper.cs
  src/Fluxzy.Core/Core/FromProxyConnectSourceProvider.cs
  src/Fluxzy.Core/Core/Header.cs
  src/Fluxzy.Core/Fluxzy.Core.csproj.DotSettings
  src/Fluxzy.Core/FluxzySetting.Fluent.cs
  src/Fluxzy.Core/FluxzySetting.cs
  src/Fluxzy.Core/FluxzySharedSetting.cs
  src/Fluxzy.Core/Proxy.cs
  src/Fluxzy.Core/ProxyAuthentication.cs
  src/Fluxzy.Core/ProxyAuthenticationType.cs
Due: Fluxzy.Core

Add unit tests for FluxzyCore APIs
  test/Fluxzy.Tests/UnitTests/Authentication/ProxyAuthenticationTests.cs
  test/Fluxzy.Tests/UnitTests/Settings/FluxzySettingTests.cs
Due: none

Handle proxy basic authentication with CLI
  src/Fluxzy.Core/FluxzySetting.cs
  src/Fluxzy/Commands/StartCommandBuilder.cs
  src/Fluxzy/Commands/StartCommandOptions.cs
Due: Fluxzy.Core, Fluxzy

Add remote endpoint in `InitClientConnection` signature
  src/Fluxzy.Core/Core/ExchangeSourceProvider.cs
  src/Fluxzy.Core/Core/FromProxyConnectSourceProvider.cs
  src/Fluxzy.Core/Core/ProxyOrchestrator.cs
  src/Fluxzy.Core/Core/ReverseProxyExchangeSourceProvider.cs
  src/Fluxzy.Core/Core/ReverseProxyPlainExchangeSourceProvider.cs
Due: Fluxzy.Core

Add IPEndPoint in ProxyAuthenticationMethod
  src/Fluxzy.Core/Core/Authentication/BasicAuthenticationMethod.cs
  src/Fluxzy.Core/Core/Authentication/NoAuthenticationMethod.cs
  src/Fluxzy.Core/Core/Authentication/ProxyAuthenticationMethod.cs
  src/Fluxzy.Core/Core/FromProxyConnectSourceProvider.cs
Due: Fluxzy.Core

Add better inline documentation
  src/Fluxzy.Core/Core/Authentication/ProxyAuthenticationMethod.cs
Due: Fluxzy.Core

Reorganize CLI unit tests
  test/Fluxzy.Tests/Cli/CaptureType.cs
  test/Fluxzy.Tests/Cli/CliNoCap.cs
  test/Fluxzy.Tests/Cli/CliOutputs.cs
  test/Fluxzy.Tests/Cli/CliTestBase.cs
  test/Fluxzy.Tests/Cli/CliWithCap.cs
  test/Fluxzy.Tests/Cli/CliWithCapOutOfProc.cs
Due: none

Throws FluxzyBadExitCodeException instead of InvalidOperationException
  test/Fluxzy.Tests/Cli/Scaffolding/FluxzyCommandLineHost.cs
  test/Fluxzy.Tests/Cli/Scaffolding/TimeoutTaskCompletionSource.cs
Due: none

Add support for NetworkCrednetials
  test/Fluxzy.Tests/Cli/Scaffolding/ProxiedHttpClient.cs
Due: none

Add CLI unit tests for ProxyAuthentication
  test/Fluxzy.Tests/Cli/WitProxyAuthentication.cs
  test/Fluxzy.Tests/Cli/WithRuleOption.cs
Due: none

Add proxy authentication features with Basic auth or a custom `ProxyAuthenticationMethod` (#187)
  src/Fluxzy.Core/Core/Authentication/BasicAuthenticationMethod.cs
  src/Fluxzy.Core/Core/Authentication/NoAuthenticationMethod.cs
  src/Fluxzy.Core/Core/Authentication/ProxyAuthenticationMethod.cs
  src/Fluxzy.Core/Core/Authentication/ProxyAuthenticationMethodBuilder.cs
  src/Fluxzy.Core/Core/ExchangeSourceProvider.cs
  src/Fluxzy.Core/Core/ExchangeSourceProviderHelper.cs
  src/Fluxzy.Core/Core/FromProxyConnectSourceProvider.cs
  src/Fluxzy.Core/Core/Header.cs
  src/Fluxzy.Core/Core/ProxyOrchestrator.cs
  src/Fluxzy.Core/Core/ReverseProxyExchangeSourceProvider.cs
  src/Fluxzy.Core/Core/ReverseProxyPlainExchangeSourceProvider.cs
  src/Fluxzy.Core/Fluxzy.Core.csproj.DotSettings
  src/Fluxzy.Core/FluxzySetting.Fluent.cs
  src/Fluxzy.Core/FluxzySetting.cs
  src/Fluxzy.Core/FluxzySharedSetting.cs
  src/Fluxzy.Core/Proxy.cs
  src/Fluxzy.Core/ProxyAuthentication.cs
  src/Fluxzy.Core/ProxyAuthenticationType.cs
  src/Fluxzy/Commands/StartCommandBuilder.cs
  src/Fluxzy/Commands/StartCommandOptions.cs
  test/Fluxzy.Tests/Cli/CaptureType.cs
  test/Fluxzy.Tests/Cli/CliNoCap.cs
  test/Fluxzy.Tests/Cli/CliOutputs.cs
  test/Fluxzy.Tests/Cli/CliTestBase.cs
  test/Fluxzy.Tests/Cli/CliWithCap.cs
  test/Fluxzy.Tests/Cli/CliWithCapOutOfProc.cs
  test/Fluxzy.Tests/Cli/Scaffolding/FluxzyCommandLineHost.cs
  test/Fluxzy.Tests/Cli/Scaffolding/ProxiedHttpClient.cs
  test/Fluxzy.Tests/Cli/Scaffolding/TimeoutTaskCompletionSource.cs
  test/Fluxzy.Tests/Cli/WitProxyAuthentication.cs
  test/Fluxzy.Tests/Cli/WithRuleOption.cs
  test/Fluxzy.Tests/UnitTests/Authentication/ProxyAuthenticationTests.cs
  test/Fluxzy.Tests/UnitTests/Settings/FluxzySettingTests.cs
Due: Fluxzy.Core, Fluxzy

Introduce `FLUXZY_MAX_PROCESSING_BUFFER` var to limit the maximum buffered header possible. Default value is 1024 * 512
  src/Fluxzy.Core/FluxzySharedSetting.cs
Due: Fluxzy.Core

Fix `Multiply` behaviour allocation inaccurate buffer size
  src/Fluxzy.Core/Misc/ResizableBuffers/RsBuffer.cs
Due: Fluxzy.Core

Path conditions:
  Fluxzy.Core: any of: src/Fluxzy.Core/**, but not: src/Fluxzy.Core.Pcap/**, src/Fluxzy.Core.Pcap.Cli/**, src/Fluxzy.Core.Pcap/**, src/Fluxzy.Extensions/**, src/Fluxzy.Tools.DocGen/**, src/Fluxzy.Core/Clients/H2Logger.cs, src/Fluxzy.Core/Clients/H1Logger.cs, src/Fluxzy.Core/Misc/Streams/DebugFileStream.cs
  Fluxzy: any of: src/Fluxzy/**, but not: src/Fluxzy.Core.Pcap/**, src/Fluxzy.Core.Pcap.Cli/**, src/Fluxzy.Core.Pcap/**, src/Fluxzy.Extensions/**, src/Fluxzy.Tools.DocGen/**, src/Fluxzy.Core/Clients/H2Logger.cs, src/Fluxzy.Core/Clients/H1Logger.cs, src/Fluxzy.Core/Misc/Streams/DebugFileStream.cs
