Repository haga-rak/fluxzy.core: changes, and which Codecov flags are due for each by the changed paths.
All: Fluxzy.Core, Fluxzy.Core.Pcap, Fluxzy

codecov.yml:

comment:
  layout: "header, diff, flags, components"

coverage:
  range: 60..73
  status:
    project:
      default:
        target: 65% 
    patch: no

component_management:
  default_rules:
    statuses:
      - type: project
        target: 65%
        branches:
          - "main"
  individual_components:
    - component_id: Fluxzy.Core
      name: Fluxzy.Core
      paths:
        - src/Fluxzy.Core/**
    - component_id: Fluxzy.Core.Pcap
      name: Fluxzy.Core.Pcap
      paths:
        - src/Fluxzy.Core.Pcap/**
    - component_id: Fluxzy
      name: Fluxzy
      paths:
        - src/Fluxzy/**
ignore:
  - "src/Fluxzy.Core.Pcap.Cli/**"
  - "src/Fluxzy.Extensions/**"
  - "src/Fluxzy.Tools.DocGen/**"
  - "src/Fluxzy/Commands/PrettyOutput/**"

# Ignore debugging code 
  - "src/Fluxzy.Core/Clients/H2Logger.cs"
  - "src/Fluxzy.Core/Clients/H1Logger.cs"
  - "src/Fluxzy.Core/Misc/Streams/DebugFileStream.cs"
  - "src/Fluxzy/ArgsHelper.cs"
  - "src/Fluxzy.Core/Misc/Traces/**"
  - "src/Fluxzy.Core/Utils/ProcessTracking/LinuxProcessHelper.cs"
  - "src/Fluxzy.Core/Utils/ProcessTracking/MacOsProcessHelper.cs"
  - "src/Fluxzy.Core/Utils/ProcessTracking/MacOsNativeMethods.cs"
  - "src/Fluxzy.Core/Core/H2DownStreamPipe.cs"
  - "src/Fluxzy.Core/Core/ServerStreamWorker.cs"

Optimize single non-window HTTP/2 writes
  src/Fluxzy.Core/Clients/H2/H2ConnectionPool.cs
  test/Fluxzy.Benchmarks/H2ConnectionPoolWriterBatchBenchmark.cs
Due: Fluxzy.Core

Delete test/Fluxzy.Benchmarks/H2ConnectionPoolWriterBatchBenchmark.cs
  test/Fluxzy.Benchmarks/H2ConnectionPoolWriterBatchBenchmark.cs
Due: none

Tune HTTP/2 stream window update cadence
  src/Fluxzy.Core/Clients/H2/StreamWorker.cs
  test/Fluxzy.Benchmarks/H2WindowUpdateCadenceBenchmark.cs
  test/Fluxzy.Tests/UnitTests/H2Client/StreamWorkerWindowUpdateTests.cs
Due: Fluxzy.Core

Reuse scratch buffer in chunked read stream
  src/Fluxzy.Core/Misc/Streams/ChunkedTransferReadStream.cs
Due: Fluxzy.Core

Make Synchronizer.LockAsync cancellable and pass the exchange token in PoolBuilder
  src/Fluxzy.Core/Clients/PoolBuilder.cs
  src/Fluxzy.Core/Utils/Synchronizer.cs
  test/Fluxzy.Tests/UnitTests/Util/SynchronizerTests.cs
Due: Fluxzy.Core

Add ConnectionTimeout bounding upstream connect and TLS handshake
  src/Fluxzy.Core.Pcap/CapturableConnection.cs
  src/Fluxzy.Core/Clients/IRemoteConnectionBuilder.cs
  src/Fluxzy.Core/Clients/Ssl/BouncyCastle/BouncyCastleConnectionBuilder.cs
  src/Fluxzy.Core/Core/ITcpConnection.cs
  src/Fluxzy.Core/Core/Impl/DefaultTcpConnection.cs
  src/Fluxzy.Core/Core/ProxyRuntimeSetting.cs
  src/Fluxzy.Core/FluxzySetting.Fluent.cs
  src/Fluxzy.Core/FluxzySetting.cs
Due: Fluxzy.Core, Fluxzy.Core.Pcap

Add regression tests for hung TLS handshake wedging the authority lock
  test/Fluxzy.Tests/Cases/UpstreamTlsHandshakeHangTests.cs
Due: none

Let the abort watchdog cancel exchanges parked before the upstream send
  src/Fluxzy.Core/Core/DownStreamAbortWatchdog.cs
Due: Fluxzy.Core

Bound upstream connection establishment and release authority lock waiters on client abort (#736)
  src/Fluxzy.Core.Pcap/CapturableConnection.cs
  src/Fluxzy.Core/Clients/IRemoteConnectionBuilder.cs
  src/Fluxzy.Core/Clients/PoolBuilder.cs
  src/Fluxzy.Core/Clients/Ssl/BouncyCastle/BouncyCastleConnectionBuilder.cs
  src/Fluxzy.Core/Core/DownStreamAbortWatchdog.cs
  src/Fluxzy.Core/Core/ITcpConnection.cs
  src/Fluxzy.Core/Core/Impl/DefaultTcpConnection.cs
  src/Fluxzy.Core/Core/ProxyRuntimeSetting.cs
  src/Fluxzy.Core/FluxzySetting.Fluent.cs
  src/Fluxzy.Core/FluxzySetting.cs
  src/Fluxzy.Core/Utils/Synchronizer.cs
  test/Fluxzy.Tests/Cases/UpstreamTlsHandshakeHangTests.cs
  test/Fluxzy.Tests/UnitTests/Util/SynchronizerTests.cs
Due: Fluxzy.Core, Fluxzy.Core.Pcap

Avoid activity creation when no listener is attached (#725)
  src/Fluxzy.Core/Logging/FluxzyActivitySource.cs
  test/Fluxzy.Benchmarks/ActivitySourceBenchmark.cs
Due: Fluxzy.Core

Optimize Http11HeaderBlockReader timestamp handling (#723)
  src/Fluxzy.Core/Clients/H11/Http11HeaderBlockReader.cs
  test/Fluxzy.Benchmarks/Http11HeaderBlockReaderBenchmark.cs
Due: Fluxzy.Core

Use case-insensitive string hashing for header names (#727)
  src/Fluxzy.Core/Clients/H2/Encoder/Utils/SpanCharactersComparer.cs
  test/Fluxzy.Benchmarks/HeaderNameLookupBenchmark.cs
Due: Fluxzy.Core

Optimize chunked write header formatting (#729)
  src/Fluxzy.Core/Misc/Streams/ChunkedTransferWriteStream.cs
Due: Fluxzy.Core

Improve HTTP/1.1 downstream response-copy throughput and reduce MetricsStream read overhead (#724)
  src/Fluxzy.Core/Core/Http11DownStreamPipe.cs
  src/Fluxzy.Core/FluxzySharedSetting.cs
  src/Fluxzy.Core/Misc/Streams/MetricsStream.cs
  src/Fluxzy.Core/Misc/Streams/StreamExtensions.cs
  test/Fluxzy.Benchmarks/MetricsStreamOverheadBenchmark.cs
  test/Fluxzy.Benchmarks/StreamExtensionsCopyDetailedBenchmark.cs
  test/Fluxzy.Tests/UnitTests/Misc/MetricsStreamCancellationTests.cs
  test/Fluxzy.Tests/UnitTests/Misc/StreamExtensionsCopyDetailedTests.cs
Due: Fluxzy.Core

Apply suggestion from @bbartels
  src/Fluxzy.Core/Misc/Streams/ChunkedTransferReadStream.cs
Due: Fluxzy.Core

Optimize single non-window HTTP/2 writes (#730)
  src/Fluxzy.Core/Clients/H2/H2ConnectionPool.cs
Due: Fluxzy.Core

Render readable Unicode in formatted JSON response body (#740)
  src/Fluxzy.Core/Formatters/Producers/Responses/ResponseBodyJsonProducer.cs
  test/Fluxzy.Tests/UnitTests/Formatters/ResponseBodyJsonFormattingTests.cs
Due: Fluxzy.Core

Render readable Unicode in formatted JSON response body (#740) (#745)
  src/Fluxzy.Core/Formatters/Producers/Responses/ResponseBodyJsonProducer.cs
  test/Fluxzy.Tests/UnitTests/Formatters/ResponseBodyJsonFormattingTests.cs
Due: Fluxzy.Core

Optimize chunked transfer size parsing (#728)
  src/Fluxzy.Core/Misc/Streams/ChunkedTransferReadStream.cs
  test/Fluxzy.Benchmarks/ChunkedTransferReadStreamBenchmark.cs
  test/Fluxzy.Tests/UnitTests/Misc/ChunkedTransferReadStreamTests.cs
Due: Fluxzy.Core

Stop nesting downstream read stream wrappers on header overshoot
  src/Fluxzy.Core/Core/Http11DownStreamPipe.cs
  src/Fluxzy.Core/Misc/Streams/PushbackReadStream.cs
  test/Fluxzy.Tests/UnitTests/Misc/PushbackReadStreamTests.cs
Due: Fluxzy.Core

Stop nesting downstream read stream wrappers on header overshoot (#746)
  src/Fluxzy.Core/Core/Http11DownStreamPipe.cs
  src/Fluxzy.Core/Misc/Streams/PushbackReadStream.cs
  test/Fluxzy.Tests/UnitTests/Misc/PushbackReadStreamTests.cs
Due: Fluxzy.Core

Fix benchmark build, use OrdinalIgnoreCase for header names
  src/Fluxzy.Core/Rules/Filters/HeaderFilter.cs
  test/Fluxzy.Benchmarks/RuleHeaderFilterBenchmark.cs
Due: Fluxzy.Core

Derive window update threshold from announced stream window
  src/Fluxzy.Core/Clients/H2/H2StreamSetting.cs
  src/Fluxzy.Core/Clients/H2/StreamWorker.cs
  test/Fluxzy.Tests/UnitTests/H2Client/StreamWorkerWindowUpdateTests.cs
Due: Fluxzy.Core

Optimize rule header filters for live exchanges (#726)
  src/Fluxzy.Core/Rules/Filters/HeaderFilter.cs
  src/Fluxzy.Core/Rules/Filters/RequestFilters/AuthorizationHeaderFilterHelper.cs
  src/Fluxzy.Core/Rules/Filters/RequestFilters/HasAuthorizationBearerFilter.cs
  src/Fluxzy.Core/Rules/Filters/RequestFilters/HasAuthorizationFilter.cs
  src/Fluxzy.Core/Rules/Filters/RequestFilters/RequestHeaderFilter.cs
  src/Fluxzy.Core/Rules/Filters/ResponseFilters/ResponseHeaderFilter.cs
  src/Fluxzy.Core/Rules/Filters/StringFilter.cs
  test/Fluxzy.Benchmarks/RuleHeaderFilterBenchmark.cs
  test/Fluxzy.Tests/UnitTests/Rules/RuleHeaderFilterFastPathTests.cs
Due: Fluxzy.Core

Tune HTTP/2 stream window update cadence (#731)
  src/Fluxzy.Core/Clients/H2/H2StreamSetting.cs
  src/Fluxzy.Core/Clients/H2/StreamWorker.cs
  test/Fluxzy.Benchmarks/H2WindowUpdateCadenceBenchmark.cs
  test/Fluxzy.Tests/UnitTests/H2Client/StreamWorkerWindowUpdateTests.cs
Due: Fluxzy.Core

Fix unknown network error code on abrupt upstream close
  src/Fluxzy.Core.Pcap/CapturableConnection.cs
  src/Fluxzy.Core/Clients/H11/Http11PoolProcessing.cs
  src/Fluxzy.Core/Core/ConnectionErrorHandler.cs
  src/Fluxzy.Core/Core/Impl/DefaultTcpConnection.cs
  src/Fluxzy.Core/Misc/Streams/DisposeEventNotifierStream.cs
Due: Fluxzy.Core, Fluxzy.Core.Pcap

Fix unknown network error code on abrupt upstream close (#747)
  src/Fluxzy.Core.Pcap/CapturableConnection.cs
  src/Fluxzy.Core/Clients/H11/Http11PoolProcessing.cs
  src/Fluxzy.Core/Core/ConnectionErrorHandler.cs
  src/Fluxzy.Core/Core/Impl/DefaultTcpConnection.cs
  src/Fluxzy.Core/Misc/Streams/DisposeEventNotifierStream.cs
Due: Fluxzy.Core, Fluxzy.Core.Pcap

Release expired pooled HTTP/1.1 connections on dequeue (#744)
  src/Fluxzy.Core/Clients/H11/Http11ConnectionPool.cs
  test/Fluxzy.Tests/UnitTests/H11Client/Http11ConnectionPoolIdleTeardownTests.cs
Due: Fluxzy.Core

Drop client certificate test relying on certauth.cryptomix.com
  test/Fluxzy.Tests/Cli/WithRuleOptionClientCertificate.cs
Due: none

Drop client certificate test relying on certauth.cryptomix.com (#749)
  test/Fluxzy.Tests/Cli/WithRuleOptionClientCertificate.cs
Due: none

Release expired pooled HTTP/1.1 connections on dequeue (#744) (#748)
  src/Fluxzy.Core/Clients/H11/Http11ConnectionPool.cs
  test/Fluxzy.Tests/UnitTests/H11Client/Http11ConnectionPoolIdleTeardownTests.cs
Due: Fluxzy.Core

Harden downstream accept loop against transient failures
  src/Fluxzy.Core/Core/Impl/DownStreamConnectionProvider.cs
  src/Fluxzy.Core/Proxy.cs
Due: Fluxzy.Core

Harden downstream accept loop against transient failures (#750)
  src/Fluxzy.Core/Core/Impl/DownStreamConnectionProvider.cs
  src/Fluxzy.Core/Proxy.cs
Due: Fluxzy.Core

Support connection-oriented auth (NTLM/Negotiate) through the proxy
  src/Fluxzy.Core/Clients/ConnectionAuthHeuristic.cs
  src/Fluxzy.Core/Clients/DotNetBridge/FluxzyDefaultHandler.cs
  src/Fluxzy.Core/Clients/H11/Http11ConnectionPool.cs
  src/Fluxzy.Core/Clients/PoolBuilder.cs
  src/Fluxzy.Core/Core/ExchangeContext.cs
  src/Fluxzy.Core/Core/ProxyOrchestrator.cs
  src/Fluxzy.Core/FluxzySetting.Fluent.cs
  src/Fluxzy.Core/FluxzySetting.cs
  src/Fluxzy.Core/Rules/Actions/PinUpstreamConnectionAction.cs
  test/Fluxzy.Tests/UnitTests/Authentication/ConnectionOrientedAuthTests.cs
  test/Fluxzy.Tests/UnitTests/Authentication/UpstreamPinningRuleTests.cs
  test/Fluxzy.Tests/_Fixtures/NtlmLikeTcpServer.cs
Due: Fluxzy.Core

Pin dedicated auth pools to a single upstream connection
  src/Fluxzy.Core/Clients/H11/Http11ConnectionPool.cs
  test/Fluxzy.Tests/UnitTests/Authentication/ConnectionOrientedAuthTests.cs
  test/Fluxzy.Tests/UnitTests/H11Client/DedicatedPoolSingleConnectionTests.cs
  test/Fluxzy.Tests/_Fixtures/CountingHttpServer.cs
Due: Fluxzy.Core

Idle-evict pinned pools and cap them per downstream connection
  src/Fluxzy.Core/Clients/PoolBuilder.cs
  src/Fluxzy.Core/Core/ProxyRuntimeSetting.cs
  src/Fluxzy.Core/FluxzySetting.Fluent.cs
  src/Fluxzy.Core/FluxzySetting.cs
  test/Fluxzy.Tests/UnitTests/Authentication/ConnectionOrientedAuthTests.cs
  test/Fluxzy.Tests/UnitTests/H11Client/Http11ConnectionPoolIdleTeardownTests.cs
Due: Fluxzy.Core

Keep pinned auth pools active through response completion
  src/Fluxzy.Core/Clients/H11/Http11ConnectionPool.cs
  test/Fluxzy.Tests/UnitTests/H11Client/DedicatedPoolSingleConnectionTests.cs
  test/Fluxzy.Tests/_Fixtures/CountingHttpServer.cs
Due: Fluxzy.Core

Support connection-oriented auth (NTLM/Negotiate) through the proxy (#751)
  src/Fluxzy.Core/Clients/ConnectionAuthHeuristic.cs
  src/Fluxzy.Core/Clients/DotNetBridge/FluxzyDefaultHandler.cs
  src/Fluxzy.Core/Clients/H11/Http11ConnectionPool.cs
  src/Fluxzy.Core/Clients/PoolBuilder.cs
  src/Fluxzy.Core/Core/ExchangeContext.cs
  src/Fluxzy.Core/Core/ProxyOrchestrator.cs
  src/Fluxzy.Core/Core/ProxyRuntimeSetting.cs
  src/Fluxzy.Core/FluxzySetting.Fluent.cs
  src/Fluxzy.Core/FluxzySetting.cs
  src/Fluxzy.Core/Rules/Actions/PinUpstreamConnectionAction.cs
  test/Fluxzy.Tests/UnitTests/Authentication/ConnectionOrientedAuthTests.cs
  test/Fluxzy.Tests/UnitTests/Authentication/UpstreamPinningRuleTests.cs
  test/Fluxzy.Tests/UnitTests/H11Client/DedicatedPoolSingleConnectionTests.cs
  test/Fluxzy.Tests/UnitTests/H11Client/Http11ConnectionPoolIdleTeardownTests.cs
  test/Fluxzy.Tests/_Fixtures/CountingHttpServer.cs
  test/Fluxzy.Tests/_Fixtures/NtlmLikeTcpServer.cs
Due: Fluxzy.Core

Drop Newtonsoft.Json usage from Ja3FingerPrintResponse
  test/Fluxzy.Tests/Ja3FingerPrintResponse.cs
Due: none
