Repository haga-rak/fluxzy.core: changes, and which Codecov flags are due for each by the changed paths.
All: Fluxzy.Core, Fluxzy.Core.Pcap, Fluxzy

codecov.yml:

comment:
  layout: "header, diff, flags, components"

coverage:
  range: 60..73
  status:
    project:
      default:
        target: 65% 
    patch: no

component_management:
  default_rules:
    statuses:
      - type: project
        target: 65%
        branches:
          - "main"
  individual_components:
    - component_id: Fluxzy.Core
      name: Fluxzy.Core
      paths:
        - src/Fluxzy.Core/**
    - component_id: Fluxzy.Core.Pcap
      name: Fluxzy.Core.Pcap
      paths:
        - src/Fluxzy.Core.Pcap/**
    - component_id: Fluxzy
      name: Fluxzy
      paths:
        - src/Fluxzy/**
ignore:
  - "src/Fluxzy.Core.Pcap.Cli/**"
  - "src/Fluxzy.Extensions/**"
  - "src/Fluxzy.Tools.DocGen/**"
  - "src/Fluxzy/Commands/PrettyOutput/**"

# Ignore debugging code 
  - "src/Fluxzy.Core/Clients/H2Logger.cs"
  - "src/Fluxzy.Core/Clients/H1Logger.cs"
  - "src/Fluxzy.Core/Misc/Streams/DebugFileStream.cs"
  - "src/Fluxzy/ArgsHelper.cs"
  - "src/Fluxzy.Core/Misc/Traces/**"
  - "src/Fluxzy.Core/Utils/ProcessTracking/LinuxProcessHelper.cs"
  - "src/Fluxzy.Core/Utils/ProcessTracking/MacOsProcessHelper.cs"
  - "src/Fluxzy.Core/Utils/ProcessTracking/MacOsNativeMethods.cs"
  - "src/Fluxzy.Core/Core/H2DownStreamPipe.cs"
  - "src/Fluxzy.Core/Core/ServerStreamWorker.cs"

Add HTTP trailer support for H2 and HTTP/1.1 (#558)
  src/Fluxzy.Core/Archiving/ExchangeInfo.cs
  src/Fluxzy.Core/Clients/H11/Http11PoolProcessing.cs
  src/Fluxzy.Core/Clients/H2/Encoder/HPackDecoder.cs
  src/Fluxzy.Core/Clients/H2/Encoder/HPackEncoder.cs
  src/Fluxzy.Core/Clients/H2/HeaderEncoder.cs
  src/Fluxzy.Core/Clients/H2/StreamWorker.cs
  src/Fluxzy.Core/Core/ConnectionErrorHandler.cs
  src/Fluxzy.Core/Core/Exchange.cs
  src/Fluxzy.Core/Core/H2DownStreamPipe.cs
  src/Fluxzy.Core/Core/Http11DownStreamPipe.cs
  src/Fluxzy.Core/Core/IDownStreamPipe.cs
  src/Fluxzy.Core/Core/ProxyOrchestrator.cs
  src/Fluxzy.Core/Core/ServerStreamWorker.cs
  src/Fluxzy.Core/IExchange.cs
  src/Fluxzy.Core/Misc/Streams/ChunkedTransferReadStream.cs
  src/Fluxzy.Core/Misc/Streams/ChunkedTransferWriteStream.cs
  test/Fluxzy.Tests/Cases/InProcessHostTests.cs
  test/Fluxzy.Tests/UnitTests/H2Serve/H2TrailerTests.cs
  test/Fluxzy.Tests/_Fixtures/H2TestHelper.cs
Due: Fluxzy.Core

Add gRPC integration tests validating H2 downstream + trailer support
  test/Fluxzy.Tests/Cases/GrpcIntegrationTests.cs
  test/Fluxzy.Tests/Fluxzy.Tests.csproj
  test/Fluxzy.Tests/_Files/Protos/greet.proto
  test/Fluxzy.Tests/_Fixtures/GreeterServiceImpl.cs
  test/Fluxzy.Tests/_Fixtures/GrpcInProcessHost.cs
  test/Fluxzy.Tests/_Fixtures/GrpcProxiedSetup.cs
Due: none

Fix H2 downstream FRAME_SIZE_ERROR by respecting remote peer's max frame size
  src/Fluxzy.Core/Core/H2DownStreamPipe.cs
  test/Fluxzy.Tests/Cases/GrpcIntegrationTests.cs
Due: none

Add gRPC integration tests and fix H2 FRAME_SIZE_ERROR (#559)
  src/Fluxzy.Core/Core/H2DownStreamPipe.cs
  test/Fluxzy.Tests/Cases/GrpcIntegrationTests.cs
  test/Fluxzy.Tests/Fluxzy.Tests.csproj
  test/Fluxzy.Tests/_Files/Protos/greet.proto
  test/Fluxzy.Tests/_Fixtures/GreeterServiceImpl.cs
  test/Fluxzy.Tests/_Fixtures/GrpcInProcessHost.cs
  test/Fluxzy.Tests/_Fixtures/GrpcProxiedSetup.cs
Due: none

Add gRPC remote endpoint tests with grpcurl through Fluxzy proxy
  .github/workflows/ci.yml
  .github/workflows/pull-request.yaml
  test/Fluxzy.Tests/Cases/GrpcRemoteEndpointTests.cs
Due: none

Add gRPC remote endpoint tests with grpcurl through Fluxzy proxy (#565)
  .github/workflows/ci.yml
  .github/workflows/pull-request.yaml
  test/Fluxzy.Tests/Cases/GrpcRemoteEndpointTests.cs
Due: none

Fix gRPC MITM mode: H2 downstream bugs and enable full interception in tests
  src/Fluxzy.Core/Clients/H2/H2ConnectionPool.cs
  src/Fluxzy.Core/Clients/H2/H2FrameReadResult.cs
  src/Fluxzy.Core/Core/FromProxyConnectSourceProvider.cs
  src/Fluxzy.Core/Core/H2DownStreamPipe.cs
  src/Fluxzy.Core/Core/H2Helper.cs
  test/Fluxzy.Tests/Cases/GrpcRemoteEndpointTests.cs
  test/Fluxzy.Tests/Cases/proto/google/protobuf/empty.proto
  test/Fluxzy.Tests/Cases/proto/grpcbin.proto
  test/Fluxzy.Tests/Cases/proto/hello.proto
Due: Fluxzy.Core

Add 30s timeout to grpcurl process to prevent CI hangs
  test/Fluxzy.Tests/Cases/GrpcRemoteEndpointTests.cs
Due: none

Fix gRPC MITM mode: H2 downstream bugs and enable full interception (#567)
  src/Fluxzy.Core/Clients/H2/H2ConnectionPool.cs
  src/Fluxzy.Core/Clients/H2/H2FrameReadResult.cs
  src/Fluxzy.Core/Core/FromProxyConnectSourceProvider.cs
  src/Fluxzy.Core/Core/H2DownStreamPipe.cs
  src/Fluxzy.Core/Core/H2Helper.cs
  test/Fluxzy.Tests/Cases/GrpcRemoteEndpointTests.cs
  test/Fluxzy.Tests/Cases/proto/google/protobuf/empty.proto
  test/Fluxzy.Tests/Cases/proto/grpcbin.proto
  test/Fluxzy.Tests/Cases/proto/hello.proto
Due: Fluxzy.Core

Bump Octokit, Fluxzy.Core, xunit, coverlet.collector and System.Threading.AccessControl
  build/Fluxzy.Build/Fluxzy.Build.csproj
  examples/Samples.No001.RecordAsHarOrFxzy/Samples.No001.RecordAsHarOrFxzy.csproj
  examples/Samples.No002.Filtering/Samples.No002.Filtering.csproj
  examples/Samples.No004.BasicAlterations/Samples.No004.BasicAlterations.csproj
  examples/Samples.No005.BasicAlterations_FromConfigurationFile/Samples.No005.BasicAlterations_FromConfigurationFile.csproj
  examples/Samples.No006.CaptureOsTraffic/Samples.No006.CaptureOsTraffic.csproj
  examples/Samples.No007.UsingClientCertificate/Samples.No007.UsingClientCertificate.csproj
  examples/Samples.No008.ForcingHttpVersion/Samples.No008.ForcingHttpVersion.csproj
  examples/Samples.No009.InjectCodeSnippet/Samples.No009.InjectCodeSnippet.csproj
  examples/Samples.No010.MockResponse/Samples.No010.MockResponse.csproj
  examples/Samples.No011.AddRequestCookie/Samples.No011.AddRequestCookie.csproj
  examples/Samples.No012.AddResponseCookie/Samples.No012.AddResponseCookie.csproj
  examples/Samples.No013.ModifyHeaders/Samples.No013.ModifyHeaders.csproj
  test/Fluxzy.Tests/Fluxzy.Tests.csproj
Due: none

Bump Octokit, Fluxzy.Core, xunit, coverlet.collector and System.Threading.AccessControl (#568)
  build/Fluxzy.Build/Fluxzy.Build.csproj
  examples/Samples.No001.RecordAsHarOrFxzy/Samples.No001.RecordAsHarOrFxzy.csproj
  examples/Samples.No002.Filtering/Samples.No002.Filtering.csproj
  examples/Samples.No004.BasicAlterations/Samples.No004.BasicAlterations.csproj
  examples/Samples.No005.BasicAlterations_FromConfigurationFile/Samples.No005.BasicAlterations_FromConfigurationFile.csproj
  examples/Samples.No006.CaptureOsTraffic/Samples.No006.CaptureOsTraffic.csproj
  examples/Samples.No007.UsingClientCertificate/Samples.No007.UsingClientCertificate.csproj
  examples/Samples.No008.ForcingHttpVersion/Samples.No008.ForcingHttpVersion.csproj
  examples/Samples.No009.InjectCodeSnippet/Samples.No009.InjectCodeSnippet.csproj
  examples/Samples.No010.MockResponse/Samples.No010.MockResponse.csproj
  examples/Samples.No011.AddRequestCookie/Samples.No011.AddRequestCookie.csproj
  examples/Samples.No012.AddResponseCookie/Samples.No012.AddResponseCookie.csproj
  examples/Samples.No013.ModifyHeaders/Samples.No013.ModifyHeaders.csproj
  test/Fluxzy.Tests/Fluxzy.Tests.csproj
Due: none

Add protobuf/gRPC formatting producers for human-readable decoding
  src/Fluxzy.Core/Fluxzy.Core.csproj
  src/Fluxzy.Core/FluxzySetting.Fluent.cs
  src/Fluxzy.Core/FluxzySetting.cs
  src/Fluxzy.Core/Formatters/FormatSettings.cs
  src/Fluxzy.Core/Formatters/ProducerFactory.cs
  src/Fluxzy.Core/Formatters/Producers/Grpc/DescriptorProtobufDecoder.cs
  src/Fluxzy.Core/Formatters/Producers/Grpc/GrpcFrameHelper.cs
  src/Fluxzy.Core/Formatters/Producers/Grpc/ProtoFileRegistry.cs
  src/Fluxzy.Core/Formatters/Producers/Grpc/ProtobufFormattingResult.cs
  src/Fluxzy.Core/Formatters/Producers/Grpc/RawProtobufDecoder.cs
  src/Fluxzy.Core/Formatters/Producers/Grpc/RequestProtobufProducer.cs
  src/Fluxzy.Core/Formatters/Producers/Grpc/ResponseProtobufProducer.cs
  src/Fluxzy/Commands/StartCommandBuilder.cs
  src/Fluxzy/Commands/StartCommandOptions.cs
  src/Fluxzy/Dockering/ContainerEnvironmentHelper.cs
  test/Fluxzy.Tests/UnitTests/Formatters/GrpcFrameHelperTests.cs
  test/Fluxzy.Tests/UnitTests/Formatters/ProtobufProducerTests.cs
  test/Fluxzy.Tests/UnitTests/Formatters/RawProtobufDecoderTests.cs
Due: Fluxzy.Core, Fluxzy

Add protobuf/gRPC formatting producers for human-readable decoding (#569)
  src/Fluxzy.Core/Fluxzy.Core.csproj
  src/Fluxzy.Core/FluxzySetting.Fluent.cs
  src/Fluxzy.Core/FluxzySetting.cs
  src/Fluxzy.Core/Formatters/FormatSettings.cs
  src/Fluxzy.Core/Formatters/ProducerFactory.cs
  src/Fluxzy.Core/Formatters/Producers/Grpc/DescriptorProtobufDecoder.cs
  src/Fluxzy.Core/Formatters/Producers/Grpc/GrpcFrameHelper.cs
  src/Fluxzy.Core/Formatters/Producers/Grpc/ProtoFileRegistry.cs
  src/Fluxzy.Core/Formatters/Producers/Grpc/ProtobufFormattingResult.cs
  src/Fluxzy.Core/Formatters/Producers/Grpc/RawProtobufDecoder.cs
  src/Fluxzy.Core/Formatters/Producers/Grpc/RequestProtobufProducer.cs
  src/Fluxzy.Core/Formatters/Producers/Grpc/ResponseProtobufProducer.cs
  src/Fluxzy/Commands/StartCommandBuilder.cs
  src/Fluxzy/Commands/StartCommandOptions.cs
  src/Fluxzy/Dockering/ContainerEnvironmentHelper.cs
  test/Fluxzy.Tests/UnitTests/Formatters/GrpcFrameHelperTests.cs
  test/Fluxzy.Tests/UnitTests/Formatters/ProtobufProducerTests.cs
  test/Fluxzy.Tests/UnitTests/Formatters/RawProtobufDecoderTests.cs
Due: Fluxzy.Core, Fluxzy

Optimize H2DownStreamPipe throughput vs Http11DownStreamPipe
  src/Fluxzy.Core/Core/H2DownStreamPipe.cs
  src/Fluxzy.Core/Core/ServerStreamWorker.cs
Due: none

Reduce overhead from trailer support in chunked transfer streams
  src/Fluxzy.Core/Misc/Streams/ChunkedTransferReadStream.cs
  src/Fluxzy.Core/Misc/Streams/ChunkedTransferWriteStream.cs
Due: Fluxzy.Core

Add proxy throughput benchmark comparing H2 vs HTTP/1.1 downstream
  test/Fluxzy.Benchmarks/Program.cs
  test/Fluxzy.Benchmarks/ProxyThroughputBenchmark.cs
Due: none

Optimize H2 window booking with lock-free CAS and batch booking
  src/Fluxzy.Core/AssemblyInfoExtends.cs
  src/Fluxzy.Core/Clients/H2/WindowSizeHolder.cs
  src/Fluxzy.Core/Core/ServerStreamWorker.cs
  test/Fluxzy.Benchmarks/ChannelWritePipeBenchmark.cs
  test/Fluxzy.Benchmarks/MetricsStreamOverheadBenchmark.cs
  test/Fluxzy.Benchmarks/PerFrameAllocationBenchmark.cs
  test/Fluxzy.Benchmarks/WindowSizeBookingBenchmark.cs
Due: Fluxzy.Core

Fix batch booking budget starvation by draining after body write
  src/Fluxzy.Core/Core/H2DownStreamPipe.cs
  src/Fluxzy.Core/Core/ServerStreamWorker.cs
Due: none

Replace H2 write channel with zero-alloc circular ring buffer
  src/Fluxzy.Core/Core/CircularWriteBuffer.cs
  src/Fluxzy.Core/Core/H2DownStreamPipe.cs
  test/Fluxzy.Tests/UnitTests/Core/CircularWriteBufferTests.cs
Due: Fluxzy.Core

Reduce allocations in H2DownStreamPipe and fix CircularWriteBuffer race
  src/Fluxzy.Core/Core/CircularWriteBuffer.cs
  src/Fluxzy.Core/Core/H2DownStreamPipe.cs
Due: Fluxzy.Core

Configure optimal Pipe settings for H2 request body pipe
  src/Fluxzy.Core/Core/ServerStreamWorker.cs
Due: none

Improve window handling and stream worker cleanup
  src/Fluxzy.Core/Clients/H2/WindowSizeHolder.cs
  src/Fluxzy.Core/Core/H2DownStreamPipe.cs
Due: Fluxzy.Core

Centralize H2 connection-level flow control in WriteLoop
  src/Fluxzy.Core/Core/CircularWriteBuffer.cs
  src/Fluxzy.Core/Core/H2DownStreamPipe.cs
  src/Fluxzy.Core/Core/H2Helper.cs
  src/Fluxzy.Core/Core/ServerStreamWorker.cs
  test/Fluxzy.Tests/UnitTests/Core/CircularWriteBufferTests.cs
Due: Fluxzy.Core

Refactor HPack dynamic tables from Dictionary to ring buffer
  src/Fluxzy.Core/Clients/H2/Encoder/HPack/HPackDecodingDynamicTable.cs
  src/Fluxzy.Core/Clients/H2/Encoder/HPack/HPackEncodingDynamicTable.cs
  src/Fluxzy.Core/Clients/H2/Encoder/Utils/TableEntryComparer.cs
  test/Fluxzy.Tests/UnitTests/HPack/HPackDecodingDynamicTableTests.cs
  test/Fluxzy.Tests/UnitTests/HPack/HPackDynamicTableEquivalenceTests.cs
  test/Fluxzy.Tests/UnitTests/HPack/HPackEncodingDynamicTableTests.cs
Due: Fluxzy.Core

Fix transfer-encoding: chunked sent on H2 downstream responses
  src/Fluxzy.Core/Core/ProxyOrchestrator.cs
  test/Fluxzy.Tests/UnitTests/H2Serve/H2ServeTests.cs
Due: Fluxzy.Core

Fix H2 HEADERS frame Priority flag parsing and add debug logging
  src/Fluxzy.Core/Clients/H2/Frames/HeaderFrame.cs
  src/Fluxzy.Core/Core/H2DownStreamPipe.cs
Due: Fluxzy.Core

Fix buffer overflow when forwarding requests with large headers
  src/Fluxzy.Core/Clients/H11/Http11PoolProcessing.cs
  src/Fluxzy.Core/Clients/H2/HeaderEncoder.cs
  test/Fluxzy.Tests/UnitTests/H2Serve/H2ServeTests.cs
Due: Fluxzy.Core

Strip transfer-encoding header from H2 downstream responses
  src/Fluxzy.Core/Clients/H2/Encoder/Utils/Http11Constants.cs
  test/Fluxzy.Tests/UnitTests/H2Serve/H2ServeTests.cs
Due: Fluxzy.Core

Fix transfer-encoding stripping breaking HTTP/1.1 forwarding
  src/Fluxzy.Core/Clients/H11/Http11PoolProcessing.cs
  src/Fluxzy.Core/Clients/H2/Encoder/Utils/Http11Constants.cs
  src/Fluxzy.Core/Clients/H2/Encoder/Utils/Http11Parser.cs
Due: Fluxzy.Core

Move transfer-encoding stripping from Http11Parser to ProxyOrchestrator
  src/Fluxzy.Core/Clients/H2/Encoder/Utils/Http11Parser.cs
  src/Fluxzy.Core/Core/ProxyOrchestrator.cs
Due: Fluxzy.Core

Optimize H2 downstream performance and fix protocol compliance (#570)
  src/Fluxzy.Core/AssemblyInfoExtends.cs
  src/Fluxzy.Core/Clients/H11/Http11PoolProcessing.cs
  src/Fluxzy.Core/Clients/H2/Encoder/HPack/HPackDecodingDynamicTable.cs
  src/Fluxzy.Core/Clients/H2/Encoder/HPack/HPackEncodingDynamicTable.cs
  src/Fluxzy.Core/Clients/H2/Encoder/Utils/TableEntryComparer.cs
  src/Fluxzy.Core/Clients/H2/Frames/HeaderFrame.cs
  src/Fluxzy.Core/Clients/H2/HeaderEncoder.cs
  src/Fluxzy.Core/Clients/H2/WindowSizeHolder.cs
  src/Fluxzy.Core/Core/CircularWriteBuffer.cs
  src/Fluxzy.Core/Core/H2DownStreamPipe.cs
  src/Fluxzy.Core/Core/H2Helper.cs
  src/Fluxzy.Core/Core/ProxyOrchestrator.cs
  src/Fluxzy.Core/Core/ServerStreamWorker.cs
  src/Fluxzy.Core/Misc/Streams/ChunkedTransferReadStream.cs
  src/Fluxzy.Core/Misc/Streams/ChunkedTransferWriteStream.cs
  test/Fluxzy.Benchmarks/ChannelWritePipeBenchmark.cs
  test/Fluxzy.Benchmarks/MetricsStreamOverheadBenchmark.cs
  test/Fluxzy.Benchmarks/PerFrameAllocationBenchmark.cs
  test/Fluxzy.Benchmarks/Program.cs
  test/Fluxzy.Benchmarks/ProxyThroughputBenchmark.cs
  test/Fluxzy.Benchmarks/WindowSizeBookingBenchmark.cs
  test/Fluxzy.Tests/UnitTests/Core/CircularWriteBufferTests.cs
  test/Fluxzy.Tests/UnitTests/H2Serve/H2ServeTests.cs
  test/Fluxzy.Tests/UnitTests/HPack/HPackDecodingDynamicTableTests.cs
  test/Fluxzy.Tests/UnitTests/HPack/HPackDynamicTableEquivalenceTests.cs
  test/Fluxzy.Tests/UnitTests/HPack/HPackEncodingDynamicTableTests.cs
Due: Fluxzy.Core

Add GO_AWAY send capability to H2DownStreamPipe for proper connection teardown
  src/Fluxzy.Core/Core/H2DownStreamPipe.cs
  src/Fluxzy.Core/Core/H2Helper.cs
Due: Fluxzy.Core

Add GO_AWAY send capability to H2DownStreamPipe for proper connection teardown (#571)
  src/Fluxzy.Core/Core/H2DownStreamPipe.cs
  src/Fluxzy.Core/Core/H2Helper.cs
Due: Fluxzy.Core

Fix HTTP 528 error on large H2 response headers (e.g. Yahoo Finance)
  src/Fluxzy.Core/Clients/H2/Encoder/HPack/PrimitiveOperation.cs
  src/Fluxzy.Core/Clients/H2/StreamWorker.cs
  src/Fluxzy.Core/Core/H2Helper.cs
  test/Fluxzy.Tests/Cases/Socks5H2YahooFinanceTests.cs
Due: Fluxzy.Core

Remove Yahoo Finance integration test
  test/Fluxzy.Tests/Cases/Socks5H2YahooFinanceTests.cs
Due: none

Fix HTTP 528 on large H2 response headers (#572)
  src/Fluxzy.Core/Clients/H2/Encoder/HPack/PrimitiveOperation.cs
  src/Fluxzy.Core/Clients/H2/StreamWorker.cs
  src/Fluxzy.Core/Core/H2Helper.cs
Due: Fluxzy.Core

Fix swapped WindowUpdateFrame arguments in H2DownStreamPipe
  src/Fluxzy.Core/Core/H2DownStreamPipe.cs
Due: none

Fix ArrayPool use-after-return in H2ConnectionPool write loop
  src/Fluxzy.Core/Clients/H2/H2ConnectionPool.cs
Due: Fluxzy.Core

Fix H2 WINDOW_UPDATE bugs causing flaky test timeouts (#573)
  src/Fluxzy.Core/Clients/H2/H2ConnectionPool.cs
  src/Fluxzy.Core/Core/H2DownStreamPipe.cs
Due: Fluxzy.Core

Optimize buffer access and stream batching
  src/Fluxzy.Core/Core/CircularWriteBuffer.cs
  src/Fluxzy.Core/Core/H2DownStreamPipe.cs
  src/Fluxzy.Core/Core/ServerStreamWorker.cs
Due: Fluxzy.Core
