Repository haga-rak/fluxzy.core: changes, and which Codecov flags are due for each by the changed paths.
All: Fluxzy.Core, Fluxzy.Core.Pcap, Fluxzy

codecov.yml:

comment:
  layout: "header, diff, flags, components"

coverage:
  range: 60..73
  status:
    project:
      default:
        target: 65% 
    patch: no

component_management:
  default_rules:
    statuses:
      - type: project
        target: 65%
        branches:
          - "main"
  individual_components:
    - component_id: Fluxzy.Core
      name: Fluxzy.Core
      paths:
        - src/Fluxzy.Core/**
    - component_id: Fluxzy.Core.Pcap
      name: Fluxzy.Core.Pcap
      paths:
        - src/Fluxzy.Core.Pcap/**
    - component_id: Fluxzy
      name: Fluxzy
      paths:
        - src/Fluxzy/**
ignore:
  - "src/Fluxzy.Core.Pcap.Cli/**"
  - "src/Fluxzy.Extensions/**"
  - "src/Fluxzy.Tools.DocGen/**"
  - "src/Fluxzy/Commands/PrettyOutput/**"

# Ignore debugging code 
  - "src/Fluxzy.Core/Clients/H2Logger.cs"
  - "src/Fluxzy.Core/Clients/H1Logger.cs"
  - "src/Fluxzy.Core/Misc/Streams/DebugFileStream.cs"
  - "src/Fluxzy/ArgsHelper.cs"
  - "src/Fluxzy.Core/Misc/Traces/**"
  - "src/Fluxzy.Core/Utils/ProcessTracking/LinuxProcessHelper.cs"
  - "src/Fluxzy.Core/Utils/ProcessTracking/MacOsProcessHelper.cs"
  - "src/Fluxzy.Core/Utils/ProcessTracking/MacOsNativeMethods.cs"
  - "src/Fluxzy.Core/Core/H2DownStreamPipe.cs"
  - "src/Fluxzy.Core/Core/ServerStreamWorker.cs"

Use SerialNumber instead of SHA-1 thumbprint
  src/Fluxzy.Core/Archiving/SslInfo.cs
  src/Fluxzy.Core/Clients/Ssl/BouncyCastle/BcCertificateHelper.cs
  test/Fluxzy.Tests/UnitTests/Handlers/CertificateMetadataInSslInfoTests.cs
Due: Fluxzy.Core

Add cert validity dates and serial number to SslInfo (#654)
  src/Fluxzy.Core/Archiving/Readers/HarImportEngine.cs
  src/Fluxzy.Core/Archiving/Readers/SazImportEngine.cs
  src/Fluxzy.Core/Archiving/SslInfo.cs
  src/Fluxzy.Core/Clients/Ssl/BouncyCastle/BcCertificateHelper.cs
  test/Fluxzy.Tests/UnitTests/Handlers/CertificateMetadataInSslInfoTests.cs
Due: Fluxzy.Core

Populate cipher and hash in SslInfo on BouncyCastle path
  src/Fluxzy.Core/Archiving/SslInfo.cs
  test/Fluxzy.Tests/UnitTests/Handlers/CipherAndHashInSslInfoTests.cs
Due: Fluxzy.Core

Skip OsDefault for HashAlgorithm assertion (TLS 1.3 returns None on OpenSSL)
  test/Fluxzy.Tests/UnitTests/Handlers/CipherAndHashInSslInfoTests.cs
Due: none

Populate cipher and hash in SslInfo on BouncyCastle path (#655)
  src/Fluxzy.Core/Archiving/SslInfo.cs
  test/Fluxzy.Tests/UnitTests/Handlers/CipherAndHashInSslInfoTests.cs
Due: Fluxzy.Core

Add x-fluxzy-network-error response header on 528
  src/Fluxzy.Core/ClientError.cs
  src/Fluxzy.Core/Clients/Dns/DefaultDnsResolver.cs
  src/Fluxzy.Core/Clients/Dns/DnsOverHttpsResolver.cs
  src/Fluxzy.Core/Clients/H11/Http11PoolProcessing.cs
  src/Fluxzy.Core/Clients/H2/StreamWorker.cs
  src/Fluxzy.Core/Clients/Ssl/BouncyCastle/BouncyCastleConnectionBuilder.cs
  src/Fluxzy.Core/Clients/Ssl/SChannel/SChannelConnectionBuilder.cs
  src/Fluxzy.Core/Core/ClientErrorException.cs
  src/Fluxzy.Core/Core/ConnectionErrorHandler.cs
  src/Fluxzy.Core/Core/NetworkErrorCodes.cs
  test/Fluxzy.Tests/Cases/BadRuleHandlingTests.cs
  test/Fluxzy.Tests/Cases/Extended528Tests.cs
  test/Fluxzy.Tests/UnitTests/Core/NetworkErrorCodesTests.cs
  test/Fluxzy.Tests/UnitTests/Core/NetworkErrorMappingTests.cs
  test/Fluxzy.Tests/UnitTests/Core/SocketErrorMappingTests.cs
  test/Fluxzy.Tests/UnitTests/Equality/ClientErrorEquality.cs
  test/Fluxzy.Tests/UnitTests/Misc/DefaultDnsResolverTests.cs
  test/Fluxzy.Tests/_Fixtures/MisbehavingTcpServer.cs
Due: Fluxzy.Core

Document 528 error codes and x-fluxzy-network-error header
  docs/528-error-code.md
Due: none

Map SocketError.Shutdown to connection_reset on Linux EPIPE
  src/Fluxzy.Core/Core/ConnectionErrorHandler.cs
  test/Fluxzy.Tests/UnitTests/Core/SocketErrorMappingTests.cs
Due: Fluxzy.Core

Show x-fluxzy-network-error code on 528 error page
  src/Fluxzy.Core/Core/ConnectionErrorPageHelper.cs
  src/Fluxzy.Core/Resources/Pages/error.html
Due: Fluxzy.Core

Accept connection_closed as valid surfacing for abrupt close
  test/Fluxzy.Tests/Cases/Extended528Tests.cs
Due: none

Add x-fluxzy-network-error header on 528 responses (#656)
  docs/528-error-code.md
  src/Fluxzy.Core/ClientError.cs
  src/Fluxzy.Core/Clients/Dns/DefaultDnsResolver.cs
  src/Fluxzy.Core/Clients/Dns/DnsOverHttpsResolver.cs
  src/Fluxzy.Core/Clients/H11/Http11PoolProcessing.cs
  src/Fluxzy.Core/Clients/H2/StreamWorker.cs
  src/Fluxzy.Core/Clients/Ssl/BouncyCastle/BouncyCastleConnectionBuilder.cs
  src/Fluxzy.Core/Clients/Ssl/SChannel/SChannelConnectionBuilder.cs
  src/Fluxzy.Core/Core/ClientErrorException.cs
  src/Fluxzy.Core/Core/ConnectionErrorHandler.cs
  src/Fluxzy.Core/Core/ConnectionErrorPageHelper.cs
  src/Fluxzy.Core/Core/NetworkErrorCodes.cs
  src/Fluxzy.Core/Resources/Pages/error.html
  test/Fluxzy.Tests/Cases/BadRuleHandlingTests.cs
  test/Fluxzy.Tests/Cases/Extended528Tests.cs
  test/Fluxzy.Tests/UnitTests/Core/NetworkErrorCodesTests.cs
  test/Fluxzy.Tests/UnitTests/Core/NetworkErrorMappingTests.cs
  test/Fluxzy.Tests/UnitTests/Core/SocketErrorMappingTests.cs
  test/Fluxzy.Tests/UnitTests/Equality/ClientErrorEquality.cs
  test/Fluxzy.Tests/UnitTests/Misc/DefaultDnsResolverTests.cs
  test/Fluxzy.Tests/_Fixtures/MisbehavingTcpServer.cs
Due: Fluxzy.Core

Set version to '1.36'
  version.json
Due: none

Use DefaultAzureCredential env vars for sign tool
  .github/workflows/release-cli.yml
  build/Fluxzy.Build/SignHelper.cs
Due: none

Use DefaultAzureCredential env vars for sign tool (#657)
  .github/workflows/release-cli.yml
  build/Fluxzy.Build/SignHelper.cs
Due: none

Add SkipInternalRules option to suppress built-in mount rules
  src/Fluxzy.Core/FluxzySetting.Fluent.cs
  src/Fluxzy.Core/FluxzySetting.cs
  src/Fluxzy/Commands/StartCommandBuilder.cs
  src/Fluxzy/Commands/StartCommandOptions.cs
  test/Fluxzy.Tests/UnitTests/Settings/SkipInternalRulesTests.cs
Due: Fluxzy.Core, Fluxzy

Skip internal rules in ProxyThroughputBenchmark
  test/Fluxzy.Benchmarks/ProxyThroughputBenchmark.cs
Due: none

Add SkipInternalRules option to suppress built-in mount rules (#658)
  src/Fluxzy.Core/FluxzySetting.Fluent.cs
  src/Fluxzy.Core/FluxzySetting.cs
  src/Fluxzy/Commands/StartCommandBuilder.cs
  src/Fluxzy/Commands/StartCommandOptions.cs
  test/Fluxzy.Benchmarks/ProxyThroughputBenchmark.cs
  test/Fluxzy.Tests/UnitTests/Settings/SkipInternalRulesTests.cs
Due: Fluxzy.Core, Fluxzy

Drain WebSocket capture pipe on disposal
  src/Fluxzy.Core/Clients/H11/WebSocketStream.cs
  src/Fluxzy.Core/Clients/H11/WsMessage.cs
Due: Fluxzy.Core

Drain WebSocket capture pipe on disposal (#659)
  src/Fluxzy.Core/Clients/H11/WebSocketStream.cs
  src/Fluxzy.Core/Clients/H11/WsMessage.cs
Due: Fluxzy.Core

Replace System.CommandLine with Spectre.Console.Cli
  src/Fluxzy/Commands/CertCheckCommand.cs
  src/Fluxzy/Commands/CertCreateCommand.cs
  src/Fluxzy/Commands/CertDefaultCommand.cs
  src/Fluxzy/Commands/CertExportCommand.cs
  src/Fluxzy/Commands/CertInstallCommand.cs
  src/Fluxzy/Commands/CertListCommand.cs
  src/Fluxzy/Commands/CertUninstallCommand.cs
  src/Fluxzy/Commands/CertificateCommandBuilder.cs
  src/Fluxzy/Commands/ConsoleBinder.cs
  src/Fluxzy/Commands/ConsoleHelper.cs
  src/Fluxzy/Commands/DissectCommand.cs
  src/Fluxzy/Commands/DissectCommandBuilder.cs
  src/Fluxzy/Commands/DissectPcapCommand.cs
  src/Fluxzy/Commands/DissectPcapSettings.cs
  src/Fluxzy/Commands/DissectSettings.cs
  src/Fluxzy/Commands/IConsoleWriter.cs
  src/Fluxzy/Commands/IFluxzyConsole.cs
  src/Fluxzy/Commands/OptionExtensions.cs
  src/Fluxzy/Commands/OutputConsole.cs
  src/Fluxzy/Commands/PackCommand.cs
  src/Fluxzy/Commands/PackCommandBuilder.cs
  src/Fluxzy/Commands/PackSettings.cs
  src/Fluxzy/Commands/RealFluxzyConsole.cs
  src/Fluxzy/Commands/SpectreInfra/TypeRegistrar.cs
  src/Fluxzy/Commands/SpectreInfra/TypeResolver.cs
  src/Fluxzy/Commands/StartCommand.cs
  src/Fluxzy/Commands/StartCommandBuilder.cs
  src/Fluxzy/Commands/StartCommandOptions.cs
  src/Fluxzy/Commands/StartSettings.cs
  src/Fluxzy/FluxzyStartup.cs
  src/Fluxzy/fluxzy.csproj
  test/Fluxzy.Tests/Cli/Scaffolding/OutputWriterNotifier.cs
Due: Fluxzy

Add elliptic curve (ECDSA) certificate support
  src/Fluxzy.Core/Certificates/CertificateBuilder.cs
  src/Fluxzy.Core/Certificates/CertificateBuilderOptions.cs
  src/Fluxzy.Core/Certificates/CertificateKeyAlgorithm.cs
  src/Fluxzy.Core/Certificates/CertificateProvider.cs
  test/Fluxzy.Tests/Fluxzy.Tests.csproj
  test/Fluxzy.Tests/UnitTests/Certificates/EcdsaCertificatePocTests.cs
  test/Fluxzy.Tests/_Files/Certificates/ecdsa-p224-root-ca.p12
  test/Fluxzy.Tests/_Files/Certificates/ecdsa-p256-root-ca.p12
Due: Fluxzy.Core

Add --key-algorithm option to 'fluxzy cert create'
  src/Fluxzy/Commands/CertificateCommandBuilder.cs
  test/Fluxzy.Tests/Cli/Certificates/CreateCertificate.cs
Due: Fluxzy

Add --rsa-vs-ecc option to the throughput benchmark
  benchmark-throughput.sh
  test/Fluxzy.Benchmarks/ProxyThroughputBenchmark.cs
Due: none

Add elliptic curve (ECDSA) certificate support (#665)
  benchmark-throughput.sh
  src/Fluxzy.Core/Certificates/CertificateBuilder.cs
  src/Fluxzy.Core/Certificates/CertificateBuilderOptions.cs
  src/Fluxzy.Core/Certificates/CertificateKeyAlgorithm.cs
  src/Fluxzy.Core/Certificates/CertificateProvider.cs
  src/Fluxzy/Commands/CertificateCommandBuilder.cs
  test/Fluxzy.Benchmarks/ProxyThroughputBenchmark.cs
  test/Fluxzy.Tests/Cli/Certificates/CreateCertificate.cs
  test/Fluxzy.Tests/Fluxzy.Tests.csproj
  test/Fluxzy.Tests/UnitTests/Certificates/EcdsaCertificatePocTests.cs
  test/Fluxzy.Tests/_Files/Certificates/ecdsa-p224-root-ca.p12
  test/Fluxzy.Tests/_Files/Certificates/ecdsa-p256-root-ca.p12
Due: Fluxzy.Core, Fluxzy

Fall back to live setting when snapshot round-trip fails
  src/Fluxzy.Core/Archiving/Writers/DirectoryArchiveWriter.cs
Due: Fluxzy.Core

Add regression test for custom action snapshot
  test/Fluxzy.Tests/UnitTests/Archiving/CapturedSettingTests.cs
Due: none

Fix Proxy startup failure with custom Action or Filter (#667)
  src/Fluxzy.Core/Archiving/Writers/DirectoryArchiveWriter.cs
  test/Fluxzy.Tests/UnitTests/Archiving/CapturedSettingTests.cs
Due: Fluxzy.Core

Prevent path traversal in certificate cache file names
  src/Fluxzy.Core/Core/Impl/FileSystemCertificateCache.cs
  test/Fluxzy.Tests/UnitTests/Certificates/FileSystemCertificateCacheTests.cs
Due: Fluxzy.Core

Keep DER sign byte in BouncyCastle certificate serial number
  src/Fluxzy.Core/Clients/Ssl/BouncyCastle/BcCertificateHelper.cs
Due: Fluxzy.Core

Remove flaky Taboola case from Http2 error test
  test/Fluxzy.Tests/UnitTests/Handlers/Http2ClientHandler.cs
Due: none

Prevent path traversal in certificate cache file names (#668)
  src/Fluxzy.Core/Clients/Ssl/BouncyCastle/BcCertificateHelper.cs
  src/Fluxzy.Core/Core/Impl/FileSystemCertificateCache.cs
  test/Fluxzy.Tests/UnitTests/Certificates/FileSystemCertificateCacheTests.cs
  test/Fluxzy.Tests/UnitTests/Handlers/Http2ClientHandler.cs
Due: Fluxzy.Core

Restrict leaf certificate cache files to owner only
  src/Fluxzy.Core/Core/Impl/FileSystemCertificateCache.cs
Due: Fluxzy.Core

Restrict leaf certificate cache files to owner only (#669)
  src/Fluxzy.Core/Core/Impl/FileSystemCertificateCache.cs
Due: Fluxzy.Core

Normalize HTTP/1.1 framing to prevent request smuggling
  src/Fluxzy.Core/Core/Header.cs
  src/Fluxzy.Core/InvalidHttpFramingException.cs
  test/Fluxzy.Tests/UnitTests/Core/Http11FramingTests.cs
Due: Fluxzy.Core

Normalize HTTP/1.1 framing to prevent request smuggling (#671)
  src/Fluxzy.Core/Core/Header.cs
  src/Fluxzy.Core/InvalidHttpFramingException.cs
  test/Fluxzy.Tests/UnitTests/Core/Http11FramingTests.cs
Due: Fluxzy.Core

Replace SharpZipLib's zip handling with the built-in System.IO.Compression and remove the package. pcap and pcapng entries are still stored uncompressed, and extraction now rejects zip-slip paths.
  src/Fluxzy.Core/Archiving/ZipHelper.cs
  src/Fluxzy.Core/Fluxzy.Core.csproj
  test/Fluxzy.Tests/UnitTests/Misc/ZipHelperTests.cs
Due: Fluxzy.Core

Remove sharpziplib and make extra content decoders pluggable (#677)
  src/Fluxzy.Core/Archiving/Extensions/CompressionHelper.cs
  src/Fluxzy.Core/Archiving/Extensions/ContentDecoderRegistry.cs
  src/Fluxzy.Core/Archiving/Extensions/ExchangeExtensions.cs
  src/Fluxzy.Core/Archiving/Extensions/IContentDecoder.cs
  src/Fluxzy.Core/Archiving/ZipHelper.cs
  src/Fluxzy.Core/Core/ExchangeContext.cs
  src/Fluxzy.Core/Core/ProxyOrchestrator.cs
  src/Fluxzy.Core/Fluxzy.Core.csproj
  src/Fluxzy.Core/Formatters/Producers/ProducerActions/Actions/SaveResponseBodyAction.cs
  src/Fluxzy.Core/Rules/Actions/HighLevelActions/InjectHtmlTagAction.cs
  test/Fluxzy.Tests/Cli/Pack/PackCommandTests.cs
  test/Fluxzy.Tests/Startup.cs
  test/Fluxzy.Tests/UnitTests/Misc/ContentDecoderRegistryTests.cs
  test/Fluxzy.Tests/UnitTests/Misc/InjectHtmlHeadReproTests.cs
  test/Fluxzy.Tests/UnitTests/Misc/InjectHtmlTagZstdDiagnosisTests.cs
  test/Fluxzy.Tests/UnitTests/Misc/ResponseContentEncodingTokenTests.cs
  test/Fluxzy.Tests/UnitTests/Misc/ZipHelperTests.cs
Due: Fluxzy.Core

Register a zstd content decoder in the CLI
  src/Fluxzy/FluxzyStartup.cs
  src/Fluxzy/ZstandardContentDecoder.cs
  src/Fluxzy/fluxzy.csproj
  test/Fluxzy.Tests/UnitTests/Misc/ZstdContentDecoderCliTests.cs
Due: Fluxzy

Register a zstd content decoder in the CLI (#678)
  src/Fluxzy/FluxzyStartup.cs
  src/Fluxzy/ZstandardContentDecoder.cs
  src/Fluxzy/fluxzy.csproj
  test/Fluxzy.Tests/UnitTests/Misc/ZstdContentDecoderCliTests.cs
Due: Fluxzy

Read rule files directly with YamlDotNet and report error positions
  src/Fluxzy.Core/Misc/Converters/PolymorphicConverter.cs
  src/Fluxzy.Core/Misc/Converters/PolymorphicTypeResolver.cs
  src/Fluxzy.Core/Rules/RuleConfigParser.cs
  src/Fluxzy.Core/Rules/RuleConfigReaderError.cs
  src/Fluxzy.Core/Rules/Yaml/EventBufferParser.cs
  src/Fluxzy.Core/Rules/Yaml/RuleNodeDeserializer.cs
  src/Fluxzy.Core/Rules/Yaml/RuleObjectFactory.cs
  src/Fluxzy.Core/Rules/Yaml/RuleYamlDeserializerFactory.cs
  test/Fluxzy.Tests/UnitTests/Rules/RuleParsingDiagnostics.cs
  test/Fluxzy.Tests/UnitTests/Rules/RuleParsingExhaustive.cs
Due: Fluxzy.Core
