Repository haga-rak/fluxzy.core: changes, and which Codecov flags are due for each by the changed paths.
All: Fluxzy.Core, Fluxzy

codecov.yml:

comment:
  layout: "header, diff, flags, components"

coverage:
  status:
    project:
      default:
        target: 65% 

component_management:
  default_rules:
    statuses:
      - type: project
        target: 65%
        branches:
          - "main"
  individual_components:
    - component_id: Fluxzy.Core
      name: Fluxzy.Core
      paths:
        - src/Fluxzy.Core/**
    - component_id: Fluxzy
      name: Fluxzy
      paths:
        - src/Fluxzy/**
ignore:
  - "src/Fluxzy.Core.Pcap/**"
  - "src/Fluxzy.Core.Pcap.Cli/**"
  - "src/Fluxzy.Core.Pcap/**"
  - "src/Fluxzy.Extensions/**"
  - "src/Fluxzy.Tools.DocGen/**"

# Ignore debugging code 
  - "src/Fluxzy.Core/Clients/H2Logger.cs"
  - "src/Fluxzy.Core/Clients/H1Logger.cs"
  - "src/Fluxzy.Core/Misc/Streams/DebugFileStream.cs"

Removed outdated browser test cases from ImpersonateTests. (#519)
  test/Fluxzy.Tests/ImpersonateTests.cs
Due: none

Fix session action not propagating on subdomain
  src/Fluxzy.Core/Rules/Actions/HighLevelActions/ApplySessionAction.cs
  src/Fluxzy.Core/Rules/Actions/HighLevelActions/CaptureSessionAction.cs
  src/Fluxzy.Core/Rules/Session/SessionData.cs
  src/Fluxzy.Core/Rules/Session/SessionStore.cs
  test/Fluxzy.Tests/UnitTests/Session/SessionStoreTests.cs
Due: Fluxzy.Core

Fix session action not propagating on subdomain (#520)
  src/Fluxzy.Core/Rules/Actions/HighLevelActions/ApplySessionAction.cs
  src/Fluxzy.Core/Rules/Actions/HighLevelActions/CaptureSessionAction.cs
  src/Fluxzy.Core/Rules/Session/SessionData.cs
  src/Fluxzy.Core/Rules/Session/SessionStore.cs
  test/Fluxzy.Tests/UnitTests/Session/SessionStoreTests.cs
Due: Fluxzy.Core

Avoid multiple enumeration of headers
  src/Fluxzy.Core/Rules/Actions/HighLevelActions/CaptureSessionAction.cs
Due: Fluxzy.Core

Avoid multiple enumeration of headers (#521)
  src/Fluxzy.Core/Rules/Actions/HighLevelActions/CaptureSessionAction.cs
Due: Fluxzy.Core

Change .NET version from 8.0 to 10.0 in README
  README.md
Due: none

Change .NET version from 8.0 to 10.0 in README (#522)
  README.md
Due: none

Allow extraction of listening port for unit tests
  src/Fluxzy.Core/Utils/ProcessTracking/ProcessTracker.cs
Due: Fluxzy.Core

Add arguments in processinfo + simple cache
  src/Fluxzy.Core/Utils/ProcessTracking/ProcessInfo.cs
  src/Fluxzy.Core/Utils/ProcessTracking/ProcessTracker.cs
  test/Fluxzy.Tests/UnitTests/Util/ProcessTrackerTests.cs
Due: Fluxzy.Core

Move os specific implementation to specific class
  codecov.yml
  src/Fluxzy.Core/Utils/ProcessTracking/LinuxProcessHelper.cs
  src/Fluxzy.Core/Utils/ProcessTracking/MacOsNativeMethods.cs
  src/Fluxzy.Core/Utils/ProcessTracking/MacOsProcessHelper.cs
  src/Fluxzy.Core/Utils/ProcessTracking/ProcessTracker.cs
  src/Fluxzy.Core/Utils/ProcessTracking/WindowsNativeMethods.cs
  src/Fluxzy.Core/Utils/ProcessTracking/WindowsProcessHelper.cs
Due: Fluxzy.Core

Added ProcessTrackerCacheSeconds setting to allow cache duration for process tracking to be set via environment variable (FLUXZY_PROCESS_TRACKER_CACHE_SECONDS).
  src/Fluxzy.Core/FluxzySharedSetting.cs
  src/Fluxzy.Core/Utils/ProcessTracking/ProcessTracker.cs
Due: Fluxzy.Core

Remove hope unit tests
  test/Fluxzy.Tests/UnitTests/Util/ProcessTrackerTests.cs
Due: none

Add process information tracking in Fluxzy.Core (#523)
  codecov.yml
  src/Fluxzy.Core/Archiving/ExchangeInfo.cs
  src/Fluxzy.Core/Core/Exchange.cs
  src/Fluxzy.Core/Core/ProxyOrchestrator.cs
  src/Fluxzy.Core/FluxzySetting.Fluent.cs
  src/Fluxzy.Core/FluxzySetting.cs
  src/Fluxzy.Core/FluxzySharedSetting.cs
  src/Fluxzy.Core/Utils/ProcessTracking/IProcessTracker.cs
  src/Fluxzy.Core/Utils/ProcessTracking/LinuxProcessHelper.cs
  src/Fluxzy.Core/Utils/ProcessTracking/MacOsNativeMethods.cs
  src/Fluxzy.Core/Utils/ProcessTracking/MacOsProcessHelper.cs
  src/Fluxzy.Core/Utils/ProcessTracking/ProcessInfo.cs
  src/Fluxzy.Core/Utils/ProcessTracking/ProcessTracker.cs
  src/Fluxzy.Core/Utils/ProcessTracking/WindowsNativeMethods.cs
  src/Fluxzy.Core/Utils/ProcessTracking/WindowsProcessHelper.cs
  test/Fluxzy.Tests/Cases/ProcessTrackingIntegrationTests.cs
  test/Fluxzy.Tests/UnitTests/Util/ProcessTrackerTests.cs
Due: Fluxzy.Core

Add new filters `ProcessNameFilter` and `ProcessIdFilter`
  docs/filters/ProcessIdFilter.md
  docs/filters/ProcessNameFilter.md
  docs/searchable-items.json
  src/Fluxzy.Core/Rules/Filters/RequestFilters/ProcessIdFilter.cs
  src/Fluxzy.Core/Rules/Filters/RequestFilters/ProcessNameFilter.cs
  src/Fluxzy/Commands/StartCommandBuilder.cs
  src/Fluxzy/Commands/StartCommandOptions.cs
  test/Fluxzy.Tests/Cli/WithRuleOptionProcessFilters.cs
Due: Fluxzy.Core, Fluxzy

Add new filters `ProcessNameFilter` and `ProcessIdFilter` (#524)
  docs/filters/ProcessIdFilter.md
  docs/filters/ProcessNameFilter.md
  docs/searchable-items.json
  src/Fluxzy.Core/Rules/Filters/RequestFilters/ProcessIdFilter.cs
  src/Fluxzy.Core/Rules/Filters/RequestFilters/ProcessNameFilter.cs
  src/Fluxzy/Commands/StartCommandBuilder.cs
  src/Fluxzy/Commands/StartCommandOptions.cs
  test/Fluxzy.Tests/Cli/WithRuleOptionProcessFilters.cs
Due: Fluxzy.Core, Fluxzy

Update README with additional badge links
  README.md
Due: none

Update README with additional badge links (#525)
  README.md
Due: none

Bump version to 1.32-alpha
  version.json
Due: none

Set version to '1.32'
  version.json
Due: none

Set version to '1.33-alpha'
  version.json
Due: none

Add CaptureRequestCookies option to CaptureSessionAction to allow capturing cookies from incoming request headers (in addition to Set-Cookie from responses)
  codecov.yml
  src/Fluxzy.Core/Rules/Actions/HighLevelActions/CaptureSessionAction.cs
  test/Fluxzy.Tests/Cli/WithRuleOptionSessionActions.cs
Due: Fluxzy.Core

Add CaptureRequestCookies option to CaptureSessionAction to allow capturing cookies from incoming request headers (#526)
  codecov.yml
  src/Fluxzy.Core/Rules/Actions/HighLevelActions/CaptureSessionAction.cs
  test/Fluxzy.Tests/Cli/WithRuleOptionSessionActions.cs
  version.json
Due: Fluxzy.Core

Fix version mismatch
  version.json
Due: none

Add sock5 base implementation + unit tests
  src/Fluxzy.Core/Core/Authentication/Socks5AuthenticationAdapter.cs
  src/Fluxzy.Core/Core/ExchangeSourceProviderHelper.cs
  src/Fluxzy.Core/Core/ProtocolDetectingSourceProvider.cs
  src/Fluxzy.Core/Core/Socks5/Socks5Constants.cs
  src/Fluxzy.Core/Core/Socks5/Socks5ProtocolException.cs
  src/Fluxzy.Core/Core/Socks5/Socks5ProtocolHandler.cs
  src/Fluxzy.Core/Core/Socks5/Socks5Request.cs
  src/Fluxzy.Core/Core/Socks5/Socks5SourceProvider.cs
  test/Fluxzy.Tests/UnitTests/Socks5/Socks5AuthenticationAdapterTests.cs
  test/Fluxzy.Tests/UnitTests/Socks5/Socks5ProtocolHandlerTests.cs
  test/Fluxzy.Tests/UnitTests/Socks5/Socks5SourceProviderTests.cs
Due: Fluxzy.Core

Fix SOCK5 connection hanging
  src/Fluxzy.Core/Core/Socks5/Socks5SourceProvider.cs
  test/Fluxzy.Tests/Cases/Socks5IntegrationTests.cs
  test/Fluxzy.Tests/Cli/CliNoCap.cs
  test/Fluxzy.Tests/Cli/CliTestBase.cs
  test/Fluxzy.Tests/Cli/Scaffolding/ProxiedHttpClient.cs
Due: Fluxzy.Core

Add supported proxy protocols section to README
  README.md
Due: none

Add SOCKS5 proxy protocol support (#527)
  README.md
  src/Fluxzy.Core/Core/Authentication/Socks5AuthenticationAdapter.cs
  src/Fluxzy.Core/Core/ExchangeSourceProviderHelper.cs
  src/Fluxzy.Core/Core/ProtocolDetectingSourceProvider.cs
  src/Fluxzy.Core/Core/Socks5/Socks5Constants.cs
  src/Fluxzy.Core/Core/Socks5/Socks5ProtocolException.cs
  src/Fluxzy.Core/Core/Socks5/Socks5ProtocolHandler.cs
  src/Fluxzy.Core/Core/Socks5/Socks5Request.cs
  src/Fluxzy.Core/Core/Socks5/Socks5SourceProvider.cs
  test/Fluxzy.Tests/Cases/Socks5IntegrationTests.cs
  test/Fluxzy.Tests/Cli/CliNoCap.cs
  test/Fluxzy.Tests/Cli/CliTestBase.cs
  test/Fluxzy.Tests/Cli/Scaffolding/ProxiedHttpClient.cs
  test/Fluxzy.Tests/UnitTests/Socks5/Socks5AuthenticationAdapterTests.cs
  test/Fluxzy.Tests/UnitTests/Socks5/Socks5ProtocolHandlerTests.cs
  test/Fluxzy.Tests/UnitTests/Socks5/Socks5SourceProviderTests.cs
Due: Fluxzy.Core

Add mDns annoucement service
  src/Fluxzy.Core/Misc/DnsPacketBuilder.cs
  src/Fluxzy.Core/Misc/DnsPacketParser.cs
  src/Fluxzy.Core/Misc/MdnsAnnouncerOptions.cs
  src/Fluxzy.Core/Misc/MdnsConstants.cs
  src/Fluxzy.Core/Misc/ProxyDiscoveryService.cs
  test/Fluxzy.Tests/UnitTests/Mdns/DnsPacketBuilderTests.cs
  test/Fluxzy.Tests/UnitTests/Mdns/DnsPacketParserTests.cs
  test/Fluxzy.Tests/UnitTests/Mdns/ProxyDiscoveryServiceTests.cs
Due: Fluxzy.Core

Integrate ProxyDiscoveryService to app startup
  src/Fluxzy.Core/Proxy.cs
Due: Fluxzy.Core

Handle null character on domain name (ex: hvec proxy)
  src/Fluxzy.Core/Core/Socks5/Socks5ProtocolHandler.cs
Due: Fluxzy.Core

Improve SOCKS5 reply compatibility with domain names
  src/Fluxzy.Core/Core/Socks5/Socks5SourceProvider.cs
Due: Fluxzy.Core

Add a default fallback IP in order to allow showing 528 error page on SOCKS5 DNS error
  src/Fluxzy.Core/Core/Socks5/Socks5SourceProvider.cs
Due: Fluxzy.Core

Add compatibility mode for various tunnel to SOCK5 clients (#531)
  src/Fluxzy.Core/Core/Socks5/Socks5ProtocolHandler.cs
  src/Fluxzy.Core/Core/Socks5/Socks5SourceProvider.cs
Due: Fluxzy.Core

Add Android emulator host (10.0.2.2) support for IsSelfFilter
  src/Fluxzy.Core/FluxzySetting.Fluent.cs
  src/Fluxzy.Core/FluxzySetting.cs
  src/Fluxzy.Core/Rules/Filters/RequestFilters/IsSelfFilter.cs
  src/Fluxzy/Commands/StartCommandBuilder.cs
  src/Fluxzy/Commands/StartCommandOptions.cs
  src/Fluxzy/Properties/launchSettings.json
  test/Fluxzy.Tests/Cases/SelfCallTests.cs
Due: Fluxzy.Core, Fluxzy

Add Android emulator host (`10.0.2.2`) support for IsSelfFilter (#532)
  src/Fluxzy.Core/FluxzySetting.Fluent.cs
  src/Fluxzy.Core/FluxzySetting.cs
  src/Fluxzy.Core/Rules/Filters/RequestFilters/IsSelfFilter.cs
  src/Fluxzy/Commands/StartCommandBuilder.cs
  src/Fluxzy/Commands/StartCommandOptions.cs
  src/Fluxzy/Properties/launchSettings.json
  test/Fluxzy.Tests/Cases/SelfCallTests.cs
Due: Fluxzy.Core, Fluxzy

Ignore read body error access for ongoing exchange
  src/Fluxzy.Core/Archiving/Readers/DirectoryArchiveReader.cs
Due: Fluxzy.Core

Ignore read body error access for ongoing exchange (#533)
  src/Fluxzy.Core/Archiving/Readers/DirectoryArchiveReader.cs
Due: Fluxzy.Core

Get rid a ephemeral alloc on SOCK5 impl (use RsBuffer)
  src/Fluxzy.Core/Core/Socks5/Socks5ProtocolHandler.cs
  src/Fluxzy.Core/Core/Socks5/Socks5SourceProvider.cs
  test/Fluxzy.Tests/UnitTests/Socks5/Socks5ProtocolHandlerTests.cs
  test/Fluxzy.Tests/UnitTests/Socks5/Socks5SourceProviderTests.cs
Due: Fluxzy.Core

Get rid a ephemeral alloc on SOCK5 impl (use RsBuffer) (#534)
  src/Fluxzy.Core/Core/Socks5/Socks5ProtocolHandler.cs
  src/Fluxzy.Core/Core/Socks5/Socks5SourceProvider.cs
  test/Fluxzy.Tests/UnitTests/Socks5/Socks5ProtocolHandlerTests.cs
  test/Fluxzy.Tests/UnitTests/Socks5/Socks5SourceProviderTests.cs
Due: Fluxzy.Core

Add basic integration of Spectre Console
  codecov.yml
  src/Fluxzy/Commands/PrettyOutput/CircularExchangeBuffer.cs
  src/Fluxzy/Commands/PrettyOutput/ExchangeDisplayEntry.cs
  src/Fluxzy/Commands/PrettyOutput/PrettyOutputRenderer.cs
  src/Fluxzy/Commands/PrettyOutput/ProxyStatistics.cs
  src/Fluxzy/Commands/StartCommandBuilder.cs
  src/Fluxzy/Commands/StartCommandOptions.cs
  src/Fluxzy/fluxzy.csproj
Due: Fluxzy
