Repository haga-rak/fluxzy.core: changes, and which Codecov flags are due for each by the changed paths.
All: Fluxzy.Core, Fluxzy

Add PcapHandler unit test with Pcap support
  test/Fluxzy.Tests/UnitTests/Handlers/ViaDefaultHandler.cs
Due: none

Add HTTP traffic capture sample with Pcapng
  Samples.No014.HttpClientWithPcap/Program.cs
  Samples.No014.HttpClientWithPcap/Samples.No014.HttpClientWithPcap.csproj
  fluxzy.core.sln
Due: none

Add an `HttpMessageHandler` that extract PCAPNG/SSLKEYLOG without running the proxy (#200)
  Samples.No014.HttpClientWithPcap/Program.cs
  Samples.No014.HttpClientWithPcap/Samples.No014.HttpClientWithPcap.csproj
  fluxzy.core.sln
  src/Fluxzy.Core.Pcap/Pcapng/PcapngUtils.cs
  src/Fluxzy.Core/Archiving/Writers/EventOnlyArchiveWriter.cs
  src/Fluxzy.Core/Archiving/Writers/PcapOnlyArchiveWriter.cs
  src/Fluxzy.Core/Clients/DotNetBridge/FluxzyDefaultHandler.cs
  test/Fluxzy.Tests/UnitTests/Handlers/ViaDefaultHandler.cs
Due: Fluxzy.Core

Move Example 14 to correct directory
  examples/Samples.No014.HttpClientWithPcap/Program.cs
  examples/Samples.No014.HttpClientWithPcap/Samples.No014.HttpClientWithPcap.csproj
  fluxzy.core.sln
Due: none

Move Example 14 to correct directory (#201)
  examples/Samples.No014.HttpClientWithPcap/Program.cs
  examples/Samples.No014.HttpClientWithPcap/Samples.No014.HttpClientWithPcap.csproj
  fluxzy.core.sln
Due: none

Update project reference paths in Samples.No014
  examples/Samples.No014.HttpClientWithPcap/Samples.No014.HttpClientWithPcap.csproj
Due: none

Add MemoryUtility class for memory operations
  src/Fluxzy.Core/Utils/MemoryUtility.cs
Due: Fluxzy.Core

Add ProxyConfiguration class
  src/Fluxzy.Core/Clients/ProxyConfiguration.cs
Due: Fluxzy.Core

Add UpstreamProxyManager and UpstreamProxyConnectResult
  src/Fluxzy.Core/Clients/UpstreamProxyConnectResult.cs
  src/Fluxzy.Core/Clients/UpstreamProxyManager.cs
Due: Fluxzy.Core

Add unit tests for UpstreamProxyManager
  test/Fluxzy.Tests/UnitTests/Misc/UpstreamProxyManagerTests.cs
Due: none

Handle ProxyConfiguration in fluxzy flow
  src/Fluxzy.Core/Clients/H11/Http11ConnectionPool.cs
  src/Fluxzy.Core/Clients/H11/TunnelOnlyConnectionPool.cs
  src/Fluxzy.Core/Clients/H11/WebsocketConnectionPool.cs
  src/Fluxzy.Core/Clients/IRemoteConnectionBuilder.cs
  src/Fluxzy.Core/Clients/PoolBuilder.cs
  src/Fluxzy.Core/Core/ExchangeContext.cs
Due: Fluxzy.Core

Add metrics on proxy connection
  src/Fluxzy.Core/Archiving/ConnectionInfo.cs
  src/Fluxzy.Core/Core/Connection.cs
  src/Fluxzy.Core/Rules/Actions/UpStreamProxyAction.cs
Due: Fluxzy.Core

Replace ProxyConfiguration with ConnectConfiguration
  src/Fluxzy.Core/Clients/UpstreamProxyManager.cs
  test/Fluxzy.Tests/UnitTests/Misc/UpstreamProxyManagerTests.cs
Due: Fluxzy.Core

Add proxy configuration support in connection builder
  src/Fluxzy.Core/Clients/ConnectConfiguration.cs
  src/Fluxzy.Core/Clients/DnsUtility.cs
  src/Fluxzy.Core/Clients/IRemoteConnectionBuilder.cs
Due: Fluxzy.Core

Update proxy configuration assignment
  src/Fluxzy.Core/Rules/Actions/UpStreamProxyAction.cs
Due: Fluxzy.Core

Add YamlIgnore attribute to NoEditableSetting property
  src/Fluxzy.Core/Rules/Action.cs
Due: Fluxzy.Core

Add tests for WithRuleUpStreamProxyAction class
  test/Fluxzy.Tests/Cli/WithRuleUpStreamProxyAction.cs
Due: none

Remove `noEditableSetting` from action docs
  docs/actions/AbortAction.md
  docs/actions/ForceHttp11Action.md
  docs/actions/ForceHttp2Action.md
  docs/actions/MountCertificateAuthorityAction.md
  docs/actions/MountWelcomePageAction.md
  docs/actions/NoOpAction.md
  docs/actions/RemoveCacheAction.md
  docs/actions/SkipRemoteCertificateValidationAction.md
  docs/actions/SkipSslTunnelingAction.md
  docs/searchable-items.json
Due: none

Add UpStreamProxyAction documentation
  docs/actions/UpStreamProxyAction.md
Due: none

Allow fluxzy to forward outbound requests to another HTTP proxy (#202)
  docs/actions/AbortAction.md
  docs/actions/ForceHttp11Action.md
  docs/actions/ForceHttp2Action.md
  docs/actions/MountCertificateAuthorityAction.md
  docs/actions/MountWelcomePageAction.md
  docs/actions/NoOpAction.md
  docs/actions/RemoveCacheAction.md
  docs/actions/SkipRemoteCertificateValidationAction.md
  docs/actions/SkipSslTunnelingAction.md
  docs/actions/UpStreamProxyAction.md
  docs/searchable-items.json
  src/Fluxzy.Core/Archiving/ConnectionInfo.cs
  src/Fluxzy.Core/Clients/ConnectConfiguration.cs
  src/Fluxzy.Core/Clients/DnsUtility.cs
  src/Fluxzy.Core/Clients/H11/Http11ConnectionPool.cs
  src/Fluxzy.Core/Clients/H11/TunnelOnlyConnectionPool.cs
  src/Fluxzy.Core/Clients/H11/WebsocketConnectionPool.cs
  src/Fluxzy.Core/Clients/IRemoteConnectionBuilder.cs
  src/Fluxzy.Core/Clients/PoolBuilder.cs
  src/Fluxzy.Core/Clients/ProxyConfiguration.cs
  src/Fluxzy.Core/Clients/UpstreamProxyConnectResult.cs
  src/Fluxzy.Core/Clients/UpstreamProxyManager.cs
  src/Fluxzy.Core/Core/Connection.cs
  src/Fluxzy.Core/Core/ExchangeContext.cs
  src/Fluxzy.Core/Rules/Action.cs
  src/Fluxzy.Core/Rules/Actions/UpStreamProxyAction.cs
  src/Fluxzy.Core/Utils/MemoryUtility.cs
  test/Fluxzy.Tests/Cli/WithRuleUpStreamProxyAction.cs
  test/Fluxzy.Tests/UnitTests/Misc/UpstreamProxyManagerTests.cs
Due: Fluxzy.Core

Update README.md
  README.md
Due: none

Add command line args parsing
  docs/DOCKER.md
  src/Fluxzy/ArgsHelper.cs
  src/Fluxzy/ContainerEnvironmentHelper.cs
  src/Fluxzy/Program.cs
Due: Fluxzy

Update environment variable fetching in ContainerEnvironmentHelper
  src/Fluxzy/ContainerEnvironmentHelper.cs
Due: Fluxzy

Add unit tests for ContainerEnvironmentHelper
  test/Fluxzy.Tests/UnitTests/Container/ContainerEnvironmentHelperTests.cs
Due: none

Add DockerFile
  .dockerignore
  Dockerfile
  README.Docker.md
  fluxzy.core.sln
Due: none

Read container settings from EV instead of args
  src/Fluxzy/ContainerEnvironmentHelper.cs
  src/Fluxzy/FluxzyStartup.cs
  src/Fluxzy/Program.cs
  test/Fluxzy.Tests/UnitTests/Container/ContainerEnvironmentHelperTests.cs
Due: Fluxzy

Use alpine image instead of debian:bullseye, reduce container image to less than 100MB
  Dockerfile
  fluxzy.core.sln
Due: none

Add correct entry point to allow using shell inside the container
  docker/Dockerfile.alpine-x64
  docker/entrypoint.sh
  fluxzy.core.sln
  src/Fluxzy/ContainerEnvironmentHelper.cs
  test/Fluxzy.Tests/UnitTests/Container/ContainerEnvironmentHelperTests.cs
Due: Fluxzy

Cleanup SignHelper
  build/Fluxzy.Build/SignHelper.cs
Due: none

Remove docker docs of default docs path
  docs/DOCKER.md
Due: none

Update `.dockerignore` to exclude build pipeline
  .dockerignore
Due: none

Add `DockerHelper`, building docker image and pushing to docker.io
  build/Fluxzy.Build/DockerHelper.cs
Due: none

Add `fluxzy-cli-publish-docker` pipeline option to publish docker image to docker.io
  build/Fluxzy.Build/Program.cs
  fluxzy.core.sln
Due: none

Add a docker-compose.yml example
  docker/docker-compose.yml
Due: none

Add README.md for docker hub
  docker/README.md
  src/Fluxzy/ContainerEnvironmentHelper.cs
  src/Fluxzy/Dockering/ContainerEnvironmentHelper.cs
  src/Fluxzy/Dockering/DictionaryEnvironmentProvider.cs
  src/Fluxzy/Dockering/EnvironmentProvider.cs
  src/Fluxzy/Dockering/SystemEnvironmentProvider.cs
  src/Fluxzy/Program.cs
  test/Fluxzy.Tests/UnitTests/Container/ContainerEnvironmentHelperTests.cs
Due: Fluxzy

Cleanup last added files
  build/Fluxzy.Build/Program.cs
  src/Fluxzy/Dockering/ContainerEnvironmentHelper.cs
  src/Fluxzy/Dockering/EnvironmentProvider.cs
Due: Fluxzy

Add release-docker workflow
  .github/workflows/release-docker.yml
Due: none

Add link to docker hub on default release
  build/Fluxzy.Build/GhPublishHelper.cs
Due: none

Publish fluxzy on docker.io: https://hub.docker.com/r/fluxzy/fluxzy (#203)
  .dockerignore
  .github/workflows/release-docker.yml
  README.Docker.md
  build/Fluxzy.Build/DockerHelper.cs
  build/Fluxzy.Build/GhPublishHelper.cs
  build/Fluxzy.Build/Program.cs
  build/Fluxzy.Build/SignHelper.cs
  docker/Dockerfile.alpine-x64
  docker/README.md
  docker/docker-compose.yml
  docker/entrypoint.sh
  fluxzy.core.sln
  src/Fluxzy/ArgsHelper.cs
  src/Fluxzy/Dockering/ContainerEnvironmentHelper.cs
  src/Fluxzy/Dockering/DictionaryEnvironmentProvider.cs
  src/Fluxzy/Dockering/EnvironmentProvider.cs
  src/Fluxzy/Dockering/SystemEnvironmentProvider.cs
  src/Fluxzy/FluxzyStartup.cs
  src/Fluxzy/Program.cs
  test/Fluxzy.Tests/UnitTests/Container/ContainerEnvironmentHelperTests.cs
Due: Fluxzy

Delete README.Docker.md
  README.Docker.md
Due: none

Path conditions:
  Fluxzy.Core: any of: src/Fluxzy.Core/**, but not: src/Fluxzy.Core.Pcap/**, src/Fluxzy.Core.Pcap.Cli/**, src/Fluxzy.Core.Pcap/**, src/Fluxzy.Extensions/**, src/Fluxzy.Tools.DocGen/**, src/Fluxzy.Core/Clients/H2Logger.cs, src/Fluxzy.Core/Clients/H1Logger.cs, src/Fluxzy.Core/Misc/Streams/DebugFileStream.cs
  Fluxzy: any of: src/Fluxzy/**, but not: src/Fluxzy.Core.Pcap/**, src/Fluxzy.Core.Pcap.Cli/**, src/Fluxzy.Core.Pcap/**, src/Fluxzy.Extensions/**, src/Fluxzy.Tools.DocGen/**, src/Fluxzy.Core/Clients/H2Logger.cs, src/Fluxzy.Core/Clients/H1Logger.cs, src/Fluxzy.Core/Misc/Streams/DebugFileStream.cs
