Repository haga-rak/fluxzy.core: changes, and which Codecov flags are due for each by the changed paths.
All: Fluxzy.Core, Fluxzy

Add DNS cache for DNS over HTTPS
  src/Fluxzy.Core/Clients/Dns/DnsOverHttpsResolver.cs
  src/Fluxzy.Core/Utils/Synchronizer.cs
Due: Fluxzy.Core

Rollback temp version
  version.json
Due: none

Fix DNS over HTTPS failing to connect when any binding address contains `IPAddress.IPV6Any` (#364)
  src/Fluxzy.Core/Clients/Dns/DefaultDnsResolver.cs
  src/Fluxzy.Core/Clients/Dns/DnsOverHttpsResolver.cs
  src/Fluxzy.Core/Clients/PoolBuilder.cs
  src/Fluxzy.Core/Clients/ProxyConfiguration.cs
  src/Fluxzy.Core/Core/Connection.cs
  src/Fluxzy.Core/Core/ProxyRuntimeSetting.cs
  src/Fluxzy.Core/Rules/Actions/UseDnsOverHttpsAction.cs
  src/Fluxzy.Core/Utils/Synchronizer.cs
  test/Fluxzy.Tests/Cli/WithRuleOptionBase.cs
  test/Fluxzy.Tests/Cli/WithRuleOptionUseDnsOverHttpsAction.cs
Due: Fluxzy.Core

Use `SslServerAuthenticationOptions` for server binding
  src/Fluxzy.Core/Core/Impl/SecureConnectionUpdater.cs
  src/Fluxzy.Core/Core/ReverseProxyExchangeSourceProvider.cs
Due: Fluxzy.Core

Add a more straightforward constructor for DisposeEventNotifierStream, remove unecessary event bindig
  src/Fluxzy.Core.Pcap/CapturableConnection.cs
  src/Fluxzy.Core/Core/Impl/DefaultTcpConnection.cs
  src/Fluxzy.Core/Core/Impl/SecureConnectionUpdater.cs
  src/Fluxzy.Core/Core/ReverseProxyExchangeSourceProvider.cs
  src/Fluxzy.Core/Misc/Streams/DisposeEventNotifierStream.cs
Due: Fluxzy.Core

Simplify hugely ITcpConnection
  src/Fluxzy.Core.Pcap/CapturableConnection.cs
  src/Fluxzy.Core.Pcap/CapturedTcpConnectionProvider.cs
  src/Fluxzy.Core/AssemblyInfoExtends.cs
  src/Fluxzy.Core/Clients/H11/Http11ConnectionPool.cs
  src/Fluxzy.Core/Clients/H11/Http11PoolProcessing.cs
  src/Fluxzy.Core/Clients/IRemoteConnectionBuilder.cs
  src/Fluxzy.Core/Core/ITcpConnection.cs
  src/Fluxzy.Core/Core/Impl/DefaultTcpConnection.cs
  src/Fluxzy.Core/ICaptureContext.cs
  src/Fluxzy.Core/Misc/Streams/DisposeEventNotifierStream.cs
Due: Fluxzy.Core

Sanitize `CapturedTcpConnectionProvider`
  src/Fluxzy.Core.Pcap/CapturedTcpConnectionProvider.cs
  src/Fluxzy.Core/Core/ProxyScope.cs
  src/Fluxzy/Commands/StartCommandBuilder.cs
Due: Fluxzy.Core, Fluxzy

Add TryFlush emptying pcap buffer to file
  src/Fluxzy.Core.Pcap/CapturableConnection.cs
  src/Fluxzy.Core.Pcap/CapturedTcpConnectionProvider.cs
  src/Fluxzy.Core.Pcap/Pcapng/PcapngUtils.cs
  src/Fluxzy.Core/Core/DefaultTcpConnectionProvider.cs
  src/Fluxzy.Core/Core/ITcpConnectionProvider.cs
  src/Fluxzy.Core/Core/ProxyScope.cs
Due: Fluxzy.Core

Set `x25519` as the default key-share (previously X25519MLKEM768)
  src/Fluxzy.Core/Clients/Ssl/BouncyCastle/FluxzyTlsClient.cs
  test/Fluxzy.Tests/Cli/ReverseProxy.cs
Due: Fluxzy.Core

Replace http://example.com with http://eu.httpbin.org/ for plain tests
  test/Fluxzy.Tests/Cli/WithRuleOptionHostFilter.cs
  test/Fluxzy.Tests/Cli/WithRuleOptionIsSecureFilter.cs
  test/Fluxzy.Tests/ProxyTests.cs
  test/Fluxzy.Tests/UnitTests/Misc/PathAndQueryUtilityTests.cs
Due: none

Make `x25519` the default key-share (previously X25519MLKEM768) when using BC (#365)
  src/Fluxzy.Core/Clients/Ssl/BouncyCastle/FluxzyTlsClient.cs
  test/Fluxzy.Tests/Cli/ReverseProxy.cs
  test/Fluxzy.Tests/Cli/WithRuleOptionHostFilter.cs
  test/Fluxzy.Tests/Cli/WithRuleOptionIsSecureFilter.cs
  test/Fluxzy.Tests/ProxyTests.cs
  test/Fluxzy.Tests/UnitTests/Misc/PathAndQueryUtilityTests.cs
Due: Fluxzy.Core

Update version.json to `1.28.0-beta`
  version.json
Due: none

Update version.json to `1.28.0-beta` (#366)
  version.json
Due: none

Add optimization
  src/Fluxzy.Core/Core/Authentication/NoAuthenticationMethod.cs
Due: Fluxzy.Core

Fix premade response hangs socket when response body is empty
  src/Fluxzy.Core/Clients/Mock/BodyContent.cs
  src/Fluxzy.Core/Clients/Mock/MockedConnectionPool.cs
  src/Fluxzy.Core/Clients/Mock/MockedResponseContent.cs
Due: Fluxzy.Core

Avoid allocating buffer when source stream is empty and seekable
  src/Fluxzy.Core/Misc/Streams/StreamExtensions.cs
Due: Fluxzy.Core

Cover Premade response with 0 body
  test/Fluxzy.Tests/UnitTests/Rules/MockedResponseContentTests.cs
Due: none

Fix full mocking hang on empty response body with authority-level filter (#367)
  src/Fluxzy.Core/Clients/Mock/BodyContent.cs
  src/Fluxzy.Core/Clients/Mock/MockedConnectionPool.cs
  src/Fluxzy.Core/Clients/Mock/MockedResponseContent.cs
  src/Fluxzy.Core/Misc/Streams/StreamExtensions.cs
  test/Fluxzy.Tests/UnitTests/Rules/MockedResponseContentTests.cs
Due: Fluxzy.Core

Make unit test runnable in user mode under linux - use sudo -A instead of buggy pkexec (needs SUDO_ASKPASS utility) - configure dotnet to allow pcap
  src/Fluxzy.Core/Misc/ProcessUtilX.cs
  src/Fluxzy.Core/Misc/ProcessUtils.cs
  src/Fluxzy/System/OutOfProcAuthorityManager.cs
  test/Fluxzy.Tests/Startup.cs
  test/Fluxzy.Tests/Utility.cs
Due: Fluxzy.Core, Fluxzy

Prefer ssh-askpass first
  src/Fluxzy.Core/Misc/ProcessUtilX.cs
Due: Fluxzy.Core

Stabilize test
  test/Fluxzy.Tests/UnitTests/Rules/AverageThrottlerTests.cs
Due: none

Make unit test runnable in user mode under linux (#368)
  src/Fluxzy.Core/Misc/ProcessUtilX.cs
  src/Fluxzy.Core/Misc/ProcessUtils.cs
  src/Fluxzy/System/OutOfProcAuthorityManager.cs
  test/Fluxzy.Tests/Startup.cs
  test/Fluxzy.Tests/UnitTests/Rules/AverageThrottlerTests.cs
  test/Fluxzy.Tests/Utility.cs
Due: Fluxzy.Core, Fluxzy

Set the defaulted offer groups match OpenSsl 3.2.2
  src/Fluxzy.Core/Clients/Ssl/BouncyCastle/FluxzyTlsClient.cs
  test/Fluxzy.Tests/Utility.cs
Due: Fluxzy.Core

Set the defaulted offer groups match OpenSsl 3.2.2 (#369)
  src/Fluxzy.Core/Clients/Ssl/BouncyCastle/FluxzyTlsClient.cs
  test/Fluxzy.Tests/Utility.cs
Due: Fluxzy.Core

Move, unit test debbuuging not working with Rider
  src/Fluxzy.Core/Core/ConnectionErrorHandler.cs
  src/Fluxzy.Core/Core/ProxyOrchestrator.cs
  src/Fluxzy.Core/Core/ProxyRuntimeSetting.cs
  test/Fluxzy.Tests/Cli/WithRuleBadFilterFilter.cs
Due: Fluxzy.Core

Fix thread safety weakness in `FluxzyHttp2Handler`
  src/Fluxzy.Core/Clients/DotNetBridge/FluxzyHttp2Handler.cs
Due: Fluxzy.Core

Fix for FluxzyHttp11Handler.cs
  src/Fluxzy.Core/Clients/DotNetBridge/FluxzyHttp11Handler.cs
Due: Fluxzy.Core

Fix thread safety weakness in `FluxzyHttp2Handler` and `FluxzyHttp11Handler` (#370)
  src/Fluxzy.Core/Clients/DotNetBridge/FluxzyHttp11Handler.cs
  src/Fluxzy.Core/Clients/DotNetBridge/FluxzyHttp2Handler.cs
Due: Fluxzy.Core

Handle rule exception message
  src/Fluxzy.Core/Core/ConnectionErrorHandler.cs
  src/Fluxzy.Core/Core/ConnectionErrorPageHelper.cs
  src/Fluxzy.Core/Core/ProxyOrchestrator.cs
  src/Fluxzy.Core/Rules/Filters/RequestFilters/RequestHeaderFilter.cs
  test/Fluxzy.Tests/Cases/BadRuleHandlingTests.cs
  test/Fluxzy.Tests/Cases/Expect100ContinueTests.cs
  test/Fluxzy.Tests/Cli/WithRuleBadFilterFilter.cs
  test/Fluxzy.Tests/UnitTests/Handlers/Http2ConcurrentCall.cs
Due: Fluxzy.Core

Add better timing metrics
  src/Fluxzy.Core/Core/ConnectionErrorHandler.cs
Due: Fluxzy.Core

Add better assertion value
  src/Fluxzy.Core/Core/ConnectionErrorHandler.cs
  src/Fluxzy.Core/Core/ConnectionErrorPageHelper.cs
  test/Fluxzy.Tests/Cases/BadRuleHandlingTests.cs
Due: Fluxzy.Core

Add origin un rule exception information
  src/Fluxzy.Core/Core/ConnectionErrorPageHelper.cs
  src/Fluxzy.Core/Rules/Actions/AddResponseHeaderAction.cs
  src/Fluxzy.Core/Rules/Actions/ForceRemotePortAction.cs
  src/Fluxzy.Core/Rules/Actions/HighLevelActions/InjectHtmlTagAction.cs
  src/Fluxzy.Core/Rules/Actions/HighLevelActions/ServeDirectoryAction.cs
  src/Fluxzy.Core/Rules/Actions/HighLevelActions/SetRequestCookieAction.cs
  src/Fluxzy.Core/Rules/Actions/HighLevelActions/SetResponseCookieAction.cs
  src/Fluxzy.Core/Rules/Actions/SpoofDnsAction.cs
  src/Fluxzy.Core/Rules/Filters/ExecFilter.cs
  src/Fluxzy.Core/Rules/Filters/StringFilter.cs
  src/Fluxzy.Core/Rules/Rule.cs
  src/Fluxzy.Core/Rules/RuleDefinitionMismatchException.cs
  src/Fluxzy.Core/Rules/RuleExecutionFailureException.cs
  test/Fluxzy.Tests/Cases/BadRuleHandlingTests.cs
Due: Fluxzy.Core

Add more unit tests
  src/Fluxzy.Core/Rules/Filters/RequestFilters/IsSelfFilter.cs
  src/Fluxzy.Core/Rules/Filters/RequestFilters/MethodFilter.cs
  test/Fluxzy.Tests/Cases/BadRuleHandlingTests.cs
Due: Fluxzy.Core

Remove unused files
  fluxzy.core.sln
  tools/scripts/NameAndCompress.csx
Due: none

Add archive writer and token in error handling
  src/Fluxzy.Core/Core/ConnectionErrorHandler.cs
  src/Fluxzy.Core/Core/ConnectionErrorPageHelper.cs
  src/Fluxzy.Core/Core/ProxyOrchestrator.cs
  src/Fluxzy.Core/Rules/Actions/RemoveCacheAction.cs
Due: Fluxzy.Core

Rollback port information
  src/Fluxzy.Core/Core/ConnectionErrorHandler.cs
Due: Fluxzy.Core

Improve handling of rule configuration errors (#371)
  fluxzy.core.sln
  src/Fluxzy.Core/Core/ConnectionErrorHandler.cs
  src/Fluxzy.Core/Core/ConnectionErrorPageHelper.cs
  src/Fluxzy.Core/Core/ProxyOrchestrator.cs
  src/Fluxzy.Core/Core/ProxyRuntimeSetting.cs
  src/Fluxzy.Core/Rules/Actions/AddResponseHeaderAction.cs
  src/Fluxzy.Core/Rules/Actions/ForceRemotePortAction.cs
  src/Fluxzy.Core/Rules/Actions/HighLevelActions/InjectHtmlTagAction.cs
  src/Fluxzy.Core/Rules/Actions/HighLevelActions/ServeDirectoryAction.cs
  src/Fluxzy.Core/Rules/Actions/HighLevelActions/SetRequestCookieAction.cs
  src/Fluxzy.Core/Rules/Actions/HighLevelActions/SetResponseCookieAction.cs
  src/Fluxzy.Core/Rules/Actions/RemoveCacheAction.cs
  src/Fluxzy.Core/Rules/Actions/SpoofDnsAction.cs
  src/Fluxzy.Core/Rules/Filters/ExecFilter.cs
  src/Fluxzy.Core/Rules/Filters/RequestFilters/IsSelfFilter.cs
  src/Fluxzy.Core/Rules/Filters/RequestFilters/MethodFilter.cs
  src/Fluxzy.Core/Rules/Filters/RequestFilters/RequestHeaderFilter.cs
  src/Fluxzy.Core/Rules/Filters/StringFilter.cs
  src/Fluxzy.Core/Rules/Rule.cs
  src/Fluxzy.Core/Rules/RuleDefinitionMismatchException.cs
  src/Fluxzy.Core/Rules/RuleExecutionFailureException.cs
  test/Fluxzy.Tests/Cases/BadRuleHandlingTests.cs
  test/Fluxzy.Tests/Cases/Expect100ContinueTests.cs
  test/Fluxzy.Tests/UnitTests/Handlers/Http2ConcurrentCall.cs
  tools/scripts/NameAndCompress.csx
Due: Fluxzy.Core

Set version to '1.29.0-alpha'
  version.json
Due: none

Set version to '1.28.0'
  version.json
Due: none

Disable uploading CLI binaries on default publish
  build/Fluxzy.Build/Program.cs
Due: none

Path conditions:
  Fluxzy.Core: any of: src/Fluxzy.Core/**, but not: src/Fluxzy.Core.Pcap/**, src/Fluxzy.Core.Pcap.Cli/**, src/Fluxzy.Core.Pcap/**, src/Fluxzy.Extensions/**, src/Fluxzy.Tools.DocGen/**, src/Fluxzy.Core/Clients/H2Logger.cs, src/Fluxzy.Core/Clients/H1Logger.cs, src/Fluxzy.Core/Misc/Streams/DebugFileStream.cs
  Fluxzy: any of: src/Fluxzy/**, but not: src/Fluxzy.Core.Pcap/**, src/Fluxzy.Core.Pcap.Cli/**, src/Fluxzy.Core.Pcap/**, src/Fluxzy.Extensions/**, src/Fluxzy.Tools.DocGen/**, src/Fluxzy.Core/Clients/H2Logger.cs, src/Fluxzy.Core/Clients/H1Logger.cs, src/Fluxzy.Core/Misc/Streams/DebugFileStream.cs
