Repository haga-rak/fluxzy.core: changes, and which Codecov flags are due for each by the changed paths.
All: Fluxzy.Core, Fluxzy.Core.Pcap, Fluxzy

Remove useless await
  src/Fluxzy.Core/Core/H2DownStreamPipe.cs
Due: none

Optimize http11 parser hot path
  src/Fluxzy.Core/Clients/H2/Encoder/HPackEncoder.cs
  src/Fluxzy.Core/Clients/H2/Encoder/Utils/Http11HeaderReader.cs
  src/Fluxzy.Core/Clients/H2/Encoder/Utils/Http11Parser.cs
  test/Fluxzy.Benchmarks/HeaderEncoderBenchmark.cs
  test/Fluxzy.Tests/UnitTests/HPack/Http11ParserTests.cs
Due: Fluxzy.Core

Update test plan
  benchmark-throughput.cmd
  fluxzy.core.slnx
  test/Fluxzy.Benchmarks.Server/Program.cs
  test/Fluxzy.Benchmarks.Server/Properties/launchSettings.json
  test/Fluxzy.Benchmarks/ProxyThroughputBenchmark.cs
  test/Fluxzy.Tests/_Fixtures/Socks5ClientFactory.cs
Due: none

Remove threading diag
  test/Fluxzy.Benchmarks/ProxyThroughputBenchmark.cs
Due: none

Add contention analyzer
  tools/TraceContentionAnalyzer/Program.cs
  tools/TraceContentionAnalyzer/TraceContentionAnalyzer.csproj
Due: none

Defer flush outside hot loop
  src/Fluxzy.Core/Core/H2DownStreamPipe.cs
Due: none

Fix missing fluxzy on post payload
  src/Fluxzy.Core/Core/ServerStreamWorker.cs
Due: none

Fix duplicate Transfer-Encoding: chunked on HTTP/1.1 responses (#615)
  src/Fluxzy.Core/Core/Header.cs
  test/Fluxzy.Tests/Cases/DuplicateTransferEncodingTests.cs
Due: Fluxzy.Core

Fix duplicate Transfer-Encoding: chunked on HTTP/1.1 responses (#615) (#616)
  src/Fluxzy.Core/Core/Header.cs
  test/Fluxzy.Tests/Cases/DuplicateTransferEncodingTests.cs
Due: Fluxzy.Core

Fix H2 connection pool disposal race (#614)
  src/Fluxzy.Core/Clients/H2/H2ConnectionPool.cs
  src/Fluxzy.Core/Clients/PoolBuilder.cs
  test/Fluxzy.Tests/UnitTests/H2Client/H2ConnectionPoolDisposalTests.cs
Due: Fluxzy.Core

Fix H2 connection pool disposal race (#614) (#617)
  src/Fluxzy.Core/Clients/H2/H2ConnectionPool.cs
  src/Fluxzy.Core/Clients/PoolBuilder.cs
  test/Fluxzy.Tests/UnitTests/H2Client/H2ConnectionPoolDisposalTests.cs
Due: Fluxzy.Core

Fix concurrent HashSet modification when serializing archive meta
  src/Fluxzy.Core/Archiving/Writers/DirectoryArchiveWriter.cs
Due: Fluxzy.Core

Fix concurrent HashSet modification when serializing archive meta (#618)
  src/Fluxzy.Core/Archiving/Writers/DirectoryArchiveWriter.cs
Due: Fluxzy.Core

Add context aware frame reader
  src/Fluxzy.Core/Clients/H2/H2ConnectionPool.cs
  src/Fluxzy.Core/Clients/H2/H2FrameStreamReader.cs
  src/Fluxzy.Core/Clients/H2/H2Reader.cs
  src/Fluxzy.Core/Core/DataFrameEntry.cs
  src/Fluxzy.Core/Core/H2DownStreamPipe.cs
  src/Fluxzy.Core/Core/PendingHeaderWrite.cs
  test/Fluxzy.Benchmarks/ProxyThroughputBenchmark.cs
Due: Fluxzy.Core

Update iteration for short benchmark
  benchmark-throughput.cmd
  benchmark-throughput.sh
Due: none

Add late flush for write pool
  src/Fluxzy.Core/Clients/H2/H2ConnectionPool.cs
Due: Fluxzy.Core

Optimize HPACK decode path: eliminate redundant Huffman traversals and LINQ allocations
  src/Fluxzy.Core/Clients/H2/Encoder/HPack/PrimitiveOperation.cs
  src/Fluxzy.Core/Clients/H2/Encoder/HPackDecoder.cs
  src/Fluxzy.Core/Clients/H2/Encoder/Utils/Http11Parser.cs
Due: Fluxzy.Core

Update chanel settings for exchange queue
  src/Fluxzy.Core/Core/H2DownStreamPipe.cs
Due: none

Better hashcode
  src/Fluxzy.Core/Core/Authority.cs
Due: Fluxzy.Core

Optimize GetPool hot path: lock-free pool reuse, init-before-store, ConcurrentDictionary
  src/Fluxzy.Core/Clients/PoolBuilder.cs
  src/Fluxzy.Core/Utils/Synchronizer.cs
Due: Fluxzy.Core

ServerStreamWorker return ValueTask instead of Task as it will be non async in most path
  src/Fluxzy.Core/Core/ServerStreamWorker.cs
Due: none

Optimize EnforceRules hot path: pre-partition rules by FilterScope
  src/Fluxzy.Core/Core/PartitionedRules.cs
  src/Fluxzy.Core/Core/ProxyRuntimeSetting.cs
  test/Fluxzy.Tests/UnitTests/Core/PartitionedRulesTests.cs
Due: Fluxzy.Core

Optimize Header.WriteHttp11 hot path
  src/Fluxzy.Core/Clients/H2/Encoder/Utils/Http11Constants.cs
  src/Fluxzy.Core/Core/Header.cs
  src/Fluxzy.Core/Core/RequestHeader.cs
  src/Fluxzy.Core/Core/ResponseHeader.cs
Due: Fluxzy.Core

Statik buffer for benchmark server
  test/Fluxzy.Benchmarks.Server/Program.cs
Due: none

Add allocation profiling: --alloc flag and TraceAllocationAnalyzer
  benchmark-throughput.cmd
  benchmark-throughput.sh
  test/Fluxzy.Benchmarks/ProxyThroughputBenchmark.cs
  tools/TraceAllocationAnalyzer/Program.cs
  tools/TraceAllocationAnalyzer/TraceAllocationAnalyzer.csproj
  tools/TraceAllocationAnalyzer/compare.py
Due: none

Pool H2 header accumulation buffer in StreamWorker and ServerStreamWorker
  src/Fluxzy.Core/Clients/H2/StreamWorker.cs
  src/Fluxzy.Core/Core/ServerStreamWorker.cs
  test/Fluxzy.Tests/Cases/H2LargeHeaderTests.cs
Due: Fluxzy.Core

Replace VariableBuildingContext dictionary with allocation-free TryEvaluate
  src/Fluxzy.Core/Rules/VariableBuildingContext.cs
  src/Fluxzy.Core/Rules/VariableContext.cs
  test/Fluxzy.Tests/Cli/Variables.cs
  test/Fluxzy.Tests/UnitTests/Variables/VariableBuildingContextTests.cs
Due: Fluxzy.Core

Fix PcapngWriter 'Already registered' on ephemeral port reuse
  src/Fluxzy.Core.Pcap/DirectCaptureContext.cs
  src/Fluxzy.Core.Pcap/Pcapng/PcapngWriter.cs
  src/Fluxzy.Core.Pcap/SyncWriterQueue.cs
  src/Fluxzy.Core.Pcap/Writing/IRawCaptureWriter.cs
  test/Fluxzy.Tests/UnitTests/Pcap/SyncWriterQueueTests.cs
Due: Fluxzy.Core.Pcap

Fix PcapngWriter 'Already registered' on ephemeral port reuse (#620)
  src/Fluxzy.Core.Pcap/DirectCaptureContext.cs
  src/Fluxzy.Core.Pcap/Pcapng/PcapngWriter.cs
  src/Fluxzy.Core.Pcap/SyncWriterQueue.cs
  src/Fluxzy.Core.Pcap/Writing/IRawCaptureWriter.cs
  test/Fluxzy.Tests/UnitTests/Pcap/SyncWriterQueueTests.cs
Due: Fluxzy.Core.Pcap

Fix Expect: 100-continue deadlock on H1 upstream (#624)
  src/Fluxzy.Core/Clients/H11/Http11ConnectionPool.cs
  src/Fluxzy.Core/Clients/H11/Http11PoolProcessing.cs
  src/Fluxzy.Core/Clients/H2/Encoder/Utils/Http11Constants.cs
  src/Fluxzy.Core/Core/Exchange.cs
  src/Fluxzy.Core/Core/H2DownStreamPipe.cs
  src/Fluxzy.Core/Core/Header.cs
  src/Fluxzy.Core/Core/Http11DownStreamPipe.cs
  src/Fluxzy.Core/Core/IDownStreamPipe.cs
  src/Fluxzy.Core/Core/ProxyOrchestrator.cs
  src/Fluxzy.Core/Core/ProxyRuntimeSetting.cs
  src/Fluxzy.Core/Core/RequestHeader.cs
  src/Fluxzy.Core/FluxzySetting.Fluent.cs
  src/Fluxzy.Core/FluxzySetting.cs
  src/Fluxzy.Core/Formatters/Producers/Requests/HttpHelper.cs
  test/Fluxzy.Tests/Cases/Issue624ExpectContinueHangTests.cs
Due: Fluxzy.Core

Fix OOP pcap capture race with archive packaging
  src/Fluxzy.Core.Pcap/OutOfProcessCaptureContext.cs
  src/Fluxzy/Commands/StartCommandBuilder.cs
  test/Fluxzy.Tests/Cli/CliTestBase.cs
Due: Fluxzy.Core.Pcap, Fluxzy

Fix OOP pcap capture race with archive packaging (#626)
  src/Fluxzy.Core.Pcap/OutOfProcessCaptureContext.cs
  src/Fluxzy/Commands/StartCommandBuilder.cs
  test/Fluxzy.Tests/Cli/CliTestBase.cs
Due: Fluxzy.Core.Pcap, Fluxzy

Add npm install instructions to GitHub release template
  build/Fluxzy.Build/GhPublishHelper.cs
Due: none

Add npm install instructions to GitHub release template (#627)
  build/Fluxzy.Build/GhPublishHelper.cs
Due: none

Fix Expect: 100-continue deadlock on H1 upstream (#624) (#625)
  src/Fluxzy.Core/Clients/H11/Http11ConnectionPool.cs
  src/Fluxzy.Core/Clients/H11/Http11PoolProcessing.cs
  src/Fluxzy.Core/Clients/H2/Encoder/Utils/Http11Constants.cs
  src/Fluxzy.Core/Core/Exchange.cs
  src/Fluxzy.Core/Core/H2DownStreamPipe.cs
  src/Fluxzy.Core/Core/Header.cs
  src/Fluxzy.Core/Core/Http11DownStreamPipe.cs
  src/Fluxzy.Core/Core/IDownStreamPipe.cs
  src/Fluxzy.Core/Core/ProxyOrchestrator.cs
  src/Fluxzy.Core/Core/ProxyRuntimeSetting.cs
  src/Fluxzy.Core/Core/RequestHeader.cs
  src/Fluxzy.Core/FluxzySetting.Fluent.cs
  src/Fluxzy.Core/FluxzySetting.cs
  src/Fluxzy.Core/Formatters/Producers/Requests/HttpHelper.cs
  test/Fluxzy.Tests/Cases/Issue624ExpectContinueHangTests.cs
Due: Fluxzy.Core

Enable NoDelay on SOCKS5 test client socket
  test/Fluxzy.Tests/_Fixtures/Socks5ClientFactory.cs
Due: none

Bump benchmark-throughput --short warmup to 10
  benchmark-throughput.cmd
  benchmark-throughput.sh
Due: none

Add manual GitHub Action to run throughput benchmark
  .github/workflows/benchmark-throughput.yml
Due: none

Add UseProxy=False baseline rows to ProxyThroughputBenchmark
  test/Fluxzy.Benchmarks/ProxyThroughputBenchmark.cs
Due: none

Path conditions:
  Fluxzy.Core: any of: src/Fluxzy.Core/**, but not: src/Fluxzy.Core.Pcap.Cli/**, src/Fluxzy.Extensions/**, src/Fluxzy.Tools.DocGen/**, src/Fluxzy/Commands/PrettyOutput/**, src/Fluxzy.Core/Clients/H2Logger.cs, src/Fluxzy.Core/Clients/H1Logger.cs, src/Fluxzy.Core/Misc/Streams/DebugFileStream.cs, src/Fluxzy/ArgsHelper.cs, src/Fluxzy.Core/Misc/Traces/**, src/Fluxzy.Core/Utils/ProcessTracking/LinuxProcessHelper.cs, src/Fluxzy.Core/Utils/ProcessTracking/MacOsProcessHelper.cs, src/Fluxzy.Core/Utils/ProcessTracking/MacOsNativeMethods.cs, src/Fluxzy.Core/Core/H2DownStreamPipe.cs, src/Fluxzy.Core/Core/ServerStreamWorker.cs
  Fluxzy.Core.Pcap: any of: src/Fluxzy.Core.Pcap/**, but not: src/Fluxzy.Core.Pcap.Cli/**, src/Fluxzy.Extensions/**, src/Fluxzy.Tools.DocGen/**, src/Fluxzy/Commands/PrettyOutput/**, src/Fluxzy.Core/Clients/H2Logger.cs, src/Fluxzy.Core/Clients/H1Logger.cs, src/Fluxzy.Core/Misc/Streams/DebugFileStream.cs, src/Fluxzy/ArgsHelper.cs, src/Fluxzy.Core/Misc/Traces/**, src/Fluxzy.Core/Utils/ProcessTracking/LinuxProcessHelper.cs, src/Fluxzy.Core/Utils/ProcessTracking/MacOsProcessHelper.cs, src/Fluxzy.Core/Utils/ProcessTracking/MacOsNativeMethods.cs, src/Fluxzy.Core/Core/H2DownStreamPipe.cs, src/Fluxzy.Core/Core/ServerStreamWorker.cs
  Fluxzy: any of: src/Fluxzy/**, but not: src/Fluxzy.Core.Pcap.Cli/**, src/Fluxzy.Extensions/**, src/Fluxzy.Tools.DocGen/**, src/Fluxzy/Commands/PrettyOutput/**, src/Fluxzy.Core/Clients/H2Logger.cs, src/Fluxzy.Core/Clients/H1Logger.cs, src/Fluxzy.Core/Misc/Streams/DebugFileStream.cs, src/Fluxzy/ArgsHelper.cs, src/Fluxzy.Core/Misc/Traces/**, src/Fluxzy.Core/Utils/ProcessTracking/LinuxProcessHelper.cs, src/Fluxzy.Core/Utils/ProcessTracking/MacOsProcessHelper.cs, src/Fluxzy.Core/Utils/ProcessTracking/MacOsNativeMethods.cs, src/Fluxzy.Core/Core/H2DownStreamPipe.cs, src/Fluxzy.Core/Core/ServerStreamWorker.cs
