Repository haga-rak/fluxzy.core: changes, and which Codecov flags are due for each by the changed paths.
All: Fluxzy.Core, Fluxzy

codecov.yml:

comment:
  layout: "header, diff, flags, components"

coverage:
  status:
    project:
      default:
        target: 65% 

component_management:
  default_rules:
    statuses:
      - type: project
        target: 65%
        branches:
          - "main"
  individual_components:
    - component_id: Fluxzy.Core
      name: Fluxzy.Core
      paths:
        - src/Fluxzy.Core/**
    - component_id: Fluxzy
      name: Fluxzy
      paths:
        - src/Fluxzy/**
ignore:
  - "src/Fluxzy.Core.Pcap/**"
  - "src/Fluxzy.Core.Pcap.Cli/**"
  - "src/Fluxzy.Core.Pcap/**"
  - "src/Fluxzy.Extensions/**"
  - "src/Fluxzy.Tools.DocGen/**"

# Ignore debugging code 
  - "src/Fluxzy.Core/Clients/H2Logger.cs"
  - "src/Fluxzy.Core/Clients/H1Logger.cs"
  - "src/Fluxzy.Core/Misc/Streams/DebugFileStream.cs"

Remove unused code
  src/Fluxzy.Core.Pcap/Pcapng/Merge/PcapBlockWriter.cs
  src/Fluxzy.Core.Pcap/Pcapng/Merge/SleepyStream.cs
  src/Fluxzy.Core.Pcap/Pcapng/Merge/SleepyStreamBlockReader.cs
  src/Fluxzy.Core.Pcap/Pcapng/Structs/IfMacAddressOption.cs
  src/Fluxzy.Core.Pcap/Pcapng/Structs/StringOptionBlock.cs
  src/Fluxzy.Core.Pcap/Pcapng/Structs/TsResolOption.cs
Due: none

Include Fluxzy.Core.Pcap in code coverage
  codecov.yml
Due: none

Add export a dump directory
  src/Fluxzy.Core.Pcap/Pcapng/Merge/PcapMerge.cs
  test/Fluxzy.Tests/UnitTests/Pcap/Merge/BlockMergerTests.cs
  test/Fluxzy.Tests/UnitTests/Pcap/Merge/PcapMergeTests.cs
Due: none

Add connectionId filter with its test
  src/Fluxzy.Core.Pcap/Pcapng/Merge/PcapMerge.cs
  test/Fluxzy.Tests/UnitTests/Pcap/Merge/PcapMergeTests.cs
Due: none

Add pcap extractions from archive file
  src/Fluxzy.Core.Pcap/Pcapng/Merge/PcapMerge.cs
  src/Fluxzy.Core.Pcap/Pcapng/Merge/SleepyStream.cs
  src/Fluxzy.Core.Pcap/Pcapng/Merge/SleepyStreamBlockReader.cs
  src/Fluxzy.Core/Misc/Streams/StreamExtensions.cs
  test/Fluxzy.Tests/UnitTests/Pcap/Merge/PcapMergeTests.cs
Due: Fluxzy.Core

Handle 0 file merging and various refactoring
  src/Fluxzy.Core.Pcap/Pcapng/Merge/FileStreamSource.cs
  src/Fluxzy.Core.Pcap/Pcapng/Merge/FilterConnectionHelper.cs
  src/Fluxzy.Core.Pcap/Pcapng/Merge/IStreamSource.cs
  src/Fluxzy.Core.Pcap/Pcapng/Merge/PcapMerge.cs
  src/Fluxzy.Core.Pcap/Pcapng/Merge/ZipStreamSource.cs
  test/Fluxzy.Tests/UnitTests/Pcap/Merge/PcapMergeTests.cs
Due: none

Add test coverage for pack command
  test/Fluxzy.Tests/Cli/Pack/PackCommandTests.cs
  test/Fluxzy.Tests/Cli/Scaffolding/CommandBase.cs
  test/Fluxzy.Tests/Cli/WithRuleOptionAbortAction.cs
  test/Fluxzy.Tests/Startup.cs
  test/Fluxzy.Tests/UnitTests/Pcap/Merge/PcapMergeTests.cs
  test/Fluxzy.Tests/_Fixtures/HashHelper.cs
Due: none

Add command `pcap` to fluxzy dissect for exporting full pcapdata from archive file
  src/Fluxzy/Commands/DissectCommandBuilder.cs
Due: Fluxzy

Cover dissect + pcap command
  test/Fluxzy.Tests/Cli/Pack/DissectPcapTests.cs
Due: none

Validate hash on windows only
  test/Fluxzy.Tests/Cli/Pack/DissectPcapTests.cs
  test/Fluxzy.Tests/UnitTests/Pcap/Merge/PcapMergeTests.cs
Due: none

Remove more check for non windows
  test/Fluxzy.Tests/Cli/Pack/PackCommandTests.cs
Due: none

Add equality tests for message classes
  test/Fluxzy.Tests/UnitTests/Equality/EqualityTesterBase.cs
  test/Fluxzy.Tests/UnitTests/Equality/IncludeMessageEquality.cs
  test/Fluxzy.Tests/UnitTests/Equality/StoreKeyMessageEquality.cs
  test/Fluxzy.Tests/UnitTests/Equality/SubscribeMessageEquality.cs
  test/Fluxzy.Tests/UnitTests/Equality/UnsubscribeMessageEquality.cs
Due: none

Fix broken build for Benchmark project
  Fluxzy.Benchmarks/Pcap/BlockMergeBenchmark.cs
Due: none

Increase access level of property in Proxy.cs
  src/Fluxzy.Core/Proxy.cs
Due: Fluxzy.Core

Add method documentation to RealtimeArchiveWriter
  src/Fluxzy.Core/Archiving/Writers/RealtimeArchiveWriter.cs
Due: Fluxzy.Core

Add Short timeout constant to TimeoutConstants
  test/Fluxzy.Tests/TimeoutConstants.cs
Due: none

Add EventWriterTests for Fluxzy
  test/Fluxzy.Tests/UnitTests/Events/EventWriterTests.cs
Due: none

Remove `ArchiveUpdateType` that's never reached
  src/Fluxzy.Core/Archiving/Writers/RealtimeArchiveWriter.cs
Due: Fluxzy.Core

Add more control on ExchangeInfo content
  test/Fluxzy.Tests/UnitTests/Events/EventWriterTests.cs
Due: none

Add unit test for archiveWriter events
  src/Fluxzy.Core/Archiving/Writers/RealtimeArchiveWriter.cs
  test/Fluxzy.Tests/UnitTests/Events/EventWriterTests.cs
Due: Fluxzy.Core

Add `TotalProcessedExchanges` validation
  test/Fluxzy.Tests/UnitTests/Events/EventWriterTests.cs
Due: none

Expose write events to .NET API consumer (#153)
  src/Fluxzy.Core/Archiving/Writers/RealtimeArchiveWriter.cs
  src/Fluxzy.Core/Proxy.cs
  test/Fluxzy.Tests/TimeoutConstants.cs
  test/Fluxzy.Tests/UnitTests/Events/EventWriterTests.cs
Due: Fluxzy.Core

Move Benchmark project to correct directory
  fluxzy.core.sln
  test/Fluxzy.Benchmarks/Fluxzy.Benchmarks.csproj
  test/Fluxzy.Benchmarks/Pcap/BlockMergeBenchmark.cs
  test/Fluxzy.Benchmarks/Program.cs
  test/Fluxzy.Tests.ConcreteSamples/BaseComposite.cs
  test/Fluxzy.Tests.ConcreteSamples/DirectContentComposite.cs
  test/Fluxzy.Tests.ConcreteSamples/Fluxzy.Tests.ConcreteSamples.csproj
Due: none

Set version to '1.19'
  version.json
Due: none

Set version to '1.20-alpha'
  version.json
Due: none

Remove cloud build number
  version.json
Due: none

Update LICENSE.md
  LICENSE.md
Due: none

Update deafult example
  README.md
Due: none

Add a better quick usage sample
  README.md
Due: none
