Repository haga-rak/fluxzy.core: changes, and which Codecov flags are due for each by the changed paths.
All: Fluxzy.Core, Fluxzy

Add Github release delivery on pipelines (#145)
  .github/workflows/release-cli.yml
  .github/workflows/release-nuget.public.yml
  build/Fluxzy.Build/BuildSettings.cs
  build/Fluxzy.Build/EnvironmentHelper.cs
  build/Fluxzy.Build/Fluxzy.Build.csproj
  build/Fluxzy.Build/FluxzyVersion.cs
  build/Fluxzy.Build/GhPublishHelper.cs
  build/Fluxzy.Build/HashHelper.cs
  build/Fluxzy.Build/Program.cs
  build/Fluxzy.Build/SignHelper.cs
  fluxzy.core.sln
Due: none

Set version to '1.19-alpha'
  version.json
Due: none

Touch version
  version.json
Due: none

Remove invalid directory check
  src/Fluxzy.Core/Archiving/ZipHelper.cs
Due: Fluxzy.Core

Remove invalid directory check (#146)
  src/Fluxzy.Core/Archiving/ZipHelper.cs
Due: Fluxzy.Core

Put correct fluxzy version on PCAPNG packet header
  src/Fluxzy.Core.Pcap/SyncWriterQueue.cs
  src/Fluxzy.Core/FluxzySharedSetting.cs
Due: Fluxzy.Core

Put correct fluxzy version on PCAPNG packet header (#147)
  src/Fluxzy.Core.Pcap/SyncWriterQueue.cs
  src/Fluxzy.Core/FluxzySharedSetting.cs
Due: Fluxzy.Core

Add IPAddress to TestPayload in unit tests
  test/Fluxzy.Tests/UnitTests/Misc/MessagePackQueueExtensionsTests.cs
Due: none

Prevent closing provided stream
  src/Fluxzy.Core/Archiving/ZipHelper.cs
Due: Fluxzy.Core

Cover more equality test
  test/Fluxzy.Tests/UnitTests/Equality/EqualityTesterBase.cs
Due: none

Add Zip compress / decompress test
  test/Fluxzy.Tests/UnitTests/Packagers/FxzyImportEngineTests.cs
Due: none

Include a websocket exchange in test case
  test/Fluxzy.Tests/_Files/Archives/pink-floyd.fxzy
Due: none

Update test to include ws message
  test/Fluxzy.Tests/Cli/Dissects/DissectCommandTests.cs
Due: none

Add ws exchange in directory archiving tests
  test/Fluxzy.Tests/UnitTests/Archiving/ArchiveReaderTests.cs
Due: none

Remove ApplyXorSlow method from WsMessage
  src/Fluxzy.Core/Clients/H11/WsMessage.cs
Due: Fluxzy.Core

Add self-equality check in EqualityTesterBase .
  test/Fluxzy.Tests/UnitTests/Equality/EqualityTesterBase.cs
Due: none

Add test.json to Fluxzy.Tests.csproj.
  test/Fluxzy.Tests/Fluxzy.Tests.csproj
Due: none

Relocated MockedResponseExtensions to its own file.
  src/Fluxzy.Core/Rules/Actions/HighLevelActions/MockedResponseAction.cs
  src/Fluxzy.Core/Rules/Actions/HighLevelActions/MockedResponseExtensions.cs
Due: Fluxzy.Core

Add GetHeaderValueOrDefault method to MockedResponseContent.
  src/Fluxzy.Core/Clients/Mock/MockedResponseContent.cs
Due: Fluxzy.Core

Add unit tests for mock response content.
  test/Fluxzy.Tests/UnitTests/Rules/MockedResponseContentTests.cs
  test/Fluxzy.Tests/_Files/Archives/test.json
Due: none

Add unit tests for DefaultDnsSolver .
  test/Fluxzy.Tests/UnitTests/Misc/DefaultDnsSolverTests.cs
Due: none

Initialize DNS resolution result .
  src/Fluxzy.Core/Clients/PoolBuilder.cs
Due: Fluxzy.Core

Add NavigationTests and clean up Program.cs
  src/Fluxzy/Program.cs
  test/Fluxzy.Tests/Cli/NavigationTests.cs
Due: Fluxzy

Add JsonConstructor to AgentLabelFilter
  src/Fluxzy.Core/Rules/Filters/RequestFilters/AgentLabelFilter.cs
Due: Fluxzy.Core

Add more filter tests
  test/Fluxzy.Tests/UnitTests/Rules/FilterTestTemplate.cs
  test/Fluxzy.Tests/UnitTests/Rules/FilterTests.cs
Due: none

Increase default settings coverage
  test/Fluxzy.Tests/UnitTests/Rules/DefaultFilterSettings.cs
Due: none

Use DefaultAgentProvider
  test/Fluxzy.Tests/_Fixtures/AddHocConfigurableProxy.cs
Due: none

Fix ApplyTagAction default scope
  src/Fluxzy.Core/Rules/Actions/ApplyTagAction.cs
Due: Fluxzy.Core

Add tests for non empty constructors filter type
  test/Fluxzy.Tests/UnitTests/Rules/DefaultFilterSettings.cs
Due: none

(Tests) Increase coverage on filters (#151)
  src/Fluxzy.Core/Archiving/ZipHelper.cs
  src/Fluxzy.Core/Clients/H11/WsMessage.cs
  src/Fluxzy.Core/Clients/Mock/MockedResponseContent.cs
  src/Fluxzy.Core/Clients/PoolBuilder.cs
  src/Fluxzy.Core/Rules/Actions/ApplyTagAction.cs
  src/Fluxzy.Core/Rules/Actions/HighLevelActions/MockedResponseAction.cs
  src/Fluxzy.Core/Rules/Actions/HighLevelActions/MockedResponseExtensions.cs
  src/Fluxzy.Core/Rules/Filters/RequestFilters/AgentLabelFilter.cs
  src/Fluxzy/Program.cs
  test/Fluxzy.Tests/Cli/Dissects/DissectCommandTests.cs
  test/Fluxzy.Tests/Cli/NavigationTests.cs
  test/Fluxzy.Tests/Fluxzy.Tests.csproj
  test/Fluxzy.Tests/UnitTests/Archiving/ArchiveReaderTests.cs
  test/Fluxzy.Tests/UnitTests/Equality/EqualityTesterBase.cs
  test/Fluxzy.Tests/UnitTests/Misc/DefaultDnsSolverTests.cs
  test/Fluxzy.Tests/UnitTests/Misc/MessagePackQueueExtensionsTests.cs
  test/Fluxzy.Tests/UnitTests/Packagers/FxzyImportEngineTests.cs
  test/Fluxzy.Tests/UnitTests/Rules/DefaultFilterSettings.cs
  test/Fluxzy.Tests/UnitTests/Rules/FilterTestTemplate.cs
  test/Fluxzy.Tests/UnitTests/Rules/FilterTests.cs
  test/Fluxzy.Tests/UnitTests/Rules/MockedResponseContentTests.cs
  test/Fluxzy.Tests/_Files/Archives/pink-floyd.fxzy
  test/Fluxzy.Tests/_Files/Archives/test.json
  test/Fluxzy.Tests/_Fixtures/AddHocConfigurableProxy.cs
Due: Fluxzy.Core, Fluxzy

Skip failing test on linux
  test/Fluxzy.Tests/UnitTests/Misc/DefaultDnsSolverTests.cs
Due: none

Update codecov.yml
  codecov.yml
Due: none

Add DormantReadStream base
  src/Fluxzy.Core.Pcap/Messages/SubscribeMessage.cs
  src/Fluxzy.Core.Pcap/Pcapng/DormantReadStream.cs
  src/Fluxzy.Core.Pcap/Pcapng/PcapMerger.cs
  src/Fluxzy.Core.Pcap/Pcapng/Structs/NssDecryptionSecretsBlock.cs
Due: none

Add PcapMerger with algorithm unit test
  src/Fluxzy.Core.Pcap/AssemblyInfo.cs
  src/Fluxzy.Core.Pcap/Pcapng/PcapMerger.cs
  test/Fluxzy.Tests/UnitTests/Pcap/Merge/MergeTestContentProvider.cs
  test/Fluxzy.Tests/UnitTests/Pcap/Merge/PcapMergerTests.cs
Due: none

Path conditions:
  Fluxzy.Core: any of: src/Fluxzy.Core/**, but not: src/Fluxzy.Core.Pcap/**, src/Fluxzy.Core.Pcap.Cli/**, src/Fluxzy.Core.Pcap/**, src/Fluxzy.Extensions/**, src/Fluxzy.Tools.DocGen/**, src/Fluxzy.Core/Clients/H2Logger.cs, src/Fluxzy.Core/Clients/H1Logger.cs, src/Fluxzy.Core/Misc/Streams/DebugFileStream.cs
  Fluxzy: any of: src/Fluxzy/**, but not: src/Fluxzy.Core.Pcap/**, src/Fluxzy.Core.Pcap.Cli/**, src/Fluxzy.Core.Pcap/**, src/Fluxzy.Extensions/**, src/Fluxzy.Tools.DocGen/**, src/Fluxzy.Core/Clients/H2Logger.cs, src/Fluxzy.Core/Clients/H1Logger.cs, src/Fluxzy.Core/Misc/Streams/DebugFileStream.cs
