Repository haga-rak/fluxzy.core: changes, and which Codecov flags are due for each by the changed paths.
All: Fluxzy.Core, Fluxzy.Core.Pcap, Fluxzy

codecov.yml:

comment:
  layout: "header, diff, flags, components"

coverage:
  range: 60..73
  status:
    project:
      default:
        target: 65% 
    patch: no

component_management:
  default_rules:
    statuses:
      - type: project
        target: 65%
        branches:
          - "main"
  individual_components:
    - component_id: Fluxzy.Core
      name: Fluxzy.Core
      paths:
        - src/Fluxzy.Core/**
    - component_id: Fluxzy.Core.Pcap
      name: Fluxzy.Core.Pcap
      paths:
        - src/Fluxzy.Core.Pcap/**
    - component_id: Fluxzy
      name: Fluxzy
      paths:
        - src/Fluxzy/**
ignore:
  - "src/Fluxzy.Core.Pcap.Cli/**"
  - "src/Fluxzy.Extensions/**"
  - "src/Fluxzy.Tools.DocGen/**"
  - "src/Fluxzy/Commands/PrettyOutput/**"

# Ignore debugging code 
  - "src/Fluxzy.Core/Clients/H2Logger.cs"
  - "src/Fluxzy.Core/Clients/H1Logger.cs"
  - "src/Fluxzy.Core/Misc/Streams/DebugFileStream.cs"
  - "src/Fluxzy/ArgsHelper.cs"
  - "src/Fluxzy.Core/Misc/Traces/**"
  - "src/Fluxzy.Core/Utils/ProcessTracking/LinuxProcessHelper.cs"
  - "src/Fluxzy.Core/Utils/ProcessTracking/MacOsProcessHelper.cs"
  - "src/Fluxzy.Core/Utils/ProcessTracking/MacOsNativeMethods.cs"
  - "src/Fluxzy.Core/Core/H2DownStreamPipe.cs"
  - "src/Fluxzy.Core/Core/ServerStreamWorker.cs"

Bump YamlDotNet from 13.7.1 to 18.0.0
  src/Fluxzy.Core/Fluxzy.Core.csproj
  src/Fluxzy.Core/Rules/IgnorePremadePropertiesFilter.cs
  src/Fluxzy.Core/Rules/SortedTypeInspector.cs
Due: Fluxzy.Core

Test nested filter collection binding at depth
  test/Fluxzy.Tests/UnitTests/Rules/RuleParsing.cs
Due: none

Bump YamlDotNet to 18 and read rule files with positioned errors (#679)
  src/Fluxzy.Core/Fluxzy.Core.csproj
  src/Fluxzy.Core/Misc/Converters/PolymorphicConverter.cs
  src/Fluxzy.Core/Misc/Converters/PolymorphicTypeResolver.cs
  src/Fluxzy.Core/Rules/IgnorePremadePropertiesFilter.cs
  src/Fluxzy.Core/Rules/RuleConfigParser.cs
  src/Fluxzy.Core/Rules/RuleConfigReaderError.cs
  src/Fluxzy.Core/Rules/SortedTypeInspector.cs
  src/Fluxzy.Core/Rules/Yaml/EventBufferParser.cs
  src/Fluxzy.Core/Rules/Yaml/RuleNodeDeserializer.cs
  src/Fluxzy.Core/Rules/Yaml/RuleObjectFactory.cs
  src/Fluxzy.Core/Rules/Yaml/RuleYamlDeserializerFactory.cs
  test/Fluxzy.Tests/UnitTests/Rules/RuleParsing.cs
  test/Fluxzy.Tests/UnitTests/Rules/RuleParsingDiagnostics.cs
  test/Fluxzy.Tests/UnitTests/Rules/RuleParsingExhaustive.cs
Due: Fluxzy.Core

Honor an explicit tcp connection provider under ArchivingPolicy.None
  src/Fluxzy.Core.Pcap/CapturedTcpConnectionProvider.cs
  src/Fluxzy.Core/Core/ITcpConnectionProvider.cs
  src/Fluxzy.Core/Proxy.cs
Due: Fluxzy.Core, Fluxzy.Core.Pcap

Add an upstream socket configuration hook
  src/Fluxzy.Core/Clients/IRemoteConnectionBuilder.cs
  src/Fluxzy.Core/Core/ITcpConnection.cs
  src/Fluxzy.Core/Core/Impl/DefaultTcpConnection.cs
  src/Fluxzy.Core/Core/NetworkErrorCodes.cs
  src/Fluxzy.Core/Core/ProxyRuntimeSetting.cs
  src/Fluxzy.Core/Core/UpstreamSocketContext.cs
  src/Fluxzy.Core/Proxy.cs
Due: Fluxzy.Core

Apply the upstream socket hook to the capture connection
  src/Fluxzy.Core.Pcap/CapturableConnection.cs
Due: Fluxzy.Core.Pcap

Add tests for the upstream socket configuration hook
  test/Fluxzy.Tests/UnitTests/Core/UpstreamSocketConfigurationTests.cs
Due: none

Resolve SOCKS5 reply address through the injected IDnsSolver
  src/Fluxzy.Core/Core/ExchangeSourceProviderHelper.cs
  src/Fluxzy.Core/Core/ProtocolDetectingSourceProvider.cs
  src/Fluxzy.Core/Core/Socks5/Socks5SourceProvider.cs
  src/Fluxzy.Core/Proxy.cs
Due: Fluxzy.Core

Expose the upstream socket hook on the simple Proxy constructor
  src/Fluxzy.Core/Proxy.cs
Due: Fluxzy.Core

Add sample for the upstream socket configuration hook
  examples/Samples.No024.BindUpstreamSocket/Program.cs
  examples/Samples.No024.BindUpstreamSocket/Samples.No024.BindUpstreamSocket.csproj
  fluxzy.core.slnx
Due: none

Use constructor overloads for the upstream socket hook
  src/Fluxzy.Core/Proxy.cs
Due: Fluxzy.Core

Add end-to-end proxy tests for the upstream socket hook
  test/Fluxzy.Tests/UnitTests/Core/UpstreamSocketConfigurationTests.cs
Due: none

Show the macOS interface-pinning option in the sample
  examples/Samples.No024.BindUpstreamSocket/Program.cs
Due: none

Add an upstream socket configuration hook (#680)
  examples/Samples.No024.BindUpstreamSocket/Program.cs
  examples/Samples.No024.BindUpstreamSocket/Samples.No024.BindUpstreamSocket.csproj
  fluxzy.core.slnx
  src/Fluxzy.Core.Pcap/CapturableConnection.cs
  src/Fluxzy.Core.Pcap/CapturedTcpConnectionProvider.cs
  src/Fluxzy.Core/Clients/IRemoteConnectionBuilder.cs
  src/Fluxzy.Core/Core/ExchangeSourceProviderHelper.cs
  src/Fluxzy.Core/Core/ITcpConnection.cs
  src/Fluxzy.Core/Core/ITcpConnectionProvider.cs
  src/Fluxzy.Core/Core/Impl/DefaultTcpConnection.cs
  src/Fluxzy.Core/Core/NetworkErrorCodes.cs
  src/Fluxzy.Core/Core/ProtocolDetectingSourceProvider.cs
  src/Fluxzy.Core/Core/ProxyRuntimeSetting.cs
  src/Fluxzy.Core/Core/Socks5/Socks5SourceProvider.cs
  src/Fluxzy.Core/Core/UpstreamSocketContext.cs
  src/Fluxzy.Core/Proxy.cs
  test/Fluxzy.Tests/UnitTests/Core/UpstreamSocketConfigurationTests.cs
Due: Fluxzy.Core, Fluxzy.Core.Pcap

Set version to '1.37-alpha'
  version.json
Due: none

Set version to '1.37'
  version.json
Due: none

Set version to '1.38-alpha'
  version.json
Due: none

Set version to '1.38-alpha' (#681)
  version.json
Due: none

Name MITM leaf certificates from TLS SNI when the target is an IP
  src/Fluxzy.Core/Core/FromProxyConnectSourceProvider.cs
  src/Fluxzy.Core/Core/Impl/SecureConnectionUpdater.cs
  src/Fluxzy.Core/Core/Socks5/Socks5SourceProvider.cs
  src/Fluxzy.Core/FluxzySetting.Fluent.cs
  src/Fluxzy.Core/FluxzySetting.cs
  src/Fluxzy.Core/Proxy.cs
  src/Fluxzy/Commands/StartCommandBuilder.cs
  src/Fluxzy/Commands/StartCommandOptions.cs
  test/Fluxzy.Tests/UnitTests/Core/SecureConnectionUpdaterSniTests.cs
Due: Fluxzy.Core, Fluxzy

Add provider-level tests for SNI host recovery
  test/Fluxzy.Tests/UnitTests/Core/SniHostRecoveryProviderTests.cs
Due: none

Recover host name from the TLS ClientHello SNI when the target is an IP
  src/Fluxzy.Core/Clients/Ssl/TlsClientHelloParser.cs
  src/Fluxzy.Core/Core/FromProxyConnectSourceProvider.cs
  src/Fluxzy.Core/Core/Socks5/Socks5SourceProvider.cs
  src/Fluxzy.Core/FluxzySetting.Fluent.cs
  src/Fluxzy.Core/FluxzySetting.cs
  src/Fluxzy/Commands/StartCommandBuilder.cs
  src/Fluxzy/Commands/StartCommandOptions.cs
  test/Fluxzy.Tests/UnitTests/Core/SniHostRecoveryProviderTests.cs
  test/Fluxzy.Tests/UnitTests/Ssl/TlsClientHelloParserTests.cs
Due: Fluxzy.Core, Fluxzy

Carry the SNI recovered host and IP pin to every exchange of the connection
  src/Fluxzy.Core/Core/ExchangeSourceProviderHelper.cs
  src/Fluxzy.Core/Core/FromProxyConnectSourceProvider.cs
  src/Fluxzy.Core/Core/PinnedIpExchangeContextBuilder.cs
  src/Fluxzy.Core/Core/ProtocolDetectingSourceProvider.cs
  src/Fluxzy.Core/Core/Socks5/Socks5SourceProvider.cs
  test/Fluxzy.Tests/UnitTests/Core/SniHostRecoveryProviderTests.cs
Due: Fluxzy.Core

Recover host name from the TLS ClientHello SNI when the target is an IP (#689)
  src/Fluxzy.Core/Clients/Ssl/TlsClientHelloParser.cs
  src/Fluxzy.Core/Core/ExchangeSourceProviderHelper.cs
  src/Fluxzy.Core/Core/FromProxyConnectSourceProvider.cs
  src/Fluxzy.Core/Core/PinnedIpExchangeContextBuilder.cs
  src/Fluxzy.Core/Core/ProtocolDetectingSourceProvider.cs
  src/Fluxzy.Core/Core/Socks5/Socks5SourceProvider.cs
  src/Fluxzy.Core/FluxzySetting.Fluent.cs
  src/Fluxzy.Core/FluxzySetting.cs
  src/Fluxzy/Commands/StartCommandBuilder.cs
  src/Fluxzy/Commands/StartCommandOptions.cs
  test/Fluxzy.Tests/UnitTests/Core/SniHostRecoveryProviderTests.cs
  test/Fluxzy.Tests/UnitTests/Ssl/TlsClientHelloParserTests.cs
Due: Fluxzy.Core, Fluxzy

Report real OS trust result on Linux certificate install
  src/Fluxzy.Core/Certificates/DefaultCertificateAuthorityManager.cs
  src/Fluxzy.Core/Certificates/ExtendedLinuxCertificateInstaller.cs
  src/Fluxzy/Commands/CertificateCommandBuilder.cs
  test/Fluxzy.Tests/UnitTests/Certificates/CertificateManager.cs
Due: Fluxzy.Core, Fluxzy

Report real OS trust result on Linux certificate install (#690)
  src/Fluxzy.Core/Certificates/DefaultCertificateAuthorityManager.cs
  src/Fluxzy.Core/Certificates/ExtendedLinuxCertificateInstaller.cs
  src/Fluxzy/Commands/CertificateCommandBuilder.cs
  test/Fluxzy.Tests/UnitTests/Certificates/CertificateManager.cs
Due: Fluxzy.Core, Fluxzy

Keep reusing upstream connection when a non-101 response advertises upgrade
  src/Fluxzy.Core/Core/ResponseHeader.cs
  test/Fluxzy.Tests/UnitTests/Core/UpgradeAdvertisementConnectionReuseTests.cs
Due: Fluxzy.Core

Keep reusing upstream connection when a non-101 response advertises upgrade (#692)
  src/Fluxzy.Core/Core/ResponseHeader.cs
  test/Fluxzy.Tests/UnitTests/Core/UpgradeAdvertisementConnectionReuseTests.cs
Due: Fluxzy.Core

Cap generated leaf certificate validity at 200 days per CA/B Forum SC-081v3
  src/Fluxzy.Core/Certificates/CertificateProvider.cs
Due: Fluxzy.Core

Fix macOS system proxy detection and restore
  src/Fluxzy.Core/Misc/ProcessUtils.cs
  src/Fluxzy.Core/Utils/NativeOps/SystemProxySetup/macOs/MacOsHelper.cs
  src/Fluxzy.Core/Utils/NativeOps/SystemProxySetup/macOs/MacOsProxySetter.cs
  src/Fluxzy.Core/Utils/NativeOps/SystemProxySetup/macOs/NetworkInterface.cs
  test/Fluxzy.Tests/UnitTests/NativeOps/Macos/CliMacosTests.cs
Due: Fluxzy.Core

Make hardcoded macOS proxy values overridable via env vars
  src/Fluxzy.Core/Utils/NativeOps/SystemProxySetup/macOs/MacOsHelper.cs
  src/Fluxzy.Core/Utils/NativeOps/SystemProxySetup/macOs/MacOsProxyConfiguration.cs
  src/Fluxzy.Core/Utils/NativeOps/SystemProxySetup/macOs/MacOsProxySetter.cs
  test/Fluxzy.Tests/UnitTests/NativeOps/Macos/CliMacosTests.cs
Due: Fluxzy.Core

Cap generated leaf certificate validity at 200 days per CA/B Forum SC-081v3 (#694)
  src/Fluxzy.Core/Certificates/CertificateProvider.cs
Due: Fluxzy.Core

Fix macOS system proxy detection and restore (#693)
  src/Fluxzy.Core/Misc/ProcessUtils.cs
  src/Fluxzy.Core/Utils/NativeOps/SystemProxySetup/macOs/MacOsHelper.cs
  src/Fluxzy.Core/Utils/NativeOps/SystemProxySetup/macOs/MacOsProxyConfiguration.cs
  src/Fluxzy.Core/Utils/NativeOps/SystemProxySetup/macOs/MacOsProxySetter.cs
  src/Fluxzy.Core/Utils/NativeOps/SystemProxySetup/macOs/NetworkInterface.cs
  test/Fluxzy.Tests/UnitTests/NativeOps/Macos/CliMacosTests.cs
Due: Fluxzy.Core

Add pluggable process resolver for downstream connections
  src/Fluxzy.Core/Core/ProxyOrchestrator.cs
  src/Fluxzy.Core/Core/ProxyRuntimeSetting.cs
  src/Fluxzy.Core/Proxy.cs
  src/Fluxzy.Core/Utils/ProcessTracking/IProcessInfoResolver.cs
  src/Fluxzy.Core/Utils/ProcessTracking/LocalTcpTableProcessResolver.cs
  src/Fluxzy.Core/Utils/ProcessTracking/ProcessResolutionContext.cs
Due: Fluxzy.Core

Add tests and sample for the process resolver
  examples/Samples.No026.ResolveProcessInfo/Program.cs
  examples/Samples.No026.ResolveProcessInfo/Samples.No026.ResolveProcessInfo.csproj
  fluxzy.core.slnx
  test/Fluxzy.Tests/Cases/CustomProcessResolverTests.cs
  test/Fluxzy.Tests/UnitTests/Util/ProcessResolverTests.cs
  test/Fluxzy.Tests/_Fixtures/AddHocProx.cs
Due: none

Add pluggable process resolver for downstream connections (#695)
  examples/Samples.No026.ResolveProcessInfo/Program.cs
  examples/Samples.No026.ResolveProcessInfo/Samples.No026.ResolveProcessInfo.csproj
  fluxzy.core.slnx
  src/Fluxzy.Core/Core/ProxyOrchestrator.cs
  src/Fluxzy.Core/Core/ProxyRuntimeSetting.cs
  src/Fluxzy.Core/Proxy.cs
  src/Fluxzy.Core/Utils/ProcessTracking/IProcessInfoResolver.cs
  src/Fluxzy.Core/Utils/ProcessTracking/LocalTcpTableProcessResolver.cs
  src/Fluxzy.Core/Utils/ProcessTracking/ProcessResolutionContext.cs
  test/Fluxzy.Tests/Cases/CustomProcessResolverTests.cs
  test/Fluxzy.Tests/UnitTests/Util/ProcessResolverTests.cs
  test/Fluxzy.Tests/_Fixtures/AddHocProx.cs
Due: Fluxzy.Core

Fix macOS process resolution: correct socket_fdinfo offsets and struct size
  src/Fluxzy.Core/Utils/ProcessTracking/MacOsNativeMethods.cs
  src/Fluxzy.Core/Utils/ProcessTracking/MacOsProcessHelper.cs
Due: none

Fix macOS process resolution: correct socket_fdinfo offsets and struct size (#696)
  src/Fluxzy.Core/Utils/ProcessTracking/MacOsNativeMethods.cs
  src/Fluxzy.Core/Utils/ProcessTracking/MacOsProcessHelper.cs
Due: none

Fix gnome proxy detection to rely on host and port
  src/Fluxzy.Core/Utils/NativeOps/SystemProxySetup/Linux/LinuxProxySetter.cs
Due: Fluxzy.Core

Fall back to env proxy setter when gsettings is missing
  src/Fluxzy.Core/Utils/NativeOps/SystemProxySetup/Linux/LinuxProxySetter.cs
Due: Fluxzy.Core

Always replay gsettings snapshot when restoring proxy
  src/Fluxzy.Core/Utils/NativeOps/SystemProxySetup/Linux/LinuxProxySetter.cs
Due: Fluxzy.Core
