Repository haga-rak/fluxzy.core: changes, and which Codecov flags are due for each by the changed paths.
All: Fluxzy.Core, Fluxzy

Change main loop to `TaskCreationOptions.LongRunning` task option (#347)
  src/Fluxzy.Core/Proxy.cs
Due: Fluxzy.Core

Missing `RunContinuationsAsynchronously` on several instance of `TaskCompletionSource`
  src/Fluxzy.Core/Clients/H2/WindowSizeHolder.cs
  src/Fluxzy.Core/Clients/H2/WriteTask.cs
  src/Fluxzy.Core/Core/Breakpoints/BreakPointOrigin.cs
  src/Fluxzy.Core/Core/Exchange.cs
  src/Fluxzy.Core/Misc/ProcessUtils.cs
Due: Fluxzy.Core

Missing `RunContinuationsAsynchronously` on several instance of `TaskCompletionSource` (#348)
  src/Fluxzy.Core/Clients/H2/WindowSizeHolder.cs
  src/Fluxzy.Core/Clients/H2/WriteTask.cs
  src/Fluxzy.Core/Core/Breakpoints/BreakPointOrigin.cs
  src/Fluxzy.Core/Core/Exchange.cs
  src/Fluxzy.Core/Misc/ProcessUtils.cs
Due: Fluxzy.Core

Add `--insecure` option to disable certificate validation globally
  src/Fluxzy.Core/Core/ExchangeContext.cs
  src/Fluxzy.Core/FluxzySetting.Fluent.cs
  src/Fluxzy.Core/FluxzySetting.cs
  src/Fluxzy/Commands/StartCommandBuilder.cs
  src/Fluxzy/Commands/StartCommandOptions.cs
  src/Fluxzy/Properties/launchSettings.json
  test/Fluxzy.Tests/Cli/WithProvidedRules.cs
Due: Fluxzy.Core, Fluxzy

Add `--insecure` option to disable certificate validation globally (#349)
  src/Fluxzy.Core/Core/ExchangeContext.cs
  src/Fluxzy.Core/FluxzySetting.Fluent.cs
  src/Fluxzy.Core/FluxzySetting.cs
  src/Fluxzy/Commands/StartCommandBuilder.cs
  src/Fluxzy/Commands/StartCommandOptions.cs
  src/Fluxzy/Properties/launchSettings.json
  test/Fluxzy.Tests/Cli/WithProvidedRules.cs
Due: Fluxzy.Core, Fluxzy

Add collapsed command line options
  README.md
Due: none

Add collapsed command line options (#353)
  README.md
Due: none

Reorganize option order
  src/Fluxzy/Commands/StartCommandBuilder.cs
Due: Fluxzy

Update test case
  test/Fluxzy.Tests/Cli/ReverseProxy.cs
Due: none

Rearrange order of options in `start` command (#354)
  src/Fluxzy/Commands/StartCommandBuilder.cs
  test/Fluxzy.Tests/Cli/ReverseProxy.cs
Due: Fluxzy

Fix port exhaustion when using plain HTTP w/ implicit 0 length response body
  src/Fluxzy.Core/Clients/H11/Http11ConnectionPool.cs
  src/Fluxzy.Core/Clients/H11/Http11PoolProcessing.cs
  src/Fluxzy.Core/Core/DefaultTcpConnectionProvider.cs
  src/Fluxzy.Core/Core/Impl/DefaultTcpConnection.cs
  src/Fluxzy.Core/Core/ProxyOrchestrator.cs
  src/Fluxzy.Core/Core/ResponseHeader.cs
  src/Fluxzy.Core/Rules/Actions/AddRequestHeaderAction.cs
  src/Fluxzy/Properties/launchSettings.json
  test/Fluxzy.Tests/Cli/WithProvidedRules.cs
Due: Fluxzy.Core, Fluxzy

Fix very bad SSL Key log file
  test/Fluxzy.Tests/Startup.cs
Due: none

Fix port exhaustion when using plain HTTP w/ implicit 0 length response body (#355)
  src/Fluxzy.Core/Clients/H11/Http11ConnectionPool.cs
  src/Fluxzy.Core/Clients/H11/Http11PoolProcessing.cs
  src/Fluxzy.Core/Core/DefaultTcpConnectionProvider.cs
  src/Fluxzy.Core/Core/Impl/DefaultTcpConnection.cs
  src/Fluxzy.Core/Core/ProxyOrchestrator.cs
  src/Fluxzy.Core/Core/ResponseHeader.cs
  src/Fluxzy.Core/Rules/Actions/AddRequestHeaderAction.cs
  src/Fluxzy/Properties/launchSettings.json
  test/Fluxzy.Tests/Cli/WithProvidedRules.cs
  test/Fluxzy.Tests/Startup.cs
Due: Fluxzy.Core, Fluxzy

Add tracing for macos test error
  test/Fluxzy.Tests/Cli/CliWebSockets.cs
  test/Fluxzy.Tests/Cli/WithRuleOptionUseDnsOverHttpsAction.cs
Due: none

Try remove cert cache
  test/Fluxzy.Tests/Cli/CliWebSockets.cs
Due: none

Remove certificate hard cach in unit test
  test/Fluxzy.Tests/Cli/ReverseProxy.cs
  test/Fluxzy.Tests/Cli/WithRuleOptionBase.cs
Due: none

Remove certificat callback logging
  test/Fluxzy.Tests/Cli/CliWebSockets.cs
Due: none

When using Fluxzy.Core, settle `appdata` env var to avoid burden folders
  src/Fluxzy.Core/FluxzySharedSetting.cs
  test/Fluxzy.Tests/Startup.cs
Due: Fluxzy.Core

Fix concurrent test fail when using `FileSystemCertificateCache` (#356)
  test/Fluxzy.Tests/Cli/CliWebSockets.cs
  test/Fluxzy.Tests/Cli/ReverseProxy.cs
  test/Fluxzy.Tests/Cli/WithRuleOptionBase.cs
  test/Fluxzy.Tests/Cli/WithRuleOptionUseDnsOverHttpsAction.cs
Due: none

When using Fluxzy.Core, settle `appdata` env var to avoid burden folders (#357)
  src/Fluxzy.Core/FluxzySharedSetting.cs
  test/Fluxzy.Tests/Startup.cs
Due: Fluxzy.Core

Add `DefaultFluxzySettingAnalyzer` with basic rules
  src/Fluxzy.Core/Core/Breakpoints/ConnectionSetupStepModel.cs
  src/Fluxzy.Core/Core/Breakpoints/RequestSetupStepModel.cs
  src/Fluxzy.Core/Core/Breakpoints/ResponseSetupStepModel.cs
  src/Fluxzy.Core/DefaultFluxzySettingAnalyzer.cs
  src/Fluxzy.Core/Rules/Action.cs
  src/Fluxzy.Core/Rules/Actions/ApplyCommentAction.cs
  src/Fluxzy.Core/Rules/Actions/ApplyTagAction.cs
  src/Fluxzy.Core/Rules/Actions/ChangeRequestMethodAction.cs
  src/Fluxzy.Core/Rules/Actions/ChangeRequestPathAction.cs
  src/Fluxzy.Core/Rules/Actions/DeleteRequestHeaderAction.cs
  src/Fluxzy.Core/Rules/Actions/DeleteResponseHeaderAction.cs
  src/Fluxzy.Core/Rules/Actions/ImpersonateAction.cs
  src/Fluxzy.Core/Rules/Filters/Filter.cs
  src/Fluxzy.Core/Rules/Filters/ResponseFilters/StatusCodeSuccessFilter.cs
  src/Fluxzy.Core/Validators/RuleCountValidator.cs
  test/Fluxzy.Tests/UnitTests/Analyzers/DefaultFluxzySettingAnalyzerTests.cs
Due: Fluxzy.Core

Call base.Validate in ImpersonateAction
  src/Fluxzy.Core/Rules/Actions/ImpersonateAction.cs
Due: Fluxzy.Core

Add ServeDirectoryAction validation with test
  src/Fluxzy.Core/Rules/Actions/BreakPointAction.cs
  src/Fluxzy.Core/Rules/Actions/HighLevelActions/AddBasicAuthentificationAction.cs
  src/Fluxzy.Core/Rules/Actions/HighLevelActions/MountWelcomePageAction.cs
  src/Fluxzy.Core/Rules/Actions/HighLevelActions/ServeDirectoryAction.cs
  test/Fluxzy.Tests/UnitTests/Analyzers/DefaultFluxzySettingAnalyzerTests.cs
Due: Fluxzy.Core

Set test case to folder that does not exist
  test/Fluxzy.Tests/UnitTests/Analyzers/DefaultFluxzySettingAnalyzerTests.cs
Due: none

Bump version
  version.json
Due: none

Make max connection per host readable through FLUXZY_MAX_CONNECTION_PER_HOST
  src/Fluxzy.Core/FluxzySetting.cs
  src/Fluxzy.Core/FluxzySharedSetting.cs
Due: Fluxzy.Core

Make `max-upstream-connection ` available from command line
  src/Fluxzy.Core/FluxzySharedSetting.cs
  src/Fluxzy/Commands/StartCommandBuilder.cs
  src/Fluxzy/Commands/StartCommandOptions.cs
  test/Fluxzy.Tests/Cli/WitMaxConcurrentRequest.cs
  test/Fluxzy.Tests/Cli/WitProxyAuthentication.cs
  test/Fluxzy.Tests/Cli/WithRuleOptionBase.cs
Due: Fluxzy.Core, Fluxzy

Make max upstream connection readable through `FLUXZY_MAX_CONNECTION_PER_HOST` and command line (#359)
  src/Fluxzy.Core/FluxzySetting.cs
  src/Fluxzy.Core/FluxzySharedSetting.cs
  src/Fluxzy/Commands/StartCommandBuilder.cs
  src/Fluxzy/Commands/StartCommandOptions.cs
  test/Fluxzy.Tests/Cli/WitMaxConcurrentRequest.cs
  test/Fluxzy.Tests/Cli/WitProxyAuthentication.cs
  test/Fluxzy.Tests/Cli/WithRuleOptionBase.cs
Due: Fluxzy.Core, Fluxzy

Fix inability to create certificate on the fly for Sequoia
  global.json
Due: none

Fix unit test (ip change)
  test/Fluxzy.Tests/UnitTests/Misc/DefaultDnsResolverTests.cs
Due: none

Fix inability to create certificate on the fly for Sequoia (#362)
  global.json
  test/Fluxzy.Tests/UnitTests/Misc/DefaultDnsResolverTests.cs
Due: none

Increase max concurrent connection to speed up multiple tests
  test/Fluxzy.Tests/Cli/WithRuleOptionBase.cs
Due: none

Add setter
  src/Fluxzy.Core/Rules/Actions/UseDnsOverHttpsAction.cs
Due: Fluxzy.Core

- Use one http handler per active rule - Use IP instead of hostname to avoid extra round trip
  src/Fluxzy.Core/Clients/Dns/DefaultDnsResolver.cs
  src/Fluxzy.Core/Clients/Dns/DnsOverHttpsResolver.cs
  src/Fluxzy.Core/Clients/ProxyConfiguration.cs
  src/Fluxzy.Core/Core/Connection.cs
  test/Fluxzy.Tests/Cli/WithRuleOptionUseDnsOverHttpsAction.cs
Due: Fluxzy.Core

Avoid cert validation when running DNS over HTTPS
  src/Fluxzy.Core/Clients/Dns/DnsOverHttpsResolver.cs
Due: Fluxzy.Core

Fix proxy configuration when fluxzy is listening to Any addresses
  src/Fluxzy.Core/Core/ProxyRuntimeSetting.cs
Due: Fluxzy.Core

Fix no capture was ignored
  src/Fluxzy.Core/Clients/PoolBuilder.cs
  version.json
Due: Fluxzy.Core

Path conditions:
  Fluxzy.Core: any of: src/Fluxzy.Core/**, but not: src/Fluxzy.Core.Pcap/**, src/Fluxzy.Core.Pcap.Cli/**, src/Fluxzy.Core.Pcap/**, src/Fluxzy.Extensions/**, src/Fluxzy.Tools.DocGen/**, src/Fluxzy.Core/Clients/H2Logger.cs, src/Fluxzy.Core/Clients/H1Logger.cs, src/Fluxzy.Core/Misc/Streams/DebugFileStream.cs
  Fluxzy: any of: src/Fluxzy/**, but not: src/Fluxzy.Core.Pcap/**, src/Fluxzy.Core.Pcap.Cli/**, src/Fluxzy.Core.Pcap/**, src/Fluxzy.Extensions/**, src/Fluxzy.Tools.DocGen/**, src/Fluxzy.Core/Clients/H2Logger.cs, src/Fluxzy.Core/Clients/H1Logger.cs, src/Fluxzy.Core/Misc/Streams/DebugFileStream.cs
