Repository haga-rak/fluxzy.core: changes, and which Codecov flags are due for each by the changed paths.
All: Fluxzy.Core, Fluxzy.Core.Pcap, Fluxzy

codecov.yml:

comment:
  layout: "header, diff, flags, components"

coverage:
  range: 60..73
  status:
    project:
      default:
        target: 65% 
    patch: no

component_management:
  default_rules:
    statuses:
      - type: project
        target: 65%
        branches:
          - "main"
  individual_components:
    - component_id: Fluxzy.Core
      name: Fluxzy.Core
      paths:
        - src/Fluxzy.Core/**
    - component_id: Fluxzy.Core.Pcap
      name: Fluxzy.Core.Pcap
      paths:
        - src/Fluxzy.Core.Pcap/**
    - component_id: Fluxzy
      name: Fluxzy
      paths:
        - src/Fluxzy/**
ignore:
  - "src/Fluxzy.Core.Pcap.Cli/**"
  - "src/Fluxzy.Extensions/**"
  - "src/Fluxzy.Tools.DocGen/**"
  - "src/Fluxzy/Commands/PrettyOutput/**"

# Ignore debugging code 
  - "src/Fluxzy.Core/Clients/H2Logger.cs"
  - "src/Fluxzy.Core/Clients/H1Logger.cs"
  - "src/Fluxzy.Core/Misc/Streams/DebugFileStream.cs"
  - "src/Fluxzy/ArgsHelper.cs"
  - "src/Fluxzy.Core/Misc/Traces/**"
  - "src/Fluxzy.Core/Utils/ProcessTracking/LinuxProcessHelper.cs"
  - "src/Fluxzy.Core/Utils/ProcessTracking/MacOsProcessHelper.cs"
  - "src/Fluxzy.Core/Utils/ProcessTracking/MacOsNativeMethods.cs"
  - "src/Fluxzy.Core/Core/H2DownStreamPipe.cs"
  - "src/Fluxzy.Core/Core/ServerStreamWorker.cs"

Add Benchmarking section to README
  README.md
Due: none

Add benchmark sample results table to README
  README.md
Due: none

Fix Nagle stall in SOCKS5 test client skewing H2 throughput benchmark (#628)
  .github/workflows/benchmark-throughput.yml
  README.md
  benchmark-throughput.cmd
  benchmark-throughput.sh
  test/Fluxzy.Benchmarks/ProxyThroughputBenchmark.cs
  test/Fluxzy.Tests/_Fixtures/Socks5ClientFactory.cs
Due: none

Fix timeout in DuplicateTransferEncoding test by not buffering response body
  test/Fluxzy.Tests/Cases/DuplicateTransferEncodingTests.cs
Due: none

Fix timeout in DuplicateTransferEncoding test by not buffering response body (#629)
  test/Fluxzy.Tests/Cases/DuplicateTransferEncodingTests.cs
Due: none

Fix and tweak websocket framing
  src/Fluxzy.Core/Clients/H11/WsMessage.cs
  test/Fluxzy.Tests/UnitTests/Websockets/WebSocketFramingTests.cs
Due: Fluxzy.Core

Fix and tweak websocket framing (#630)
  src/Fluxzy.Core/Clients/H11/WsMessage.cs
  test/Fluxzy.Tests/UnitTests/Websockets/WebSocketFramingTests.cs
Due: Fluxzy.Core

Gate live-edit header scan behind FluxzyDesktopVersion env var
  src/Fluxzy.Core/Core/Exchange.cs
  src/Fluxzy.Core/FluxzySharedSetting.cs
Due: Fluxzy.Core

Reduce ExchangeScope per-exchange allocations
  src/Fluxzy.Core/Core/ExchangeScope.cs
Due: Fluxzy.Core

Replace LINQ header lookups with direct iteration helpers
  src/Fluxzy.Core/Core/Header.cs
  src/Fluxzy.Core/Core/RequestHeader.cs
  src/Fluxzy.Core/Core/ResponseHeader.cs
Due: Fluxzy.Core

Perf: reduce per-exchange allocations on HTTP/1.1 hot path (#631)
  src/Fluxzy.Core/Core/Exchange.cs
  src/Fluxzy.Core/Core/ExchangeScope.cs
  src/Fluxzy.Core/Core/Header.cs
  src/Fluxzy.Core/Core/RequestHeader.cs
  src/Fluxzy.Core/Core/ResponseHeader.cs
  src/Fluxzy.Core/FluxzySharedSetting.cs
Due: Fluxzy.Core

Perf: skip redundant upfront per-stream WINDOW_UPDATE in H2
  README.md
  src/Fluxzy.Core/Clients/H2/StreamWorker.cs
Due: Fluxzy.Core

Perf: skip redundant upfront per-stream WINDOW_UPDATE in H2 (#632)
  README.md
  src/Fluxzy.Core/Clients/H2/StreamWorker.cs
Due: Fluxzy.Core

Add support for x86 and arm64 URLs in Winget manifest
  .github/workflows/release-winget.yml
Due: none

Add support for x86 and arm64 URLs in Winget manifest (#633)
  .github/workflows/release-winget.yml
Due: none

Support FLUXZY_SUDO_PASSWORD_FILE to spawn fluxzynetcap under sudo
  .gitignore
  src/Fluxzy.Core/Misc/ProcessUtils.cs
  src/Fluxzy/Commands/StartCommandBuilder.cs
  test/Fluxzy.Tests/Startup.cs
Due: Fluxzy.Core, Fluxzy

Enable non-interactive pcap tests on Linux (#635)
  .gitignore
  src/Fluxzy.Core/Misc/ProcessUtils.cs
  src/Fluxzy/Commands/StartCommandBuilder.cs
  test/Fluxzy.Tests/Startup.cs
Due: Fluxzy.Core, Fluxzy

Fix H2 GOAWAY handling to track peer LastStreamId and drain reliably
  src/Fluxzy.Core/Clients/H2/H2ConnectionPool.cs
  src/Fluxzy.Core/Clients/H2/StreamPool.cs
  src/Fluxzy.Core/Clients/H2/StreamWorker.cs
  test/Fluxzy.Tests/UnitTests/H2Client/H2ConnectionPoolGoAwayTests.cs
Due: Fluxzy.Core

Fix flaky WS req/res test and 64-bit frame length parsing
  src/Fluxzy.Core/Clients/H11/WebSocketStream.cs
  test/Fluxzy.Tests/Cli/CliWebSockets.cs
Due: Fluxzy.Core

Fix H2 GOAWAY handling to track peer LastStreamId and drain reliably (#636)
  src/Fluxzy.Core/Clients/H2/H2ConnectionPool.cs
  src/Fluxzy.Core/Clients/H2/StreamPool.cs
  src/Fluxzy.Core/Clients/H2/StreamWorker.cs
  test/Fluxzy.Tests/UnitTests/H2Client/H2ConnectionPoolGoAwayTests.cs
Due: Fluxzy.Core

Fix flaky WS req/res test and 64-bit frame length parsing (#637)
  src/Fluxzy.Core/Clients/H11/WebSocketStream.cs
  test/Fluxzy.Tests/Cli/CliWebSockets.cs
Due: Fluxzy.Core

Move H2 idle teardown to per-connection timer
  src/Fluxzy.Core/Clients/H11/Http11ConnectionPool.cs
  src/Fluxzy.Core/Clients/H11/TunnelOnlyConnectionPool.cs
  src/Fluxzy.Core/Clients/H11/WebsocketConnectionPool.cs
  src/Fluxzy.Core/Clients/H2/H2ConnectionPool.cs
  src/Fluxzy.Core/Clients/IHttpConnectionPool.cs
  src/Fluxzy.Core/Clients/Mock/MockedConnectionPool.cs
  src/Fluxzy.Core/Clients/PoolBuilder.cs
  test/Fluxzy.Tests/UnitTests/H2Client/H2ConnectionPoolDisposalTests.cs
  test/Fluxzy.Tests/UnitTests/H2Client/H2ConnectionPoolGoAwayTests.cs
Due: Fluxzy.Core

Move H2 idle teardown to per-connection timer (#638)
  src/Fluxzy.Core/Clients/H11/Http11ConnectionPool.cs
  src/Fluxzy.Core/Clients/H11/TunnelOnlyConnectionPool.cs
  src/Fluxzy.Core/Clients/H11/WebsocketConnectionPool.cs
  src/Fluxzy.Core/Clients/H2/H2ConnectionPool.cs
  src/Fluxzy.Core/Clients/IHttpConnectionPool.cs
  src/Fluxzy.Core/Clients/Mock/MockedConnectionPool.cs
  src/Fluxzy.Core/Clients/PoolBuilder.cs
  test/Fluxzy.Tests/UnitTests/H2Client/H2ConnectionPoolDisposalTests.cs
  test/Fluxzy.Tests/UnitTests/H2Client/H2ConnectionPoolGoAwayTests.cs
Due: Fluxzy.Core

Fix H2 downstream write loop CPU spin on exhausted connection window
  src/Fluxzy.Core/Core/H2DownStreamPipe.cs
  test/Fluxzy.Tests/UnitTests/H2Serve/H2DownStreamPipeTests.cs
Due: none

Fix H2 downstream write loop CPU spin on exhausted connection window (#644)
  src/Fluxzy.Core/Core/H2DownStreamPipe.cs
  test/Fluxzy.Tests/UnitTests/H2Serve/H2DownStreamPipeTests.cs
Due: none

Add IsRegisteredOn to match system proxy against fluxzy endpoint
  src/Fluxzy.Core/Core/Impl/SystemProxyRegistrationManager.cs
  src/Fluxzy.Core/Core/Proxy/SystemProxySetting.cs
  test/Fluxzy.Tests/UnitTests/Core/SystemProxyRegistrationManagerTests.cs
Due: Fluxzy.Core

Add IsRegisteredOn to match system proxy against fluxzy endpoint (#645)
  src/Fluxzy.Core/Core/Impl/SystemProxyRegistrationManager.cs
  src/Fluxzy.Core/Core/Proxy/SystemProxySetting.cs
  test/Fluxzy.Tests/UnitTests/Core/SystemProxyRegistrationManagerTests.cs
Due: Fluxzy.Core

Remove H2 Logger
  src/Fluxzy.Core/Clients/H2/Encoder/HPack/HPackDecodingDynamicTable.cs
  src/Fluxzy.Core/Clients/H2/Encoder/HPackDecoder.cs
  src/Fluxzy.Core/Clients/H2/H2ConnectionPool.cs
  src/Fluxzy.Core/Clients/H2/SettingHelper.cs
  src/Fluxzy.Core/Clients/H2/StreamContext.cs
  src/Fluxzy.Core/Clients/H2/StreamPool.cs
  src/Fluxzy.Core/Clients/H2/StreamWorker.cs
  src/Fluxzy.Core/Clients/H2/WindowSizeHolder.cs
  src/Fluxzy.Core/Clients/H2Logger.cs
  src/Fluxzy.Core/Core/H2DownStreamPipe.cs
  src/Fluxzy.Core/Core/ServerStreamWorker.cs
  test/Fluxzy.Benchmarks/WindowSizeBookingBenchmark.cs
  test/Fluxzy.Tests/UnitTests/H2Client/H2ConnectionPoolGoAwayTests.cs
Due: Fluxzy.Core

Remove H1 Logger
  src/Fluxzy.Core/Clients/H11/Http11ConnectionPool.cs
  src/Fluxzy.Core/Clients/H11/Http11PoolProcessing.cs
  src/Fluxzy.Core/Clients/H1Logger.cs
Due: Fluxzy.Core

Fix cancellation wrongly removed
  src/Fluxzy.Core/Clients/H2/H2ConnectionPool.cs
Due: Fluxzy.Core

Introduce ILogger and ActivitySource based logging
  docs/logging.md
  src/Fluxzy.Core/Clients/DnsUtility.cs
  src/Fluxzy.Core/Clients/H11/Http11ConnectionPool.cs
  src/Fluxzy.Core/Clients/H11/Http11PoolProcessing.cs
  src/Fluxzy.Core/Clients/H2/H2ConnectionPool.cs
  src/Fluxzy.Core/Clients/H2/StreamContext.cs
  src/Fluxzy.Core/Clients/H2/StreamWorker.cs
  src/Fluxzy.Core/Clients/IRemoteConnectionBuilder.cs
  src/Fluxzy.Core/Clients/PoolBuilder.cs
  src/Fluxzy.Core/Core/Exchange.cs
  src/Fluxzy.Core/Core/Impl/SecureConnectionUpdater.cs
  src/Fluxzy.Core/Core/ProxyOrchestrator.cs
  src/Fluxzy.Core/Core/ProxyRuntimeSetting.cs
  src/Fluxzy.Core/Fluxzy.Core.csproj
  src/Fluxzy.Core/FluxzySetting.cs
  src/Fluxzy.Core/Logging/FluxzyActivitySource.cs
  src/Fluxzy.Core/Logging/FluxzyLogEvents.cs
  src/Fluxzy.Core/Logging/FluxzyLoggerScopes.cs
  src/Fluxzy.Core/Logging/HeaderRedactor.cs
  src/Fluxzy.Core/Misc/Traces/D.cs
  src/Fluxzy.Core/Proxy.cs
  src/Fluxzy/Commands/StartCommandBuilder.cs
  src/Fluxzy/Commands/StartCommandOptions.cs
  src/Fluxzy/fluxzy.csproj
  test/Fluxzy.Tests/Cases/ActivitySourceTests.cs
  test/Fluxzy.Tests/Cases/ExchangeEnvelopeRedactionTests.cs
Due: Fluxzy.Core, Fluxzy

Tag activities with Proxy.InstanceId
  src/Fluxzy.Core/Core/ProxyOrchestrator.cs
  src/Fluxzy.Core/Core/ProxyRuntimeSetting.cs
  src/Fluxzy.Core/Logging/FluxzyActivitySource.cs
  src/Fluxzy.Core/Proxy.cs
  test/Fluxzy.Tests/Cases/ActivitySourceTests.cs
Due: Fluxzy.Core

Add -t/--trace option to fluxzy start
  src/Fluxzy/Commands/StartCommandBuilder.cs
  src/Fluxzy/Commands/StartCommandOptions.cs
  src/Fluxzy/Commands/TraceMode.cs
Due: Fluxzy

Introduce ILogger and ActivitySource based logging (#649)
  docs/logging.md
  src/Fluxzy.Core/Clients/DnsUtility.cs
  src/Fluxzy.Core/Clients/H11/Http11ConnectionPool.cs
  src/Fluxzy.Core/Clients/H11/Http11PoolProcessing.cs
  src/Fluxzy.Core/Clients/H1Logger.cs
  src/Fluxzy.Core/Clients/H2/Encoder/HPack/HPackDecodingDynamicTable.cs
  src/Fluxzy.Core/Clients/H2/Encoder/HPackDecoder.cs
  src/Fluxzy.Core/Clients/H2/H2ConnectionPool.cs
  src/Fluxzy.Core/Clients/H2/SettingHelper.cs
  src/Fluxzy.Core/Clients/H2/StreamContext.cs
  src/Fluxzy.Core/Clients/H2/StreamPool.cs
  src/Fluxzy.Core/Clients/H2/StreamWorker.cs
  src/Fluxzy.Core/Clients/H2/WindowSizeHolder.cs
  src/Fluxzy.Core/Clients/H2Logger.cs
  src/Fluxzy.Core/Clients/IRemoteConnectionBuilder.cs
  src/Fluxzy.Core/Clients/PoolBuilder.cs
  src/Fluxzy.Core/Core/Exchange.cs
  src/Fluxzy.Core/Core/H2DownStreamPipe.cs
  src/Fluxzy.Core/Core/Impl/SecureConnectionUpdater.cs
  src/Fluxzy.Core/Core/ProxyOrchestrator.cs
  src/Fluxzy.Core/Core/ProxyRuntimeSetting.cs
  src/Fluxzy.Core/Core/ServerStreamWorker.cs
  src/Fluxzy.Core/Fluxzy.Core.csproj
  src/Fluxzy.Core/FluxzySetting.cs
  src/Fluxzy.Core/Logging/FluxzyActivitySource.cs
  src/Fluxzy.Core/Logging/FluxzyLogEvents.cs
  src/Fluxzy.Core/Logging/FluxzyLoggerScopes.cs
  src/Fluxzy.Core/Logging/HeaderRedactor.cs
  src/Fluxzy.Core/Misc/Traces/D.cs
  src/Fluxzy.Core/Proxy.cs
  src/Fluxzy/Commands/StartCommandBuilder.cs
  src/Fluxzy/Commands/StartCommandOptions.cs
  src/Fluxzy/Commands/TraceMode.cs
  src/Fluxzy/fluxzy.csproj
  test/Fluxzy.Benchmarks/WindowSizeBookingBenchmark.cs
  test/Fluxzy.Tests/Cases/ActivitySourceTests.cs
  test/Fluxzy.Tests/Cases/ExchangeEnvelopeRedactionTests.cs
  test/Fluxzy.Tests/UnitTests/H2Client/H2ConnectionPoolGoAwayTests.cs
Due: Fluxzy.Core, Fluxzy

Fix H1 pool retry when recycled connection got close_notify after response
  src/Fluxzy.Core/Clients/H11/Http11ConnectionPool.cs
  src/Fluxzy.Core/Clients/H11/Http11PoolProcessing.cs
  src/Fluxzy.Core/Core/Exchange.cs
  src/Fluxzy.Core/Misc/Streams/DisposeEventNotifierStream.cs
  test/Fluxzy.Tests/Cases/Http11PoolCloseNotifyAfterResponseTests.cs
Due: Fluxzy.Core

Fix flaky H1 retry: skip interim-status sniff on close_notify and cover write-path failure
  src/Fluxzy.Core/Clients/H11/Http11ConnectionPool.cs
  src/Fluxzy.Core/Clients/H11/Http11PoolProcessing.cs
Due: Fluxzy.Core

Fix H1 pool retry when recycled connection got close_notify after response (#650)
  src/Fluxzy.Core/Clients/H11/Http11ConnectionPool.cs
  src/Fluxzy.Core/Clients/H11/Http11PoolProcessing.cs
  src/Fluxzy.Core/Core/Exchange.cs
  src/Fluxzy.Core/Misc/Streams/DisposeEventNotifierStream.cs
  test/Fluxzy.Tests/Cases/Http11PoolCloseNotifyAfterResponseTests.cs
Due: Fluxzy.Core

Embed FluxzySetting snapshot in archive meta
  src/Fluxzy.Core/Archiving/ArchiveMetaInformation.cs
  src/Fluxzy.Core/Archiving/GlobalArchiveOption.cs
  src/Fluxzy.Core/Archiving/Readers/ArchiveMetaInformationReader.cs
  src/Fluxzy.Core/Archiving/Readers/DirectoryArchiveReader.cs
  src/Fluxzy.Core/Archiving/Readers/FluxzyArchiveReader.cs
  src/Fluxzy.Core/Archiving/Writers/DirectoryArchiveWriter.cs
  src/Fluxzy.Core/FluxzySharedSetting.cs
  src/Fluxzy.Core/Misc/Converters/RedactingFluxzySettingConverter.cs
  src/Fluxzy.Core/Proxy.cs
  test/Fluxzy.Tests/UnitTests/Archiving/CapturedSettingTests.cs
Due: Fluxzy.Core

Embed FluxzySetting snapshot in archive meta (#653)
  src/Fluxzy.Core/Archiving/ArchiveMetaInformation.cs
  src/Fluxzy.Core/Archiving/GlobalArchiveOption.cs
  src/Fluxzy.Core/Archiving/Readers/ArchiveMetaInformationReader.cs
  src/Fluxzy.Core/Archiving/Readers/DirectoryArchiveReader.cs
  src/Fluxzy.Core/Archiving/Readers/FluxzyArchiveReader.cs
  src/Fluxzy.Core/Archiving/Writers/DirectoryArchiveWriter.cs
  src/Fluxzy.Core/FluxzySharedSetting.cs
  src/Fluxzy.Core/Misc/Converters/RedactingFluxzySettingConverter.cs
  src/Fluxzy.Core/Proxy.cs
  test/Fluxzy.Tests/UnitTests/Archiving/CapturedSettingTests.cs
Due: Fluxzy.Core

Add cert validity dates and SHA-1 thumbprint to SslInfo
  src/Fluxzy.Core/Archiving/Readers/HarImportEngine.cs
  src/Fluxzy.Core/Archiving/Readers/SazImportEngine.cs
  src/Fluxzy.Core/Archiving/SslInfo.cs
  src/Fluxzy.Core/Clients/Ssl/BouncyCastle/BcCertificateHelper.cs
  test/Fluxzy.Tests/UnitTests/Handlers/CertificateMetadataInSslInfoTests.cs
Due: Fluxzy.Core
