Repository haga-rak/fluxzy.core: changes, and which Codecov flags are due for each by the changed paths.
All: Fluxzy.Core, Fluxzy.Core.Pcap, Fluxzy

Ignore ownerless sockets when resolving a process from a local port
  src/Fluxzy.Core/Utils/ProcessTracking/LinuxProcessHelper.cs
  src/Fluxzy.Core/Utils/ProcessTracking/WindowsProcessHelper.cs
  test/Fluxzy.Tests/UnitTests/Util/LinuxProcessHelperTests.cs
Due: Fluxzy.Core

Expand NuGet package tags for Fluxzy.Core and Fluxzy.Core.Pcap
  src/Fluxzy.Core.Pcap/Fluxzy.Core.Pcap.csproj
  src/Fluxzy.Core/Fluxzy.Core.csproj
Due: Fluxzy.Core, Fluxzy.Core.Pcap

Ignore ownerless sockets when resolving a process from a local port (#752)
  src/Fluxzy.Core/Utils/ProcessTracking/LinuxProcessHelper.cs
  src/Fluxzy.Core/Utils/ProcessTracking/WindowsProcessHelper.cs
  test/Fluxzy.Tests/UnitTests/Util/LinuxProcessHelperTests.cs
Due: Fluxzy.Core

Expand NuGet package tags for Fluxzy.Core and Fluxzy.Core.Pcap (#753)
  src/Fluxzy.Core.Pcap/Fluxzy.Core.Pcap.csproj
  src/Fluxzy.Core/Fluxzy.Core.csproj
Due: Fluxzy.Core, Fluxzy.Core.Pcap

Regenerate action/filter documentation
  docs/actions/InjectHtmlTagAction.md
  docs/actions/PinUpstreamConnectionAction.md
  docs/actions/UpStreamProxyAction.md
  docs/searchable-items.json
Due: none

Regenerate action/filter documentation (#754)
  docs/actions/InjectHtmlTagAction.md
  docs/actions/PinUpstreamConnectionAction.md
  docs/actions/UpStreamProxyAction.md
  docs/searchable-items.json
Due: none

Set version to '1.39'
  version.json
Due: none

Update version to 1.40-alpha
  version.json
Due: none

Fix winget publish workflow: self-contained wingetcreate and full 4-part version
  .github/workflows/release-winget.yml
Due: none

Update version to 1.40-alpha (#755)
  version.json
Due: none

Fix winget publish workflow: self-contained wingetcreate and full 4-part version (#756)
  .github/workflows/release-winget.yml
Due: none

Use the native macOS authorization dialog for graphical elevation
  src/Fluxzy.Core/Misc/ProcessUtils.cs
  src/Fluxzy.Core/Misc/ProcessUtilsOsx.cs
Due: Fluxzy.Core

Allow plugging an alternative macOS elevation launcher
  src/Fluxzy.Core/Misc/IOsxElevationLauncher.cs
  src/Fluxzy.Core/Misc/ProcessUtils.cs
Due: Fluxzy.Core

Use the native macOS authorization dialog for graphical elevation (#757)
  src/Fluxzy.Core/Misc/IOsxElevationLauncher.cs
  src/Fluxzy.Core/Misc/ProcessUtils.cs
  src/Fluxzy.Core/Misc/ProcessUtilsOsx.cs
Due: Fluxzy.Core

Fix downstream exchange channel completion
  src/Fluxzy.Core/Core/H2DownStreamPipe.cs
  test/Fluxzy.Tests/UnitTests/H2Serve/H2DownStreamPipeTests.cs
  test/Fluxzy.Tests/_Fixtures/H2TestHelper.cs
Due: none

Track downstream HTTP/2 stream halves
  src/Fluxzy.Core/Core/DataFrameEntry.cs
  src/Fluxzy.Core/Core/H2DownStreamPipe.cs
  src/Fluxzy.Core/Core/ServerStreamWorker.cs
  test/Fluxzy.Tests/UnitTests/H2Serve/H2DownStreamPipeTests.cs
  test/Fluxzy.Tests/UnitTests/H2Serve/H2StreamLifecycleTests.cs
  test/Fluxzy.Tests/UnitTests/H2Serve/H2TrailerTests.cs
  test/Fluxzy.Tests/_Fixtures/H2TestHelper.cs
Due: Fluxzy.Core

Address HTTP/2 stream review feedback
  src/Fluxzy.Core/Core/H2DownStreamPipe.cs
  src/Fluxzy.Core/Core/ServerStreamWorker.cs
  test/Fluxzy.Tests/UnitTests/H2Serve/H2TrailerTests.cs
  test/Fluxzy.Tests/_Fixtures/H2TestHelper.cs
Due: none

Fix HTTP/1 chunked writer ownership
  src/Fluxzy.Core/Clients/H11/Http11PoolProcessing.cs
  src/Fluxzy.Core/Core/Http11DownStreamPipe.cs
  src/Fluxzy.Core/Misc/Streams/ChunkedTransferWriteStream.cs
  src/Fluxzy.Core/Misc/Streams/CombinedReadonlyStream.cs
  src/Fluxzy.Core/Misc/Streams/StreamExtensions.cs
  test/Fluxzy.Tests/UnitTests/Core/Http11ChunkedWriterOwnershipTests.cs
  test/Fluxzy.Tests/UnitTests/Misc/ChunkedTransferWriteStreamTests.cs
  test/Fluxzy.Tests/UnitTests/Misc/CombinedReadonlyStreamTests.cs
  test/Fluxzy.Tests/UnitTests/Misc/StreamExtensionsCopyDetailedTests.cs
Due: Fluxzy.Core

Fix HTTP/2 stream buffer ownership
  src/Fluxzy.Core/Clients/H2/H2ConnectionPool.cs
  src/Fluxzy.Core/Clients/H2/StreamWorker.cs
  test/Fluxzy.Tests/UnitTests/H2Client/StreamWorkerResponsePipeTests.cs
  test/Fluxzy.Tests/UnitTests/H2Client/StreamWorkerUploadTests.cs
Due: Fluxzy.Core

Fix event writer body dispatch
  src/Fluxzy.Core/Archiving/Writers/EventOnlyArchiveWriter.cs
  src/Fluxzy.Core/Archiving/Writers/RealtimeArchiveWriter.cs
  src/Fluxzy.Core/Core/ProxyOrchestrator.cs
  test/Fluxzy.Tests/UnitTests/Events/EventWriterBodyDispatchTests.cs
Due: Fluxzy.Core

Handle cancelled HTTP/2 response forwarding
  src/Fluxzy.Core/Core/H2DownStreamPipe.cs
  test/Fluxzy.Tests/UnitTests/H2Serve/H2DownStreamPipeTests.cs
Due: none

Settle HTTP/2 write tasks during teardown
  src/Fluxzy.Core/Clients/H2/H2ConnectionPool.cs
  src/Fluxzy.Core/Clients/H2/WriteTask.cs
  test/Fluxzy.Tests/UnitTests/H2Client/StreamWorkerUploadTests.cs
Due: Fluxzy.Core

Fix H2 teardown and header ownership races
  src/Fluxzy.Core/Clients/H2/H2ConnectionPool.cs
  src/Fluxzy.Core/Clients/H2/StreamWorker.cs
  test/Fluxzy.Tests/UnitTests/H2Client/StreamWorkerUploadTests.cs
Due: Fluxzy.Core

Fix downstream exchange channel completion (#763)
  src/Fluxzy.Core/Core/H2DownStreamPipe.cs
  test/Fluxzy.Tests/UnitTests/H2Serve/H2DownStreamPipeTests.cs
  test/Fluxzy.Tests/_Fixtures/H2TestHelper.cs
Due: none

Fix/track downstream http stream halves (#764)
  src/Fluxzy.Core/Core/DataFrameEntry.cs
  src/Fluxzy.Core/Core/H2DownStreamPipe.cs
  src/Fluxzy.Core/Core/ServerStreamWorker.cs
  test/Fluxzy.Tests/UnitTests/H2Serve/H2DownStreamPipeTests.cs
  test/Fluxzy.Tests/UnitTests/H2Serve/H2StreamLifecycleTests.cs
  test/Fluxzy.Tests/UnitTests/H2Serve/H2TrailerTests.cs
  test/Fluxzy.Tests/_Fixtures/H2TestHelper.cs
Due: Fluxzy.Core

Report interrupted response forwarding as client error
  src/Fluxzy.Core/Core/ProxyOrchestrator.cs
  test/Fluxzy.Tests/UnitTests/Events/EventWriterBodyDispatchTests.cs
Due: Fluxzy.Core

Fix HTTP/1 chunked writer ownership (#765)
  src/Fluxzy.Core/Clients/H11/Http11PoolProcessing.cs
  src/Fluxzy.Core/Core/Http11DownStreamPipe.cs
  src/Fluxzy.Core/Misc/Streams/ChunkedTransferWriteStream.cs
  src/Fluxzy.Core/Misc/Streams/CombinedReadonlyStream.cs
  src/Fluxzy.Core/Misc/Streams/StreamExtensions.cs
  test/Fluxzy.Tests/UnitTests/Core/Http11ChunkedWriterOwnershipTests.cs
  test/Fluxzy.Tests/UnitTests/Misc/ChunkedTransferWriteStreamTests.cs
  test/Fluxzy.Tests/UnitTests/Misc/CombinedReadonlyStreamTests.cs
  test/Fluxzy.Tests/UnitTests/Misc/StreamExtensionsCopyDetailedTests.cs
Due: Fluxzy.Core

Adjust certificate test for completed redirect exchanges
  test/Fluxzy.Tests/Cases/ExportCertificateInSslInfoIntegrationTests.cs
Due: none

Fix full duplex request forwarding when body capture is off
  src/Fluxzy.Core/Core/ProxyOrchestrator.cs
Due: Fluxzy.Core

Fix connection reuse after a partially read response body
  src/Fluxzy.Core/Misc/Streams/MetricsStream.cs
  test/Fluxzy.Tests/UnitTests/Events/EventWriterConnectionReuseTests.cs
Due: Fluxzy.Core

Fix event writer body dispatch (#766)
  src/Fluxzy.Core/Archiving/Writers/EventOnlyArchiveWriter.cs
  src/Fluxzy.Core/Archiving/Writers/RealtimeArchiveWriter.cs
  src/Fluxzy.Core/Core/H2DownStreamPipe.cs
  src/Fluxzy.Core/Core/ProxyOrchestrator.cs
  src/Fluxzy.Core/Misc/Streams/MetricsStream.cs
  test/Fluxzy.Tests/Cases/ExportCertificateInSslInfoIntegrationTests.cs
  test/Fluxzy.Tests/UnitTests/Events/EventWriterBodyDispatchTests.cs
  test/Fluxzy.Tests/UnitTests/Events/EventWriterConnectionReuseTests.cs
  test/Fluxzy.Tests/UnitTests/H2Serve/H2DownStreamPipeTests.cs
Due: Fluxzy.Core

Relay received body when the server resets the stream
  src/Fluxzy.Core/Clients/H2/StreamWorker.cs
  test/Fluxzy.Tests/UnitTests/H2Client/StreamWorkerResponsePipeTests.cs
Due: Fluxzy.Core

Observe write task faults to avoid UnobservedTaskException
  src/Fluxzy.Core/Clients/H2/WriteTask.cs
Due: Fluxzy.Core

Make the H2 upload payload cap a shared setting
  src/Fluxzy.Core/Clients/H2/H2ConnectionPool.cs
  src/Fluxzy.Core/Clients/H2/StreamWorker.cs
  src/Fluxzy.Core/FluxzySharedSetting.cs
Due: Fluxzy.Core

Use internal test seams instead of reflection in H2 write tests
  src/Fluxzy.Core/Clients/H2/H2ConnectionPool.cs
  test/Fluxzy.Tests/UnitTests/H2Client/StreamWorkerUploadTests.cs
Due: Fluxzy.Core

Fix HTTP/2 stream buffer ownership (#767)
  src/Fluxzy.Core/Clients/H2/H2ConnectionPool.cs
  src/Fluxzy.Core/Clients/H2/StreamWorker.cs
  src/Fluxzy.Core/Clients/H2/WriteTask.cs
  src/Fluxzy.Core/FluxzySharedSetting.cs
  test/Fluxzy.Tests/UnitTests/H2Client/StreamWorkerResponsePipeTests.cs
  test/Fluxzy.Tests/UnitTests/H2Client/StreamWorkerUploadTests.cs
Due: Fluxzy.Core

Batch bodyless HEADERS flushes in the H2 downstream write loop
  src/Fluxzy.Core/Core/H2DownStreamPipe.cs
Due: none

Batch bodyless HEADERS flushes in the H2 downstream write loop (#772)
  src/Fluxzy.Core/Core/H2DownStreamPipe.cs
Due: none

Make the H2 header-received signal idempotent
  src/Fluxzy.Core/Clients/H2/StreamWorker.cs
  test/Fluxzy.Tests/UnitTests/H2Client/StreamWorkerHeaderSignalTests.cs
Due: Fluxzy.Core

Make the H2 header-received signal idempotent (#773)
  src/Fluxzy.Core/Clients/H2/StreamWorker.cs
  test/Fluxzy.Tests/UnitTests/H2Client/StreamWorkerHeaderSignalTests.cs
Due: Fluxzy.Core

Path conditions:
  Fluxzy.Core: any of: src/Fluxzy.Core/**, but not: src/Fluxzy.Core.Pcap.Cli/**, src/Fluxzy.Extensions/**, src/Fluxzy.Tools.DocGen/**, src/Fluxzy/Commands/PrettyOutput/**, src/Fluxzy.Core/Clients/H2Logger.cs, src/Fluxzy.Core/Clients/H1Logger.cs, src/Fluxzy.Core/Misc/Streams/DebugFileStream.cs, src/Fluxzy/ArgsHelper.cs, src/Fluxzy.Core/Misc/Traces/**, src/Fluxzy.Core/Utils/ProcessTracking/LinuxProcessHelper.cs, src/Fluxzy.Core/Utils/ProcessTracking/MacOsProcessHelper.cs, src/Fluxzy.Core/Utils/ProcessTracking/MacOsNativeMethods.cs, src/Fluxzy.Core/Core/H2DownStreamPipe.cs, src/Fluxzy.Core/Core/ServerStreamWorker.cs
  Fluxzy.Core.Pcap: any of: src/Fluxzy.Core.Pcap/**, but not: src/Fluxzy.Core.Pcap.Cli/**, src/Fluxzy.Extensions/**, src/Fluxzy.Tools.DocGen/**, src/Fluxzy/Commands/PrettyOutput/**, src/Fluxzy.Core/Clients/H2Logger.cs, src/Fluxzy.Core/Clients/H1Logger.cs, src/Fluxzy.Core/Misc/Streams/DebugFileStream.cs, src/Fluxzy/ArgsHelper.cs, src/Fluxzy.Core/Misc/Traces/**, src/Fluxzy.Core/Utils/ProcessTracking/LinuxProcessHelper.cs, src/Fluxzy.Core/Utils/ProcessTracking/MacOsProcessHelper.cs, src/Fluxzy.Core/Utils/ProcessTracking/MacOsNativeMethods.cs, src/Fluxzy.Core/Core/H2DownStreamPipe.cs, src/Fluxzy.Core/Core/ServerStreamWorker.cs
  Fluxzy: any of: src/Fluxzy/**, but not: src/Fluxzy.Core.Pcap.Cli/**, src/Fluxzy.Extensions/**, src/Fluxzy.Tools.DocGen/**, src/Fluxzy/Commands/PrettyOutput/**, src/Fluxzy.Core/Clients/H2Logger.cs, src/Fluxzy.Core/Clients/H1Logger.cs, src/Fluxzy.Core/Misc/Streams/DebugFileStream.cs, src/Fluxzy/ArgsHelper.cs, src/Fluxzy.Core/Misc/Traces/**, src/Fluxzy.Core/Utils/ProcessTracking/LinuxProcessHelper.cs, src/Fluxzy.Core/Utils/ProcessTracking/MacOsProcessHelper.cs, src/Fluxzy.Core/Utils/ProcessTracking/MacOsNativeMethods.cs, src/Fluxzy.Core/Core/H2DownStreamPipe.cs, src/Fluxzy.Core/Core/ServerStreamWorker.cs
