Repository haga-rak/fluxzy.core: changes, and which Codecov flags are due for each by the changed paths.
All: Fluxzy.Core, Fluxzy.Core.Pcap, Fluxzy

codecov.yml:

comment:
  layout: "header, diff, flags, components"

coverage:
  range: 60..73
  status:
    project:
      default:
        target: 65% 
    patch: no

component_management:
  default_rules:
    statuses:
      - type: project
        target: 65%
        branches:
          - "main"
  individual_components:
    - component_id: Fluxzy.Core
      name: Fluxzy.Core
      paths:
        - src/Fluxzy.Core/**
    - component_id: Fluxzy.Core.Pcap
      name: Fluxzy.Core.Pcap
      paths:
        - src/Fluxzy.Core.Pcap/**
    - component_id: Fluxzy
      name: Fluxzy
      paths:
        - src/Fluxzy/**
ignore:
  - "src/Fluxzy.Core.Pcap.Cli/**"
  - "src/Fluxzy.Extensions/**"
  - "src/Fluxzy.Tools.DocGen/**"
  - "src/Fluxzy/Commands/PrettyOutput/**"

# Ignore debugging code 
  - "src/Fluxzy.Core/Clients/H2Logger.cs"
  - "src/Fluxzy.Core/Clients/H1Logger.cs"
  - "src/Fluxzy.Core/Misc/Streams/DebugFileStream.cs"
  - "src/Fluxzy/ArgsHelper.cs"
  - "src/Fluxzy.Core/Misc/Traces/**"
  - "src/Fluxzy.Core/Utils/ProcessTracking/LinuxProcessHelper.cs"
  - "src/Fluxzy.Core/Utils/ProcessTracking/MacOsProcessHelper.cs"
  - "src/Fluxzy.Core/Utils/ProcessTracking/MacOsNativeMethods.cs"
  - "src/Fluxzy.Core/Core/H2DownStreamPipe.cs"
  - "src/Fluxzy.Core/Core/ServerStreamWorker.cs"

Add ServeHttp11Action to selectively disable H2 serving (#591)
  docs/actions/ServeHttp11Action.md
  docs/searchable-items.json
  src/Fluxzy.Core/Core/ExchangeContext.cs
  src/Fluxzy.Core/Core/Impl/SecureConnectionUpdater.cs
  src/Fluxzy.Core/Rules/Actions/ServeHttp11Action.cs
  test/Fluxzy.Tests/UnitTests/H2Serve/ServeHttp11ActionTests.cs
Due: Fluxzy.Core

Set version to '1.36-alpha'
  version.json
Due: none

Fix ChannelWritePipeBenchmark build after PooledFrame removal
  test/Fluxzy.Benchmarks/ChannelWritePipeBenchmark.cs
Due: none

Suppress ASP.NET logging in benchmark to avoid 1GB+ stdout
  test/Fluxzy.Benchmarks/ProxyThroughputBenchmark.cs
  test/Fluxzy.Tests/_Fixtures/InProcessHost.cs
Due: none

Add Op/s column to ProxyThroughputBenchmark output
  test/Fluxzy.Benchmarks/ProxyThroughputBenchmark.cs
Due: none

Move benchmark test server to external process for accurate memory measurements
  fluxzy.core.slnx
  test/Fluxzy.Benchmarks.Server/Fluxzy.Benchmarks.Server.csproj
  test/Fluxzy.Benchmarks.Server/Program.cs
  test/Fluxzy.Benchmarks/BenchmarkServerProcess.cs
  test/Fluxzy.Benchmarks/ProxyThroughputBenchmark.cs
Due: none

Reduce per-request allocations in header parsing and benchmark client
  src/Fluxzy.Core/Archiving/Readers/SazImportEngine.cs
  src/Fluxzy.Core/Clients/H2/Encoder/Utils/Http11Parser.cs
  src/Fluxzy.Core/Core/Breakpoints/EditableHeaderSet.cs
  src/Fluxzy.Core/Core/Header.cs
  test/Fluxzy.Benchmarks.Server/Program.cs
  test/Fluxzy.Benchmarks/ProxyThroughputBenchmark.cs
  test/Fluxzy.Tests/UnitTests/HPack/Http11ParserTests.cs
Due: Fluxzy.Core

Fix benchmark build and improve benchmark infrastructure (#594)
  fluxzy.core.slnx
  src/Fluxzy.Core/Archiving/Readers/SazImportEngine.cs
  src/Fluxzy.Core/Clients/H2/Encoder/Utils/Http11Parser.cs
  src/Fluxzy.Core/Core/Breakpoints/EditableHeaderSet.cs
  src/Fluxzy.Core/Core/Header.cs
  test/Fluxzy.Benchmarks.Server/Fluxzy.Benchmarks.Server.csproj
  test/Fluxzy.Benchmarks.Server/Program.cs
  test/Fluxzy.Benchmarks/BenchmarkServerProcess.cs
  test/Fluxzy.Benchmarks/ChannelWritePipeBenchmark.cs
  test/Fluxzy.Benchmarks/ProxyThroughputBenchmark.cs
  test/Fluxzy.Tests/UnitTests/HPack/Http11ParserTests.cs
  test/Fluxzy.Tests/_Fixtures/InProcessHost.cs
Due: Fluxzy.Core

Add benchmark throughput convenience scripts for Linux and Windows
  benchmark-throughput.cmd
  benchmark-throughput.sh
Due: none

Add benchmark throughput convenience scripts for Linux and Windows (#595)
  benchmark-throughput.cmd
  benchmark-throughput.sh
Due: none

Fix WindowsSystemProxySetter not restoring original proxy on unregister
  src/Fluxzy.Core/Core/Impl/SystemProxyRegistrationManager.cs
  src/Fluxzy.Core/Utils/NativeOps/SystemProxySetup/Win/WindowsProxyHelper.cs
  test/Fluxzy.Tests/UnitTests/Core/SystemProxyRegistrationManagerTests.cs
Due: Fluxzy.Core

Fix WindowsSystemProxySetter not restoring original proxy on unregister (#599)
  src/Fluxzy.Core/Core/Impl/SystemProxyRegistrationManager.cs
  src/Fluxzy.Core/Utils/NativeOps/SystemProxySetup/Win/WindowsProxyHelper.cs
  test/Fluxzy.Tests/UnitTests/Core/SystemProxyRegistrationManagerTests.cs
Due: Fluxzy.Core

Optimize H2 StreamWorker response body pipe for streaming and lower overhead
  src/Fluxzy.Core/Clients/H2/StreamWorker.cs
Due: Fluxzy.Core

Optimize H2 StreamWorker response body pipe for streaming and lower overhead (#600)
  src/Fluxzy.Core/Clients/H2/StreamWorker.cs
Due: Fluxzy.Core

Fix H2 bidirectional streaming deadlock for gRPC reflection
  src/Fluxzy.Core/Clients/H2/H2ConnectionPool.cs
  test/Fluxzy.Tests/Cases/GrpcRemoteEndpointTests.cs
Due: Fluxzy.Core

Fix H2 bidirectional streaming deadlock for gRPC reflection (#601)
  src/Fluxzy.Core/Clients/H2/H2ConnectionPool.cs
  test/Fluxzy.Tests/Cases/GrpcRemoteEndpointTests.cs
Due: Fluxzy.Core

Keep v1.65 version
  version.json
Due: none

Bump version
  version.json
Due: none

Add npm publish script and GitHub workflow for @fluxzy/cli
  .github/workflows/release-npm.yml
  npm/cli-wrapper.js
  npm/publish-npm.sh
Due: none

Add npm installation instructions to README
  README.md
Due: none

Add npm publish pipeline for @fluxzy/cli (#602)
  .github/workflows/release-npm.yml
  README.md
  npm/cli-wrapper.js
  npm/publish-npm.sh
Due: none

Update NuGet README for Fluxzy.Core and Fluxzy.Core.Pcap, add grpc tag
  src/Fluxzy.Core.Pcap/README.md
  src/Fluxzy.Core/Fluxzy.Core.csproj
  src/Fluxzy.Core/README.md
Due: Fluxzy.Core, Fluxzy.Core.Pcap

Update NuGet README for Fluxzy.Core and Fluxzy.Core.Pcap, add grpc tag (#603)
  src/Fluxzy.Core.Pcap/README.md
  src/Fluxzy.Core/Fluxzy.Core.csproj
  src/Fluxzy.Core/README.md
Due: Fluxzy.Core, Fluxzy.Core.Pcap

Add README for @fluxzy/cli npm package
  npm/README.md
  npm/publish-npm.sh
Due: none

Add README for @fluxzy/cli npm package (#605)
  npm/README.md
  npm/publish-npm.sh
Due: none

Fix RequestBodySent timing to precede ResponseHeaderStart
  src/Fluxzy.Core/Clients/H11/Http11PoolProcessing.cs
  src/Fluxzy.Core/Clients/H2/H2ConnectionPool.cs
  src/Fluxzy.Core/Clients/H2/StreamWorker.cs
  test/Fluxzy.Tests/Cases/ExchangeTimingIntegrationTests.cs
Due: Fluxzy.Core

Fix RequestBodySent timing to precede ResponseHeaderStart (#606)
  src/Fluxzy.Core/Clients/H11/Http11PoolProcessing.cs
  src/Fluxzy.Core/Clients/H2/H2ConnectionPool.cs
  src/Fluxzy.Core/Clients/H2/StreamWorker.cs
  test/Fluxzy.Tests/Cases/ExchangeTimingIntegrationTests.cs
Due: Fluxzy.Core

Fix H2 ALPN not offered in reverse-secure mode (#610)
  src/Fluxzy.Core/Core/ExchangeSourceProviderHelper.cs
  src/Fluxzy.Core/Core/ReverseProxyExchangeSourceProvider.cs
  test/Fluxzy.Tests/Cases/GrpcRemoteEndpointTests.cs
  test/Fluxzy.Tests/Cases/ReverseProxyH2Tests.cs
Due: Fluxzy.Core

Fix H2 ALPN not offered in reverse-secure mode (#610) (#611)
  src/Fluxzy.Core/Core/ExchangeSourceProviderHelper.cs
  src/Fluxzy.Core/Core/ReverseProxyExchangeSourceProvider.cs
  test/Fluxzy.Tests/Cases/GrpcRemoteEndpointTests.cs
  test/Fluxzy.Tests/Cases/ReverseProxyH2Tests.cs
Due: Fluxzy.Core

fix version
  version.json
Due: none

Fix Windows proxy restore for legacy per-protocol ProxyServer formats
  src/Fluxzy.Core/Core/Impl/SystemProxyRegistrationManager.cs
  src/Fluxzy.Core/Utils/NativeOps/SystemProxySetup/Win/ProxyConstants.cs
  src/Fluxzy.Core/Utils/NativeOps/SystemProxySetup/Win/WindowsProxyHelper.cs
  test/Fluxzy.Tests/UnitTests/Core/SystemProxyRegistrationManagerTests.cs
Due: Fluxzy.Core

Fix Windows proxy restore for legacy per-protocol ProxyServer formats (#612)
  src/Fluxzy.Core/Core/Impl/SystemProxyRegistrationManager.cs
  src/Fluxzy.Core/Utils/NativeOps/SystemProxySetup/Win/ProxyConstants.cs
  src/Fluxzy.Core/Utils/NativeOps/SystemProxySetup/Win/WindowsProxyHelper.cs
  test/Fluxzy.Tests/UnitTests/Core/SystemProxyRegistrationManagerTests.cs
Due: Fluxzy.Core

Add static height
  version.json
Due: none

Fix stray DATA frame after HEADERS[END_STREAM] on zero-length POST
  src/Fluxzy.Core/Clients/H2/StreamWorker.cs
  test/Fluxzy.Tests/Cases/ReverseProxyH2Tests.cs
  test/Fluxzy.Tests/UnitTests/H2Serve/H2DownStreamPipeTests.cs
  test/Fluxzy.Tests/_Fixtures/InProcessHost.cs
  test/Fluxzy.Tests/_Fixtures/StrictH2Recorder.cs
Due: Fluxzy.Core

Fix stray DATA frame after HEADERS[END_STREAM] on zero-length POST (#613)
  src/Fluxzy.Core/Clients/H2/StreamWorker.cs
  test/Fluxzy.Tests/Cases/ReverseProxyH2Tests.cs
  test/Fluxzy.Tests/UnitTests/H2Serve/H2DownStreamPipeTests.cs
  test/Fluxzy.Tests/_Fixtures/InProcessHost.cs
  test/Fluxzy.Tests/_Fixtures/StrictH2Recorder.cs
Due: Fluxzy.Core

Update test script
  benchmark-throughput.cmd
  benchmark-throughput.sh
Due: none

Improve benchmark condition
  src/Fluxzy.Core/Core/CircularWriteBuffer.cs
  src/Fluxzy.Core/Core/H2DownStreamPipe.cs
  test/Fluxzy.Benchmarks/ProxyThroughputBenchmark.cs
Due: Fluxzy.Core

Use ThreadPool for pipe
  src/Fluxzy.Core/Clients/H2/StreamWorker.cs
Due: Fluxzy.Core

Remove _headerEncodeLock by moving HPACK encode to WriteLoop
  src/Fluxzy.Core/Core/H2DownStreamPipe.cs
Due: none

Update benchmark run settings
  benchmark-throughput.cmd
  benchmark-throughput.sh
  test/Fluxzy.Benchmarks/ProxyThroughputBenchmark.cs
Due: none
