Repository haga-rak/fluxzy.core: changes, and which Codecov flags are due for each by the changed paths.
All: Fluxzy.Core, Fluxzy.Core.Pcap, Fluxzy

Prevent duplicate HTTP exchange processing
  src/Fluxzy/Commands/PrettyOutput/PrettyOutputRenderer.cs
Due: none

Add ID column and grey border to exchange table
  src/Fluxzy/Commands/PrettyOutput/PrettyOutputRenderer.cs
Due: none

Display timestamps in local time in pretty output
  src/Fluxzy/Commands/PrettyOutput/PrettyOutputRenderer.cs
Due: none

Update README.md, add CLI info
  README.md
  assets/fluxzy-pretty-cli-preview.png
Due: none

Add interactive pretty output mode for CLI: `--pretty` option (#535)
  README.md
  assets/fluxzy-pretty-cli-preview.png
  codecov.yml
  src/Fluxzy/Commands/PrettyOutput/CircularExchangeBuffer.cs
  src/Fluxzy/Commands/PrettyOutput/ExchangeDisplayEntry.cs
  src/Fluxzy/Commands/PrettyOutput/PrettyOutputRenderer.cs
  src/Fluxzy/Commands/PrettyOutput/ProxyStatistics.cs
  src/Fluxzy/Commands/StartCommandBuilder.cs
  src/Fluxzy/Commands/StartCommandOptions.cs
  src/Fluxzy/fluxzy.csproj
Due: Fluxzy

Fix handling of expired certificate in cache
  src/Fluxzy.Core/Certificates/CertificateProvider.cs
  src/Fluxzy.Core/Core/Impl/FileSystemCertificateCache.cs
  test/Fluxzy.Tests/UnitTests/Certificates/FileSystemCertificateCacheTests.cs
Due: Fluxzy.Core

Fix handling of expired certificates in cache (#536)
  src/Fluxzy.Core/Certificates/CertificateProvider.cs
  src/Fluxzy.Core/Core/Impl/FileSystemCertificateCache.cs
  test/Fluxzy.Tests/UnitTests/Certificates/FileSystemCertificateCacheTests.cs
Due: Fluxzy.Core

Add explicit HTTP blocking actions: `RejectAction`, `RejectWithStatusCodeAction`, `RejectWithMessageAction`
  docs/actions/AbortAction.md
  docs/actions/ApplySessionAction.md
  docs/actions/CaptureSessionAction.md
  docs/actions/ClearSessionAction.md
  docs/actions/RejectAction.md
  docs/actions/RejectWithMessageAction.md
  docs/actions/RejectWithStatusCodeAction.md
  docs/searchable-items.json
  src/Fluxzy.Core/Rules/Actions/HighLevelActions/BlockingExtensions.cs
  src/Fluxzy.Core/Rules/Actions/HighLevelActions/RejectAction.cs
  src/Fluxzy.Core/Rules/Actions/HighLevelActions/RejectWithMessageAction.cs
  src/Fluxzy.Core/Rules/Actions/HighLevelActions/RejectWithStatusCodeAction.cs
  src/Fluxzy.Tools.DocGen/SeeAlsoHelper.cs
  test/Fluxzy.Tests/Cli/WithRuleOptionRejectActions.cs
Due: Fluxzy.Core

Fix constructors
  src/Fluxzy.Core/Rules/Actions/HighLevelActions/RejectWithMessageAction.cs
  src/Fluxzy.Core/Rules/Actions/HighLevelActions/RejectWithStatusCodeAction.cs
Due: Fluxzy.Core

Add explicit HTTP blocking actions: `RejectAction`, `RejectWithStatusCodeAction`, `RejectWithMessageAction` (#537)
  docs/actions/AbortAction.md
  docs/actions/ApplySessionAction.md
  docs/actions/CaptureSessionAction.md
  docs/actions/ClearSessionAction.md
  docs/actions/RejectAction.md
  docs/actions/RejectWithMessageAction.md
  docs/actions/RejectWithStatusCodeAction.md
  docs/searchable-items.json
  src/Fluxzy.Core/Rules/Actions/HighLevelActions/BlockingExtensions.cs
  src/Fluxzy.Core/Rules/Actions/HighLevelActions/RejectAction.cs
  src/Fluxzy.Core/Rules/Actions/HighLevelActions/RejectWithMessageAction.cs
  src/Fluxzy.Core/Rules/Actions/HighLevelActions/RejectWithStatusCodeAction.cs
  src/Fluxzy.Tools.DocGen/SeeAlsoHelper.cs
  test/Fluxzy.Tests/Cli/WithRuleOptionRejectActions.cs
Due: Fluxzy.Core

Set version to '1.33'
  version.json
Due: none

Add example for reject showcase
  examples/Samples.No022.RejectRequests/Program.cs
  examples/Samples.No022.RejectRequests/Samples.No022.RejectRequests.csproj
Due: none

Add in solution
  fluxzy.core.sln
Due: none

Add example for new reject actions (#538)
  examples/Samples.No022.RejectRequests/Program.cs
  examples/Samples.No022.RejectRequests/Samples.No022.RejectRequests.csproj
  fluxzy.core.sln
Due: none

Update package tags and clean up redundant packages and directives
  src/Fluxzy.Core/Fluxzy.Core.csproj
Due: Fluxzy.Core

Update package tags and clean up redundant packages and directives (#539)
  src/Fluxzy.Core/Fluxzy.Core.csproj
Due: Fluxzy.Core

Fix process filters cannot filters `ExchangeInfo`
  src/Fluxzy.Core/IExchange.cs
  src/Fluxzy.Core/Rules/Filters/RequestFilters/ProcessIdFilter.cs
  src/Fluxzy.Core/Rules/Filters/RequestFilters/ProcessNameFilter.cs
Due: Fluxzy.Core

Fix process filters cannot filters `ExchangeInfo` (#543)
  src/Fluxzy.Core/IExchange.cs
  src/Fluxzy.Core/Rules/Filters/RequestFilters/ProcessIdFilter.cs
  src/Fluxzy.Core/Rules/Filters/RequestFilters/ProcessNameFilter.cs
Due: Fluxzy.Core

Fix ProcessName filter Hash generation
  src/Fluxzy.Core/Rules/Filters/RequestFilters/ProcessNameFilter.cs
Due: Fluxzy.Core

Fix ProcessName filter Hash generation (#544)
  src/Fluxzy.Core/Rules/Filters/RequestFilters/ProcessNameFilter.cs
Due: Fluxzy.Core

Rename ShortName from 'frm' to 'form'
  src/Fluxzy.Core/Rules/Filters/RequestFilters/FormRequestFilter.cs
Due: Fluxzy.Core

Rename ShortName from 'frm' to 'form' (#545)
  src/Fluxzy.Core/Rules/Filters/RequestFilters/FormRequestFilter.cs
Due: Fluxzy.Core

Refactor RunElevatedSudoALinux to support custom askPass
  src/Fluxzy.Core/Misc/ProcessUtilX.cs
Due: Fluxzy.Core

Refactor RunElevatedSudoALinux to support custom askPass (#546)
  src/Fluxzy.Core/Misc/ProcessUtilX.cs
Due: Fluxzy.Core

Fix provided address
  src/Fluxzy.Core/Proxy.cs
Due: Fluxzy.Core

Add option to activate proxy discovery
  src/Fluxzy.Core/FluxzySetting.Fluent.cs
  src/Fluxzy.Core/FluxzySetting.cs
  src/Fluxzy.Core/Proxy.cs
  src/Fluxzy/Commands/StartCommandBuilder.cs
  src/Fluxzy/Commands/StartCommandOptions.cs
Due: Fluxzy.Core, Fluxzy

Add proxy discover service (#547)
  src/Fluxzy.Core/FluxzySetting.Fluent.cs
  src/Fluxzy.Core/FluxzySetting.cs
  src/Fluxzy.Core/Misc/DnsPacketBuilder.cs
  src/Fluxzy.Core/Misc/DnsPacketParser.cs
  src/Fluxzy.Core/Misc/MdnsAnnouncerOptions.cs
  src/Fluxzy.Core/Misc/MdnsConstants.cs
  src/Fluxzy.Core/Misc/ProxyDiscoveryService.cs
  src/Fluxzy.Core/Proxy.cs
  src/Fluxzy/Commands/StartCommandBuilder.cs
  src/Fluxzy/Commands/StartCommandOptions.cs
  test/Fluxzy.Tests/UnitTests/Mdns/DnsPacketBuilderTests.cs
  test/Fluxzy.Tests/UnitTests/Mdns/DnsPacketParserTests.cs
  test/Fluxzy.Tests/UnitTests/Mdns/ProxyDiscoveryServiceTests.cs
Due: Fluxzy.Core, Fluxzy

Set version to '1.34'
  version.json
Due: none

Wire up H2DownStreamPipe for HTTP/2 client-facing connections
  src/Fluxzy.Core/Core/FromProxyConnectSourceProvider.cs
  src/Fluxzy.Core/Core/H2DownStreamPipe.cs
  src/Fluxzy.Core/Core/Impl/SecureConnectionUpdater.cs
  src/Fluxzy.Core/Core/Socks5/Socks5SourceProvider.cs
  src/Fluxzy/Commands/StartCommandBuilder.cs
  src/Fluxzy/Commands/StartCommandOptions.cs
  test/Fluxzy.Tests/Cases/InProcessHostTests.cs
  test/Fluxzy.Tests/Fluxzy.Tests.csproj
  test/Fluxzy.Tests/_Fixtures/InProcessHost.cs
  test/Fluxzy.Tests/_Fixtures/ProxiedHostSetup.cs
  test/Fluxzy.Tests/_Fixtures/Socks5ClientFactory.cs
Due: Fluxzy.Core, Fluxzy

Fix H2DownStreamPipe bugs and add comprehensive unit tests
  src/Fluxzy.Core/Core/ConnectionErrorHandler.cs
  src/Fluxzy.Core/Core/H2DownStreamPipe.cs
  src/Fluxzy.Core/Core/Http11DownStreamPipe.cs
  src/Fluxzy.Core/Core/IDownStreamPipe.cs
  src/Fluxzy.Core/Core/ProxyOrchestrator.cs
  src/Fluxzy.Core/Core/ServerStreamWorker.cs
  test/Fluxzy.Tests/TlsFingerPrintTests.cs
  test/Fluxzy.Tests/UnitTests/H2Serve/H2DownStreamPipeTests.cs
  test/Fluxzy.Tests/_Fixtures/H2TestHelper.cs
Due: Fluxzy.Core

Enable H2 multiplexing in ProxyOrchestrator
  src/Fluxzy.Core/Core/H2DownStreamPipe.cs
  src/Fluxzy.Core/Core/Http11DownStreamPipe.cs
  src/Fluxzy.Core/Core/IDownStreamPipe.cs
  src/Fluxzy.Core/Core/ProxyOrchestrator.cs
Due: Fluxzy.Core

Reorder protocols in H11AndH2Protocols list
  src/Fluxzy.Core/Core/Impl/SecureConnectionUpdater.cs
Due: Fluxzy.Core

Add CLI integration test for --serve-h2 option
  test/Fluxzy.Tests/Cli/WithServeH2Option.cs
Due: none

Reduce allocations in H2DownStreamPipe hot paths
  src/Fluxzy.Core/Core/H2DownStreamPipe.cs
Due: none

Ignore specific files in code coverage analysis
  codecov.yml
Due: none

Replace useSock5/serveH2 booleans with ProxyConnectionType enum in CLI tests
  test/Fluxzy.Tests/Cli/CliNoCap.cs
  test/Fluxzy.Tests/Cli/CliTestBase.cs
  test/Fluxzy.Tests/Cli/Scaffolding/ProxiedHttpClient.cs
  test/Fluxzy.Tests/_Fixtures/Socks5ClientFactory.cs
Due: none

Enable HTTP/2 downstream (client-facing) support (#557)
  codecov.yml
  src/Fluxzy.Core/Core/ConnectionErrorHandler.cs
  src/Fluxzy.Core/Core/FromProxyConnectSourceProvider.cs
  src/Fluxzy.Core/Core/H2DownStreamPipe.cs
  src/Fluxzy.Core/Core/Http11DownStreamPipe.cs
  src/Fluxzy.Core/Core/IDownStreamPipe.cs
  src/Fluxzy.Core/Core/Impl/SecureConnectionUpdater.cs
  src/Fluxzy.Core/Core/ProxyOrchestrator.cs
  src/Fluxzy.Core/Core/ServerStreamWorker.cs
  src/Fluxzy.Core/Core/Socks5/Socks5SourceProvider.cs
  src/Fluxzy/Commands/StartCommandBuilder.cs
  src/Fluxzy/Commands/StartCommandOptions.cs
  test/Fluxzy.Tests/Cases/InProcessHostTests.cs
  test/Fluxzy.Tests/Cli/CliNoCap.cs
  test/Fluxzy.Tests/Cli/CliTestBase.cs
  test/Fluxzy.Tests/Cli/Scaffolding/ProxiedHttpClient.cs
  test/Fluxzy.Tests/Cli/WithServeH2Option.cs
  test/Fluxzy.Tests/Fluxzy.Tests.csproj
  test/Fluxzy.Tests/TlsFingerPrintTests.cs
  test/Fluxzy.Tests/UnitTests/H2Serve/H2DownStreamPipeTests.cs
  test/Fluxzy.Tests/_Fixtures/H2TestHelper.cs
  test/Fluxzy.Tests/_Fixtures/InProcessHost.cs
  test/Fluxzy.Tests/_Fixtures/ProxiedHostSetup.cs
  test/Fluxzy.Tests/_Fixtures/Socks5ClientFactory.cs
Due: Fluxzy.Core, Fluxzy

Add HTTP/2 trailer support for request and response
  src/Fluxzy.Core/Archiving/ExchangeInfo.cs
  src/Fluxzy.Core/Clients/H2/Encoder/HPackDecoder.cs
  src/Fluxzy.Core/Clients/H2/Encoder/HPackEncoder.cs
  src/Fluxzy.Core/Clients/H2/HeaderEncoder.cs
  src/Fluxzy.Core/Clients/H2/StreamWorker.cs
  src/Fluxzy.Core/Core/ConnectionErrorHandler.cs
  src/Fluxzy.Core/Core/Exchange.cs
  src/Fluxzy.Core/Core/H2DownStreamPipe.cs
  src/Fluxzy.Core/Core/Http11DownStreamPipe.cs
  src/Fluxzy.Core/Core/IDownStreamPipe.cs
  src/Fluxzy.Core/Core/ProxyOrchestrator.cs
  src/Fluxzy.Core/Core/ServerStreamWorker.cs
  src/Fluxzy.Core/IExchange.cs
  test/Fluxzy.Tests/Cases/InProcessHostTests.cs
  test/Fluxzy.Tests/UnitTests/H2Serve/H2TrailerTests.cs
  test/Fluxzy.Tests/_Fixtures/H2TestHelper.cs
Due: Fluxzy.Core

Add HTTP/1.1 chunked trailer support
  src/Fluxzy.Core/Clients/H11/Http11PoolProcessing.cs
  src/Fluxzy.Core/Core/Http11DownStreamPipe.cs
  src/Fluxzy.Core/Misc/Streams/ChunkedTransferReadStream.cs
  src/Fluxzy.Core/Misc/Streams/ChunkedTransferWriteStream.cs
  test/Fluxzy.Tests/Cases/InProcessHostTests.cs
Due: Fluxzy.Core

Fix perf regression in ChunkedTransferReadStream trailer parsing
  src/Fluxzy.Core/Misc/Streams/ChunkedTransferReadStream.cs
Due: Fluxzy.Core

Path conditions:
  Fluxzy.Core: any of: src/Fluxzy.Core/**, but not: src/Fluxzy.Core.Pcap.Cli/**, src/Fluxzy.Extensions/**, src/Fluxzy.Tools.DocGen/**, src/Fluxzy/Commands/PrettyOutput/**, src/Fluxzy.Core/Clients/H2Logger.cs, src/Fluxzy.Core/Clients/H1Logger.cs, src/Fluxzy.Core/Misc/Streams/DebugFileStream.cs, src/Fluxzy/ArgsHelper.cs, src/Fluxzy.Core/Misc/Traces/**, src/Fluxzy.Core/Utils/ProcessTracking/LinuxProcessHelper.cs, src/Fluxzy.Core/Utils/ProcessTracking/MacOsProcessHelper.cs, src/Fluxzy.Core/Utils/ProcessTracking/MacOsNativeMethods.cs, src/Fluxzy.Core/Core/H2DownStreamPipe.cs, src/Fluxzy.Core/Core/ServerStreamWorker.cs
  Fluxzy.Core.Pcap: any of: src/Fluxzy.Core.Pcap/**, but not: src/Fluxzy.Core.Pcap.Cli/**, src/Fluxzy.Extensions/**, src/Fluxzy.Tools.DocGen/**, src/Fluxzy/Commands/PrettyOutput/**, src/Fluxzy.Core/Clients/H2Logger.cs, src/Fluxzy.Core/Clients/H1Logger.cs, src/Fluxzy.Core/Misc/Streams/DebugFileStream.cs, src/Fluxzy/ArgsHelper.cs, src/Fluxzy.Core/Misc/Traces/**, src/Fluxzy.Core/Utils/ProcessTracking/LinuxProcessHelper.cs, src/Fluxzy.Core/Utils/ProcessTracking/MacOsProcessHelper.cs, src/Fluxzy.Core/Utils/ProcessTracking/MacOsNativeMethods.cs, src/Fluxzy.Core/Core/H2DownStreamPipe.cs, src/Fluxzy.Core/Core/ServerStreamWorker.cs
  Fluxzy: any of: src/Fluxzy/**, but not: src/Fluxzy.Core.Pcap.Cli/**, src/Fluxzy.Extensions/**, src/Fluxzy.Tools.DocGen/**, src/Fluxzy/Commands/PrettyOutput/**, src/Fluxzy.Core/Clients/H2Logger.cs, src/Fluxzy.Core/Clients/H1Logger.cs, src/Fluxzy.Core/Misc/Streams/DebugFileStream.cs, src/Fluxzy/ArgsHelper.cs, src/Fluxzy.Core/Misc/Traces/**, src/Fluxzy.Core/Utils/ProcessTracking/LinuxProcessHelper.cs, src/Fluxzy.Core/Utils/ProcessTracking/MacOsProcessHelper.cs, src/Fluxzy.Core/Utils/ProcessTracking/MacOsNativeMethods.cs, src/Fluxzy.Core/Core/H2DownStreamPipe.cs, src/Fluxzy.Core/Core/ServerStreamWorker.cs
