Repository haga-rak/fluxzy.core: changes, and which Codecov flags are due for each by the changed paths.
All: Fluxzy.Core, Fluxzy

codecov.yml:

comment:
  layout: "header, diff, flags, components"

coverage:
  status:
    project:
      default:
        target: 65% 

component_management:
  default_rules:
    statuses:
      - type: project
        target: 65%
        branches:
          - "main"
  individual_components:
    - component_id: Fluxzy.Core
      name: Fluxzy.Core
      paths:
        - src/Fluxzy.Core/**
    - component_id: Fluxzy
      name: Fluxzy
      paths:
        - src/Fluxzy/**
ignore:
  - "src/Fluxzy.Core.Pcap/**"
  - "src/Fluxzy.Core.Pcap.Cli/**"
  - "src/Fluxzy.Core.Pcap/**"
  - "src/Fluxzy.Extensions/**"
  - "src/Fluxzy.Tools.DocGen/**"

# Ignore debugging code 
  - "src/Fluxzy.Core/Clients/H2Logger.cs"
  - "src/Fluxzy.Core/Clients/H1Logger.cs"
  - "src/Fluxzy.Core/Misc/Streams/DebugFileStream.cs"

Set HTTP handler timeout to 15 seconds
  src/Fluxzy.Core/HttpClientUtility.cs
Due: Fluxzy.Core

Fix and optimize behaviors around `Connection` header and re-used transport connections (#444)
  src/Fluxzy.Core/Clients/H11/Http11ConnectionPool.cs
  src/Fluxzy.Core/Clients/H11/Http11PoolProcessing.cs
  src/Fluxzy.Core/Clients/Mock/MockedConnectionPool.cs
  src/Fluxzy.Core/Core/Exchange.cs
  src/Fluxzy.Core/Core/Impl/DownStreamConnectionProvider.cs
  src/Fluxzy.Core/Core/ProxyOrchestrator.cs
  src/Fluxzy.Core/Core/ResponseHeader.cs
  src/Fluxzy.Core/HttpClientUtility.cs
  src/Fluxzy.Core/Misc/Streams/MetricsStream.cs
  test/Fluxzy.Tests/Cases/ConnectionCloseTestServer.cs
  test/Fluxzy.Tests/Cases/RandomConnectionBehaviourTest.cs
  test/Fluxzy.Tests/UnitTests/Dns/DnsOverHttpsLoadTests.cs
  test/Fluxzy.Tests/UnitTests/Formatters/ProducerContextTest.cs
  test/Fluxzy.Tests/UnitTests/Rules/ResponseTransformationTests.cs
Due: Fluxzy.Core

Fix invalid window size increment causing flow control error #447
  src/Fluxzy.Core/Clients/H2/StreamWorker.cs
Due: Fluxzy.Core

Replace windowSize by availableWindowSize
  src/Fluxzy.Core/Clients/H2/WindowSizeHolder.cs
  src/Fluxzy.Core/Clients/H2Logger.cs
Due: Fluxzy.Core

Fix invalid value of default window size (65536 -> 65535)
  src/Fluxzy.Core/Clients/H2/H2StreamSetting.cs
Due: Fluxzy.Core

Rework WindowSizeHolder (improve reliability)
  src/Fluxzy.Core/Clients/H2/WindowSizeHolder.cs
Due: Fluxzy.Core

Take into account late reception of initial Window Size
  src/Fluxzy.Core/Clients/H2/H2ConnectionPool.cs
  src/Fluxzy.Core/Clients/H2/StreamPool.cs
  src/Fluxzy.Core/Clients/H2/StreamWorker.cs
Due: Fluxzy.Core

Disable not update impersonate test
  test/Fluxzy.Tests/ImpersonateTests.cs
Due: none

Update unit tests
  test/Fluxzy.Tests/UnitTests/Handlers/Http2ClientHandler.cs
Due: none

fix H2 flow-control: correct initial window and more robust booking (#448)
  src/Fluxzy.Core/Clients/H2/H2ConnectionPool.cs
  src/Fluxzy.Core/Clients/H2/H2StreamSetting.cs
  src/Fluxzy.Core/Clients/H2/StreamPool.cs
  src/Fluxzy.Core/Clients/H2/StreamWorker.cs
  src/Fluxzy.Core/Clients/H2/WindowSizeHolder.cs
  src/Fluxzy.Core/Clients/H2Logger.cs
  test/Fluxzy.Tests/ImpersonateTests.cs
  test/Fluxzy.Tests/UnitTests/Handlers/Http2ClientHandler.cs
Due: Fluxzy.Core

Add initial window size on possible finger print setting
  src/Fluxzy.Core/Clients/PoolBuilder.cs
  src/Fluxzy.Core/Clients/Ssl/ImpersonateConfiguration.cs
Due: Fluxzy.Core

Add Chrome 139 Windows Impersonation profile
  src/Fluxzy.Core/Rules/Actions/ImpersonateAction.cs
  src/Fluxzy.Core/Rules/Actions/ImpersonateProfileManager.cs
Due: Fluxzy.Core

Add unit tests
  test/Fluxzy.Tests/ImpersonateTests.cs
Due: none

Add Chrome 139 Windows on available built-in impersonation configuration (#449)
  src/Fluxzy.Core/Clients/PoolBuilder.cs
  src/Fluxzy.Core/Clients/Ssl/ImpersonateConfiguration.cs
  src/Fluxzy.Core/Rules/Actions/ImpersonateAction.cs
  src/Fluxzy.Core/Rules/Actions/ImpersonateProfileManager.cs
  test/Fluxzy.Tests/ImpersonateTests.cs
Due: Fluxzy.Core

Add Firefox 142 Windows on available built-in impersonation configuration
  src/Fluxzy.Core/Rules/Actions/ImpersonateProfileManager.cs
  test/Fluxzy.Tests/ImpersonateTests.cs
Due: Fluxzy.Core

Add Firefox 142 Windows on available built-in impersonation configuration (#450)
  src/Fluxzy.Core/Rules/Actions/ImpersonateProfileManager.cs
  test/Fluxzy.Tests/ImpersonateTests.cs
Due: Fluxzy.Core

Update third-party dependencies
  examples/Samples.No001.RecordAsHarOrFxzy/Samples.No001.RecordAsHarOrFxzy.csproj
  examples/Samples.No002.Filtering/Samples.No002.Filtering.csproj
  examples/Samples.No003.RawCapture/Samples.No003.RawCapture.csproj
  examples/Samples.No004.BasicAlterations/Samples.No004.BasicAlterations.csproj
  examples/Samples.No005.BasicAlterations_FromConfigurationFile/Samples.No005.BasicAlterations_FromConfigurationFile.csproj
  examples/Samples.No006.CaptureOsTraffic/Samples.No006.CaptureOsTraffic.csproj
  examples/Samples.No007.UsingClientCertificate/Samples.No007.UsingClientCertificate.csproj
  examples/Samples.No008.ForcingHttpVersion/Samples.No008.ForcingHttpVersion.csproj
  examples/Samples.No009.InjectCodeSnippet/Samples.No009.InjectCodeSnippet.csproj
  examples/Samples.No010.MockResponse/Samples.No010.MockResponse.csproj
  examples/Samples.No011.AddRequestCookie/Samples.No011.AddRequestCookie.csproj
  examples/Samples.No012.AddResponseCookie/Samples.No012.AddResponseCookie.csproj
  examples/Samples.No013.ModifyHeaders/Samples.No013.ModifyHeaders.csproj
  src/Fluxzy.Core.Pcap/Fluxzy.Core.Pcap.csproj
  src/Fluxzy.Core/Fluxzy.Core.csproj
  test/Fluxzy.Benchmarks/Fluxzy.Benchmarks.csproj
  test/Fluxzy.Tests/Fluxzy.Tests.csproj
Due: Fluxzy.Core

Update Nbgv
  Directory.Build.props
  build/Fluxzy.Build/Fluxzy.Build.csproj
  examples/Samples.No001.RecordAsHarOrFxzy/Samples.No001.RecordAsHarOrFxzy.csproj
  examples/Samples.No002.Filtering/Samples.No002.Filtering.csproj
  examples/Samples.No003.RawCapture/Samples.No003.RawCapture.csproj
  examples/Samples.No004.BasicAlterations/Samples.No004.BasicAlterations.csproj
  examples/Samples.No005.BasicAlterations_FromConfigurationFile/Samples.No005.BasicAlterations_FromConfigurationFile.csproj
  examples/Samples.No006.CaptureOsTraffic/Samples.No006.CaptureOsTraffic.csproj
  examples/Samples.No007.UsingClientCertificate/Samples.No007.UsingClientCertificate.csproj
  examples/Samples.No008.ForcingHttpVersion/Samples.No008.ForcingHttpVersion.csproj
  examples/Samples.No009.InjectCodeSnippet/Samples.No009.InjectCodeSnippet.csproj
  examples/Samples.No010.MockResponse/Samples.No010.MockResponse.csproj
  examples/Samples.No011.AddRequestCookie/Samples.No011.AddRequestCookie.csproj
  examples/Samples.No012.AddResponseCookie/Samples.No012.AddResponseCookie.csproj
  examples/Samples.No013.ModifyHeaders/Samples.No013.ModifyHeaders.csproj
  src/Fluxzy.Core.Pcap.Cli/Fluxzy.Core.Pcap.Cli.csproj
  src/Fluxzy.Core.Pcap/Fluxzy.Core.Pcap.csproj
  src/Fluxzy.Core/Fluxzy.Core.csproj
  src/Fluxzy.Extensions/Fluxzy.Extensions.csproj
  src/Fluxzy.Tools.DocGen/Fluxzy.Tools.DocGen.csproj
  src/Fluxzy/fluxzy.csproj
  test/Fluxzy.Tests/Fluxzy.Tests.csproj
Due: Fluxzy.Core, Fluxzy

Update third party dependencies (#452)
  Directory.Build.props
  build/Fluxzy.Build/Fluxzy.Build.csproj
  examples/Samples.No001.RecordAsHarOrFxzy/Samples.No001.RecordAsHarOrFxzy.csproj
  examples/Samples.No002.Filtering/Samples.No002.Filtering.csproj
  examples/Samples.No003.RawCapture/Samples.No003.RawCapture.csproj
  examples/Samples.No004.BasicAlterations/Samples.No004.BasicAlterations.csproj
  examples/Samples.No005.BasicAlterations_FromConfigurationFile/Samples.No005.BasicAlterations_FromConfigurationFile.csproj
  examples/Samples.No006.CaptureOsTraffic/Samples.No006.CaptureOsTraffic.csproj
  examples/Samples.No007.UsingClientCertificate/Samples.No007.UsingClientCertificate.csproj
  examples/Samples.No008.ForcingHttpVersion/Samples.No008.ForcingHttpVersion.csproj
  examples/Samples.No009.InjectCodeSnippet/Samples.No009.InjectCodeSnippet.csproj
  examples/Samples.No010.MockResponse/Samples.No010.MockResponse.csproj
  examples/Samples.No011.AddRequestCookie/Samples.No011.AddRequestCookie.csproj
  examples/Samples.No012.AddResponseCookie/Samples.No012.AddResponseCookie.csproj
  examples/Samples.No013.ModifyHeaders/Samples.No013.ModifyHeaders.csproj
  src/Fluxzy.Core.Pcap.Cli/Fluxzy.Core.Pcap.Cli.csproj
  src/Fluxzy.Core.Pcap/Fluxzy.Core.Pcap.csproj
  src/Fluxzy.Core/Fluxzy.Core.csproj
  src/Fluxzy.Extensions/Fluxzy.Extensions.csproj
  src/Fluxzy.Tools.DocGen/Fluxzy.Tools.DocGen.csproj
  src/Fluxzy/fluxzy.csproj
  test/Fluxzy.Benchmarks/Fluxzy.Benchmarks.csproj
  test/Fluxzy.Tests/Fluxzy.Tests.csproj
Due: Fluxzy.Core, Fluxzy

Set version to '1.30'
  version.json
Due: none

Extend cancellation token timeout for WebSocket tests
  test/Fluxzy.Tests/UnitTests/Websockets/WebSocketOverlapTests.cs
Due: none

Extend cancellation token timeout for WebSocket tests (#453)
  test/Fluxzy.Tests/UnitTests/Websockets/WebSocketOverlapTests.cs
Due: none

Update package references for multiple target frameworks
  src/Fluxzy.Core/Fluxzy.Core.csproj
Due: Fluxzy.Core

Update package references for multiple target frameworks (#454)
  src/Fluxzy.Core/Fluxzy.Core.csproj
Due: Fluxzy.Core

Add ParseFromImpersonateConfiguration method
  src/Fluxzy.Core/Clients/Ssl/TlsFingerPrint.cs
Due: Fluxzy.Core

Update TLS fingerprint handling in tests
  test/Fluxzy.Tests/UnitTests/Handlers/ViaDefaultHandlerConfigureContextTests.cs
Due: none

Update test profile
  test/Fluxzy.Tests/UnitTests/Handlers/ViaDefaultHandlerConfigureContextTests.cs
Due: none

Add ToH2StreamSetting method for H2Stream configuration
  src/Fluxzy.Core/Clients/Ssl/ImpersonateConfiguration.cs
  src/Fluxzy.Core/Rules/Actions/ImpersonateAction.cs
Due: Fluxzy.Core

Add Samples.No019 project for custom HTTP handler
  examples/Samples.No019.HttpMessageHandlerWithCustomFingerPrint/Program.cs
  examples/Samples.No019.HttpMessageHandlerWithCustomFingerPrint/Samples.No019.HttpMessageHandlerWithCustomFingerPrint.csproj
  fluxzy.core.sln
Due: none

Add TLS and H2 fingerprint customization to `FluxzyDefaultHandler` + sample (#455)
  examples/Samples.No019.HttpMessageHandlerWithCustomFingerPrint/Program.cs
  examples/Samples.No019.HttpMessageHandlerWithCustomFingerPrint/Samples.No019.HttpMessageHandlerWithCustomFingerPrint.csproj
  fluxzy.core.sln
  src/Fluxzy.Core/Clients/DotNetBridge/FluxzyDefaultHandler.cs
  src/Fluxzy.Core/Clients/DotNetBridge/FluxzyHttp2Handler.cs
  src/Fluxzy.Core/Clients/Ssl/ImpersonateConfiguration.cs
  src/Fluxzy.Core/Clients/Ssl/TlsFingerPrint.cs
  src/Fluxzy.Core/Rules/Actions/ImpersonateAction.cs
  test/Fluxzy.Tests/UnitTests/Handlers/ViaDefaultHandlerConfigureContextTests.cs
Due: Fluxzy.Core

Update version to 1.31-alpha in version.json
  version.json
Due: none

Update version to 1.31-alpha in version.json (#456)
  version.json
Due: none

Checkpoint before merge
  src/Fluxzy.Core/Clients/H2/H2ConnectionPool.cs
  src/Fluxzy.Core/Clients/H2/H2Constants.cs
  src/Fluxzy.Core/Clients/H2/H2FrameReadResult.cs
  src/Fluxzy.Core/Core/H2DownStreamPipe.cs
  src/Fluxzy.Core/Core/H2Helper.cs
Due: Fluxzy.Core

Refactor ToHttp11String: use Headers.ToString() for proper header formatting
  src/Fluxzy.Core/Clients/DotNetBridge/HttpRequestMessageExtensions.cs
Due: Fluxzy.Core

Fix ToHttp11String: use Headers.ToString() for proper header formatting (#470)
  src/Fluxzy.Core/Clients/DotNetBridge/HttpRequestMessageExtensions.cs
Due: Fluxzy.Core

Fix unit tests header value equality comparison
  test/Fluxzy.Tests/_Fixtures/AssertHelpers.cs
Due: none

Fix unit tests: header value equality comparison (#471)
  test/Fluxzy.Tests/_Fixtures/AssertHelpers.cs
Due: none

Add new action AddAuthorizationBearerAction
  src/Fluxzy.Core/Rules/Actions/AddAuthorizationBearerAction.cs
  src/Fluxzy.Core/Rules/Filters/RequestFilters/HasAuthorizationBearerFilter.cs
Due: Fluxzy.Core

Add `AddAuthorizationBearerAction` unit test
  test/Fluxzy.Tests/Cli/WithRuleAddAuthorizationBearerAction.cs
Due: none

Add basic authorization action to request headers
  src/Fluxzy.Core/Rules/Actions/AddAuthorizationBasicAction.cs
Due: Fluxzy.Core
