Repository haga-rak/fluxzy.core: changes, and which Codecov flags are due for each by the changed paths.
All: Fluxzy.Core, Fluxzy

Extend AppendToAnEmptyFile coverage
  src/Fluxzy.Core/Archiving/Readers/DirectoryArchiveReader.cs
  test/Fluxzy.Tests/UnitTests/Clipboard/ClipboardManagerTests.cs
Due: Fluxzy.Core

Add coverage for `CopyPolicy.MaxSize`
  test/Fluxzy.Tests/UnitTests/Clipboard/ClipboardManagerDataFixture.cs
  test/Fluxzy.Tests/UnitTests/Clipboard/ClipboardManagerTests.cs
Due: none

Assert pcap file is missing when skipped
  test/Fluxzy.Tests/UnitTests/Clipboard/ClipboardManagerTests.cs
Due: none

Add option to dispose Stream in `DrainAndSha1`. Optout per default, preserving previous behaviour
  test/Fluxzy.Tests/_Fixtures/FileUtilities.cs
Due: none

Clean `Drop` directory on startup
  test/Fluxzy.Tests/Startup.cs
Due: none

Cover appending to an existing file in unit test
  test/Fluxzy.Tests/UnitTests/Clipboard/ClipboardManagerDataFixture.cs
  test/Fluxzy.Tests/UnitTests/Clipboard/ClipboardManagerTests.cs
Due: none

Code cleanup
  src/Fluxzy.Core/Archiving/Clipboard/ClipboardManager.cs
  src/Fluxzy.Core/Archiving/Clipboard/ConnectionData.cs
  src/Fluxzy.Core/Archiving/Clipboard/CopyArtefact.cs
  src/Fluxzy.Core/Archiving/Clipboard/CopyOptionType.cs
  src/Fluxzy.Core/Archiving/Clipboard/CopyPayload.cs
  src/Fluxzy.Core/Archiving/Clipboard/CopyPolicy.cs
  src/Fluxzy.Core/Archiving/Clipboard/CopyPolicyEnforcer.cs
  src/Fluxzy.Core/Archiving/Clipboard/CopyableData.cs
  src/Fluxzy.Core/Archiving/Clipboard/ExchangeData.cs
  test/Fluxzy.Tests/UnitTests/Clipboard/ClipboardManagerDataFixture.cs
  test/Fluxzy.Tests/UnitTests/Clipboard/ClipboardManagerTests.cs
Due: Fluxzy.Core

Reduce I/O in ClipboardManagerDataFixture
  test/Fluxzy.Tests/UnitTests/Clipboard/ClipboardManagerDataFixture.cs
Due: none

Add helper for copying and appending exchange from an archive to another (#238)
  src/Fluxzy.Core/Archiving/Clipboard/ClipboardManager.cs
  src/Fluxzy.Core/Archiving/Clipboard/ConnectionData.cs
  src/Fluxzy.Core/Archiving/Clipboard/CopyArtefact.cs
  src/Fluxzy.Core/Archiving/Clipboard/CopyOptionType.cs
  src/Fluxzy.Core/Archiving/Clipboard/CopyPayload.cs
  src/Fluxzy.Core/Archiving/Clipboard/CopyPolicy.cs
  src/Fluxzy.Core/Archiving/Clipboard/CopyPolicyEnforcer.cs
  src/Fluxzy.Core/Archiving/Clipboard/CopyableData.cs
  src/Fluxzy.Core/Archiving/Clipboard/ExchangeData.cs
  src/Fluxzy.Core/Archiving/ConnectionInfo.cs
  src/Fluxzy.Core/Archiving/DirectoryArchiveHelper.cs
  src/Fluxzy.Core/Archiving/ExchangeInfo.cs
  src/Fluxzy.Core/Archiving/Readers/DirectoryArchiveReader.cs
  src/Fluxzy.Core/Archiving/Readers/FluxzyArchiveReader.cs
  src/Fluxzy.Core/Archiving/Readers/IArchiveReader.cs
  src/Fluxzy.Core/Archiving/Writers/DirectoryArchiveWriter.cs
  test/Fluxzy.Tests/Startup.cs
  test/Fluxzy.Tests/UnitTests/Clipboard/ClipboardManagerDataFixture.cs
  test/Fluxzy.Tests/UnitTests/Clipboard/ClipboardManagerTests.cs
  test/Fluxzy.Tests/_Fixtures/FileUtilities.cs
Due: Fluxzy.Core

Remove unused `Id` property on CopyableData
  src/Fluxzy.Core/Archiving/Clipboard/ClipboardManager.cs
  src/Fluxzy.Core/Archiving/Clipboard/ConnectionData.cs
  src/Fluxzy.Core/Archiving/Clipboard/CopyableData.cs
  src/Fluxzy.Core/Archiving/Clipboard/ExchangeData.cs
Due: Fluxzy.Core

Add method inlining on critical packet capture path
  src/Fluxzy.Core.Pcap/PacketKeyBuilder.cs
  src/Fluxzy.Core.Pcap/Pcapng/PcapngWriter.cs
  src/Fluxzy.Core.Pcap/Reading/NetUtility.cs
  src/Fluxzy.Core.Pcap/Reading/RawPacketParser.cs
Due: none

Add option to tolerate read error on `CopyPolicy`
  src/Fluxzy.Core/Archiving/Clipboard/CopyPolicy.cs
  src/Fluxzy.Core/Archiving/Clipboard/CopyPolicyEnforcer.cs
  test/Fluxzy.Tests/UnitTests/Clipboard/ClipboardManagerTests.cs
Due: Fluxzy.Core

Add CliWithCapOutOfProc to "RUNS_RAW_CAPTURE" collection to avoid test overlap that fails on linux
  test/Fluxzy.Tests/Cli/CliWithCapOutOfProc.cs
Due: none

Moved CanElevated() method to ProcessUtilX class
  src/Fluxzy.Core/Misc/ProcessUtilX.cs
  src/Fluxzy.Core/Misc/ProcessUtilsOsx.cs
Due: Fluxzy.Core

Avoid using `pkexec` when the process is already elevated
  src/Fluxzy.Core/Misc/ProcessUtils.cs
Due: Fluxzy.Core

Fix issue with CI/linux, older version of `pkexec` failed to run concurrent ` fluxzynetcap` (#241)
  src/Fluxzy.Core/Misc/ProcessUtilX.cs
  src/Fluxzy.Core/Misc/ProcessUtils.cs
  src/Fluxzy.Core/Misc/ProcessUtilsOsx.cs
Due: Fluxzy.Core

Add option to tolerate read error on `CopyPolicy` (removed inlining) (#240)
  src/Fluxzy.Core/Archiving/Clipboard/ClipboardManager.cs
  src/Fluxzy.Core/Archiving/Clipboard/ConnectionData.cs
  src/Fluxzy.Core/Archiving/Clipboard/CopyPolicy.cs
  src/Fluxzy.Core/Archiving/Clipboard/CopyPolicyEnforcer.cs
  src/Fluxzy.Core/Archiving/Clipboard/CopyableData.cs
  src/Fluxzy.Core/Archiving/Clipboard/ExchangeData.cs
  test/Fluxzy.Tests/Cli/CliWithCapOutOfProc.cs
  test/Fluxzy.Tests/UnitTests/Clipboard/ClipboardManagerTests.cs
Due: Fluxzy.Core

Add CapabilityHelper and relevant unit tests
  src/Fluxzy.Core/Misc/CapabilitiesHelper.cs
  test/Fluxzy.Tests/UnitTests/Util/CapabilityHelperTests.cs
Due: Fluxzy.Core

Update condition check in CapabilitiesHelper
  src/Fluxzy.Core/Misc/CapabilitiesHelper.cs
Due: Fluxzy.Core

Fix `getpcaps` not available with CI macOs
  test/Fluxzy.Tests/UnitTests/Util/CapabilityHelperTests.cs
Due: none

Add CapabilityHelper and relevant unit tests (#242)
  src/Fluxzy.Core/Misc/CapabilitiesHelper.cs
  test/Fluxzy.Tests/UnitTests/Util/CapabilityHelperTests.cs
Due: Fluxzy.Core

Replace 'Cancel' function with 'CancelAsync' in Program.cs
  src/Fluxzy.Core.Pcap.Cli/Program.cs
Due: none

Refactor executable command name retrieval
  src/Fluxzy.Core.Pcap.Cli/Clients/FluxzyNetOutOfProcessHost.cs
Due: none

Update permission check in ProcessUtils
  src/Fluxzy.Core/Misc/ProcessUtils.cs
Due: Fluxzy.Core

Add capability check to ProcessUtilX class
  src/Fluxzy.Core/Misc/ProcessUtilX.cs
Due: Fluxzy.Core

Reuse property
  test/Fluxzy.Tests/CertificateContext.cs
Due: none

Add capability check unit test for Linux only
  test/Fluxzy.Tests/UnitTests/Util/CapabilityHelperTests.cs
Due: none

Add Utility.cs in Fluxzy.Tests namespace
  test/Fluxzy.Tests/Utility.cs
Due: none

Set capabilities of `fluxzynetcpa` before running test on Linux
  test/Fluxzy.Tests/Startup.cs
Due: none

Remove unused HasCapabilities unit test
  test/Fluxzy.Tests/UnitTests/Util/CapabilityHelperTests.cs
Due: none

Make running tests in Linux possible with non-root user (#243)
  src/Fluxzy.Core.Pcap.Cli/Clients/FluxzyNetOutOfProcessHost.cs
  src/Fluxzy.Core.Pcap.Cli/Program.cs
  src/Fluxzy.Core/Misc/ProcessUtilX.cs
  src/Fluxzy.Core/Misc/ProcessUtils.cs
  test/Fluxzy.Tests/CertificateContext.cs
  test/Fluxzy.Tests/Startup.cs
  test/Fluxzy.Tests/Utility.cs
Due: Fluxzy.Core

Remove verbosity of curl commands
  src/Fluxzy.Core/Utils/Curl/CurlUtility.cs
Due: Fluxzy.Core

Implement silent mode for CLI output
  src/Fluxzy/Commands/OutputConsole.cs
  src/Fluxzy/Program.cs
  test/Fluxzy.Tests/Cli/NavigationTests.cs
Due: Fluxzy

Run CI test without build and a decent verbosity
  build/Fluxzy.Build/Program.cs
Due: none

Remove unused targets (CI)
  build/Fluxzy.Build/Program.cs
Due: none

Fix test project not built
  build/Fluxzy.Build/Program.cs
Due: none

Reduce verbosity of tests in CI output (#244)
  build/Fluxzy.Build/Program.cs
  src/Fluxzy.Core/Utils/Curl/CurlUtility.cs
  src/Fluxzy/Commands/OutputConsole.cs
  src/Fluxzy/Program.cs
  test/Fluxzy.Tests/Cli/NavigationTests.cs
Due: Fluxzy.Core, Fluxzy

Set version to '1.24'
  version.json
Due: none

Path conditions:
  Fluxzy.Core: any of: src/Fluxzy.Core/**, but not: src/Fluxzy.Core.Pcap/**, src/Fluxzy.Core.Pcap.Cli/**, src/Fluxzy.Core.Pcap/**, src/Fluxzy.Extensions/**, src/Fluxzy.Tools.DocGen/**, src/Fluxzy.Core/Clients/H2Logger.cs, src/Fluxzy.Core/Clients/H1Logger.cs, src/Fluxzy.Core/Misc/Streams/DebugFileStream.cs
  Fluxzy: any of: src/Fluxzy/**, but not: src/Fluxzy.Core.Pcap/**, src/Fluxzy.Core.Pcap.Cli/**, src/Fluxzy.Core.Pcap/**, src/Fluxzy.Extensions/**, src/Fluxzy.Tools.DocGen/**, src/Fluxzy.Core/Clients/H2Logger.cs, src/Fluxzy.Core/Clients/H1Logger.cs, src/Fluxzy.Core/Misc/Streams/DebugFileStream.cs
