Repository haga-rak/fluxzy.core: changes, and which Codecov flags are due for each by the changed paths.
All: Fluxzy.Core, Fluxzy

Add unit test for Basic Authorization header
  test/Fluxzy.Tests/Cli/WithRuleAddAuthorizationBasicAction.cs
Due: none

Add new quick actions to alter the Authorization header (#476)
  src/Fluxzy.Core/Rules/Actions/AddAuthorizationBasicAction.cs
  src/Fluxzy.Core/Rules/Actions/AddAuthorizationBearerAction.cs
  src/Fluxzy.Core/Rules/Filters/RequestFilters/HasAuthorizationBearerFilter.cs
  test/Fluxzy.Tests/Cli/WithRuleAddAuthorizationBasicAction.cs
  test/Fluxzy.Tests/Cli/WithRuleAddAuthorizationBearerAction.cs
Due: Fluxzy.Core

Build ServerStreamWorker for H2 downstream
  src/Fluxzy.Core.Pcap/CaptureAvailabilityChecker.cs
  src/Fluxzy.Core/Clients/H2/StreamContext.cs
  src/Fluxzy.Core/Clients/H2/StreamWorker.cs
  src/Fluxzy.Core/Core/H2DownStreamPipe.cs
  src/Fluxzy.Core/Core/H2Helper.cs
  src/Fluxzy.Core/Core/ServerStreamWorker.cs
  src/Fluxzy.Core/ICaptureAvailabilityChecker.cs
Due: Fluxzy.Core

Process body in ServerStreamWorker
  src/Fluxzy.Core/Clients/H2/Frames/GoAwayFrame.cs
  src/Fluxzy.Core/Clients/H2/H2FrameType.cs
  src/Fluxzy.Core/Core/H2DownStreamPipe.cs
  src/Fluxzy.Core/Core/ServerStreamWorker.cs
  src/Fluxzy.Core/Misc/ResizableBuffers/RsBuffer.cs
Due: Fluxzy.Core

Add stream identifier in pipe
  src/Fluxzy.Core/Core/ConnectionErrorHandler.cs
  src/Fluxzy.Core/Core/Exchange.cs
  src/Fluxzy.Core/Core/H2DownStreamPipe.cs
  src/Fluxzy.Core/Core/Http11DownStreamPipe.cs
  src/Fluxzy.Core/Core/IDownStreamPipe.cs
  src/Fluxzy.Core/Core/ProxyOrchestrator.cs
  src/Fluxzy.Core/Core/ServerStreamWorker.cs
Due: Fluxzy.Core

Add header packetization
  src/Fluxzy.Core/Core/H2DownStreamPipe.cs
  src/Fluxzy.Core/Core/ServerStreamWorker.cs
Due: Fluxzy.Core

Add WriteResponseBody implementation
  src/Fluxzy.Core/Core/H2DownStreamPipe.cs
  src/Fluxzy.Core/Core/ServerStreamWorker.cs
Due: Fluxzy.Core

Add basic window size control
  src/Fluxzy.Core/Core/H2DownStreamPipe.cs
  src/Fluxzy.Core/Core/ServerStreamWorker.cs
Due: Fluxzy.Core

Handle combined token
  src/Fluxzy.Core/Core/H2DownStreamPipe.cs
Due: Fluxzy.Core

Handle cleanup
  src/Fluxzy.Core/Core/H2DownStreamPipe.cs
  src/Fluxzy.Core/Core/H2Helper.cs
  src/Fluxzy.Core/Core/ServerStreamWorker.cs
Due: Fluxzy.Core

Reorganize around `EnterProcessExchange`
  src/Fluxzy.Core/Core/ProxyOrchestrator.cs
Due: Fluxzy.Core

Reorganise controller
  src/Fluxzy.Core/Core/H2DownStreamPipe.cs
Due: Fluxzy.Core

Add ServeH2 in settings
  src/Fluxzy.Core/Core/FromProxyConnectSourceProvider.cs
  src/Fluxzy.Core/Core/Impl/SecureConnectionUpdater.cs
  src/Fluxzy.Core/FluxzySetting.Fluent.cs
  src/Fluxzy.Core/FluxzySetting.cs
  src/Fluxzy.Core/Proxy.cs
Due: Fluxzy.Core

Halt dev with h2 negotiation not accepted by httpclient
  src/Fluxzy.Core/Core/Impl/SecureConnectionUpdater.cs
  src/Fluxzy.Core/Core/ProxyOrchestrator.cs
  test/Fluxzy.Tests/UnitTests/H2Serve/H2ServeTests.cs
Due: Fluxzy.Core

Fix HashedStream should not be seekable
  src/Fluxzy.Core/Clients/DotNetBridge/FluxzyHttp2Handler.cs
Due: Fluxzy.Core

Update to .NET 10
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/pull-request.yaml
  .github/workflows/release-cli.yml
  .github/workflows/release-nuget.pre.public.yml
  .github/workflows/release-nuget.public.yml
  Directory.Build.props
  build/Fluxzy.Build/Fluxzy.Build.csproj
  examples/Samples.No001.RecordAsHarOrFxzy/Samples.No001.RecordAsHarOrFxzy.csproj
  examples/Samples.No002.Filtering/Samples.No002.Filtering.csproj
  examples/Samples.No003.RawCapture/Samples.No003.RawCapture.csproj
  examples/Samples.No004.BasicAlterations/Samples.No004.BasicAlterations.csproj
  examples/Samples.No005.BasicAlterations_FromConfigurationFile/Samples.No005.BasicAlterations_FromConfigurationFile.csproj
  examples/Samples.No006.CaptureOsTraffic/Samples.No006.CaptureOsTraffic.csproj
  examples/Samples.No007.UsingClientCertificate/Samples.No007.UsingClientCertificate.csproj
  examples/Samples.No008.ForcingHttpVersion/Samples.No008.ForcingHttpVersion.csproj
  examples/Samples.No009.InjectCodeSnippet/Samples.No009.InjectCodeSnippet.csproj
  examples/Samples.No010.MockResponse/Samples.No010.MockResponse.csproj
  examples/Samples.No011.AddRequestCookie/Samples.No011.AddRequestCookie.csproj
  examples/Samples.No012.AddResponseCookie/Samples.No012.AddResponseCookie.csproj
  examples/Samples.No013.ModifyHeaders/Samples.No013.ModifyHeaders.csproj
  examples/Samples.No014.HttpClientWithPcap/Samples.No014.HttpClientWithPcap.csproj
  examples/Samples.No015.ReadingArchive/Samples.No015.ReadingArchive.csproj
  examples/Samples.No016.ImpersonateBrowser/Samples.No016.ImpersonateBrowser.csproj
  examples/Samples.No017.TransformRequestBody/Samples.No017.TransformRequestBody.csproj
  examples/Samples.No018.TransformResponseBody/Samples.No018.TransformResponseBody.csproj
  examples/Samples.No019.HttpMessageHandlerWithCustomFingerPrint/Samples.No019.HttpMessageHandlerWithCustomFingerPrint.csproj
  global.json
  src/Fluxzy.Core.Pcap.Cli/Fluxzy.Core.Pcap.Cli.csproj
  src/Fluxzy.Core.Pcap/Fluxzy.Core.Pcap.csproj
  src/Fluxzy.Core/Clients/DotNetBridge/FluxzyHttp11Handler.cs
  src/Fluxzy.Core/Fluxzy.Core.csproj
  src/Fluxzy.Tools.DocGen/Fluxzy.Tools.DocGen.csproj
  test/Fluxzy.Benchmarks/Fluxzy.Benchmarks.csproj
  test/Fluxzy.Tests/Cli/Certificates/CertificateDefaultCommand.cs
  test/Fluxzy.Tests/_Fixtures/HashedStream.cs
  test/Fluxzy.Tests/_Fixtures/RandomDataStream.cs
Due: Fluxzy.Core

Remove macOS from CI
  .github/workflows/ci.yml
  .github/workflows/pull-request.yaml
Due: none

Update .NET dependencies and target frameworks
  src/Fluxzy.Core/Fluxzy.Core.csproj
Due: Fluxzy.Core

Drop .NET 6 and .NET Standard 2.1 and target only .NET 8 and .NET 10 (#485)
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/pull-request.yaml
  .github/workflows/release-cli.yml
  .github/workflows/release-nuget.pre.public.yml
  .github/workflows/release-nuget.public.yml
  Directory.Build.props
  build/Fluxzy.Build/Fluxzy.Build.csproj
  examples/Samples.No001.RecordAsHarOrFxzy/Samples.No001.RecordAsHarOrFxzy.csproj
  examples/Samples.No002.Filtering/Samples.No002.Filtering.csproj
  examples/Samples.No003.RawCapture/Samples.No003.RawCapture.csproj
  examples/Samples.No004.BasicAlterations/Samples.No004.BasicAlterations.csproj
  examples/Samples.No005.BasicAlterations_FromConfigurationFile/Samples.No005.BasicAlterations_FromConfigurationFile.csproj
  examples/Samples.No006.CaptureOsTraffic/Samples.No006.CaptureOsTraffic.csproj
  examples/Samples.No007.UsingClientCertificate/Samples.No007.UsingClientCertificate.csproj
  examples/Samples.No008.ForcingHttpVersion/Samples.No008.ForcingHttpVersion.csproj
  examples/Samples.No009.InjectCodeSnippet/Samples.No009.InjectCodeSnippet.csproj
  examples/Samples.No010.MockResponse/Samples.No010.MockResponse.csproj
  examples/Samples.No011.AddRequestCookie/Samples.No011.AddRequestCookie.csproj
  examples/Samples.No012.AddResponseCookie/Samples.No012.AddResponseCookie.csproj
  examples/Samples.No013.ModifyHeaders/Samples.No013.ModifyHeaders.csproj
  examples/Samples.No014.HttpClientWithPcap/Samples.No014.HttpClientWithPcap.csproj
  examples/Samples.No015.ReadingArchive/Samples.No015.ReadingArchive.csproj
  examples/Samples.No016.ImpersonateBrowser/Samples.No016.ImpersonateBrowser.csproj
  examples/Samples.No017.TransformRequestBody/Samples.No017.TransformRequestBody.csproj
  examples/Samples.No018.TransformResponseBody/Samples.No018.TransformResponseBody.csproj
  examples/Samples.No019.HttpMessageHandlerWithCustomFingerPrint/Samples.No019.HttpMessageHandlerWithCustomFingerPrint.csproj
  global.json
  src/Fluxzy.Core.Pcap.Cli/Fluxzy.Core.Pcap.Cli.csproj
  src/Fluxzy.Core.Pcap/Fluxzy.Core.Pcap.csproj
  src/Fluxzy.Core/Clients/DotNetBridge/FluxzyHttp11Handler.cs
  src/Fluxzy.Core/Clients/DotNetBridge/FluxzyHttp2Handler.cs
  src/Fluxzy.Core/Fluxzy.Core.csproj
  src/Fluxzy.Tools.DocGen/Fluxzy.Tools.DocGen.csproj
  test/Fluxzy.Benchmarks/Fluxzy.Benchmarks.csproj
  test/Fluxzy.Tests/Cli/Certificates/CertificateDefaultCommand.cs
  test/Fluxzy.Tests/_Fixtures/HashedStream.cs
  test/Fluxzy.Tests/_Fixtures/RandomDataStream.cs
Due: Fluxzy.Core

Upgrade .NET SDK version in Dockerfile to .NET 10.0
  docker/Dockerfile.alpine-x64
Due: none

Upgrade .NET SDK version in Dockerfile to .NET 10.0 (#488)
  docker/Dockerfile.alpine-x64
Due: none

Refactor ProxyOrchestrator/Downstream pipeline to enable upcoming HTTP/2 direct handling (#489)
  src/Fluxzy.Core.Pcap/CaptureAvailabilityChecker.cs
  src/Fluxzy.Core/Clients/H2/Encoder/Utils/SpanCharsHandlingExtension.cs
  src/Fluxzy.Core/Clients/H2/Frames/GoAwayFrame.cs
  src/Fluxzy.Core/Clients/H2/H2ConnectionPool.cs
  src/Fluxzy.Core/Clients/H2/H2Constants.cs
  src/Fluxzy.Core/Clients/H2/H2FrameReadResult.cs
  src/Fluxzy.Core/Clients/H2/H2FrameType.cs
  src/Fluxzy.Core/Clients/H2/StreamContext.cs
  src/Fluxzy.Core/Clients/H2/StreamWorker.cs
  src/Fluxzy.Core/Core/Breakpoints/EditableHeaderSet.cs
  src/Fluxzy.Core/Core/ConnectionErrorHandler.cs
  src/Fluxzy.Core/Core/Exchange.cs
  src/Fluxzy.Core/Core/FromProxyConnectSourceProvider.cs
  src/Fluxzy.Core/Core/H2DownStreamPipe.cs
  src/Fluxzy.Core/Core/H2Helper.cs
  src/Fluxzy.Core/Core/Http11DownStreamPipe.cs
  src/Fluxzy.Core/Core/IDownStreamPipe.cs
  src/Fluxzy.Core/Core/Impl/SecureConnectionUpdater.cs
  src/Fluxzy.Core/Core/ProxyOrchestrator.cs
  src/Fluxzy.Core/Core/ReverseProxyExchangeSourceProvider.cs
  src/Fluxzy.Core/Core/ReverseProxyPlainExchangeSourceProvider.cs
  src/Fluxzy.Core/Core/ServerStreamWorker.cs
  src/Fluxzy.Core/FluxzySetting.Fluent.cs
  src/Fluxzy.Core/FluxzySetting.cs
  src/Fluxzy.Core/ICaptureAvailabilityChecker.cs
  src/Fluxzy.Core/Misc/ResizableBuffers/RsBuffer.cs
  src/Fluxzy.Core/Proxy.cs
  test/Fluxzy.Tests/UnitTests/H2Serve/H2ServeTests.cs
Due: Fluxzy.Core

Add hot reload support for proxy rules at runtime
  examples/Samples.No020.HotReloadRules/Program.cs
  examples/Samples.No020.HotReloadRules/Samples.No020.HotReloadRules.csproj
  src/Fluxzy.Core/.claude/settings.local.json
  src/Fluxzy.Core/Certificates/DefaultCertificateAuthorityManager.cs
  src/Fluxzy.Core/ClientError.cs
  src/Fluxzy.Core/Clients/PoolBuilder.cs
  src/Fluxzy.Core/Core/ProxyRuntimeSetting.cs
  src/Fluxzy.Core/Proxy.cs
  src/Fluxzy.Core/Rules/RuleInitializationException.cs
  test/Fluxzy.Tests/Cases/HotReloadIntegrationTests.cs
  test/Fluxzy.Tests/UnitTests/Rules/HotReloadTests.cs
Due: Fluxzy.Core

Remove dev related file
  src/Fluxzy.Core/.claude/settings.local.json
Due: Fluxzy.Core

Add HotReloadRules project and update solution
  examples/Samples.No020.HotReloadRules/Program.cs
  fluxzy.core.sln
  test/Fluxzy.Tests/Cases/HotReloadIntegrationTests.cs
Due: none

Add hot reload support for proxy rules at runtime (#490)
  examples/Samples.No020.HotReloadRules/Program.cs
  examples/Samples.No020.HotReloadRules/Samples.No020.HotReloadRules.csproj
  fluxzy.core.sln
  src/Fluxzy.Core/Certificates/DefaultCertificateAuthorityManager.cs
  src/Fluxzy.Core/ClientError.cs
  src/Fluxzy.Core/Clients/PoolBuilder.cs
  src/Fluxzy.Core/Core/ProxyRuntimeSetting.cs
  src/Fluxzy.Core/Proxy.cs
  src/Fluxzy.Core/Rules/RuleInitializationException.cs
  test/Fluxzy.Tests/Cases/HotReloadIntegrationTests.cs
  test/Fluxzy.Tests/UnitTests/Rules/HotReloadTests.cs
Due: Fluxzy.Core

work in progres, fix hard build failure
  src/Fluxzy.Core/Misc/ArrayTextUtilities.cs
  src/Fluxzy/Commands/CertificateCommandBuilder.cs
  src/Fluxzy/Commands/ConsoleBinder.cs
  src/Fluxzy/Commands/ConsoleHelper.cs
  src/Fluxzy/Commands/DissectCommandBuilder.cs
  src/Fluxzy/Commands/OptionExtensions.cs
  src/Fluxzy/Commands/OutputConsole.cs
  src/Fluxzy/Commands/PackCommandBuilder.cs
  src/Fluxzy/Commands/StartCommandBuilder.cs
  src/Fluxzy/Commands/StartCommandOptions.cs
  src/Fluxzy/FluxzyStartup.cs
  src/Fluxzy/fluxzy.csproj
  test/Fluxzy.Tests/Cli/Scaffolding/OutputWriterNotifier.cs
  test/Fluxzy.Tests/Fluxzy.Tests.csproj
Due: Fluxzy.Core, Fluxzy

Add SSL certificate export into the final archive
  src/Fluxzy.Core/Archiving/Extensions/X509CertificateExtensions.cs
  src/Fluxzy.Core/Archiving/Readers/HarImportEngine.cs
  src/Fluxzy.Core/Archiving/Readers/SazImportEngine.cs
  src/Fluxzy.Core/Archiving/SslInfo.cs
  src/Fluxzy.Core/Clients/Ssl/AdvancedTlsSettings.cs
  src/Fluxzy.Core/Clients/Ssl/BouncyCastle/BouncyCastleConnectionBuilder.cs
  src/Fluxzy.Core/Clients/Ssl/SChannel/SChannelConnectionBuilder.cs
  src/Fluxzy.Core/Misc/ArrayTextUtilities.cs
  test/Fluxzy.Tests/UnitTests/Handlers/ExportCertificateInSslInfoTests.cs
Due: Fluxzy.Core

Add more integration tests
  src/Fluxzy.Core/Core/ExchangeContext.cs
  src/Fluxzy.Core/FluxzySetting.Fluent.cs
  src/Fluxzy.Core/FluxzySetting.cs
  test/Fluxzy.Tests/Cases/ExportCertificateInSslInfoIntegrationTests.cs
Due: Fluxzy.Core

Add `ExportCertificateInSslInfo` feature to export server certificates as PEM (#491)
  src/Fluxzy.Core/Archiving/Extensions/X509CertificateExtensions.cs
  src/Fluxzy.Core/Archiving/Readers/HarImportEngine.cs
  src/Fluxzy.Core/Archiving/Readers/SazImportEngine.cs
  src/Fluxzy.Core/Archiving/SslInfo.cs
  src/Fluxzy.Core/Clients/Ssl/AdvancedTlsSettings.cs
  src/Fluxzy.Core/Clients/Ssl/BouncyCastle/BouncyCastleConnectionBuilder.cs
  src/Fluxzy.Core/Clients/Ssl/SChannel/SChannelConnectionBuilder.cs
  src/Fluxzy.Core/Core/ExchangeContext.cs
  src/Fluxzy.Core/FluxzySetting.Fluent.cs
  src/Fluxzy.Core/FluxzySetting.cs
  src/Fluxzy.Core/Misc/ArrayTextUtilities.cs
  test/Fluxzy.Tests/Cases/ExportCertificateInSslInfoIntegrationTests.cs
  test/Fluxzy.Tests/UnitTests/Handlers/ExportCertificateInSslInfoTests.cs
Due: Fluxzy.Core

Set better error message when handling ssl errors
  src/Fluxzy.Core/Clients/IRemoteConnectionBuilder.cs
  src/Fluxzy.Core/Clients/Ssl/BouncyCastle/BouncyCastleConnectionBuilder.cs
  src/Fluxzy.Core/Clients/Ssl/BouncyCastle/FluxzyTlsAuthentication.cs
  src/Fluxzy.Core/Clients/Ssl/BouncyCastle/FluxzyTlsClient.cs
  src/Fluxzy.Core/Clients/Ssl/SslConnectionBuilderOptions.cs
  src/Fluxzy.Core/Core/ConnectionErrorConstants.cs
  src/Fluxzy.Core/Core/ConnectionErrorHandler.cs
  src/Fluxzy.Core/Core/ExceptionUtils.cs
  src/Fluxzy.Core/Core/Impl/SecureConnectionUpdater.cs
  test/Fluxzy.Tests/Cases/Extended528Tests.cs
  test/Fluxzy.Tests/UnitTests/Dns/DnsOverHttpsLoadTests.cs
Due: Fluxzy.Core

Output better error message when handling ssl errors (#495)
  src/Fluxzy.Core/Clients/IRemoteConnectionBuilder.cs
  src/Fluxzy.Core/Clients/Ssl/BouncyCastle/BouncyCastleConnectionBuilder.cs
  src/Fluxzy.Core/Clients/Ssl/BouncyCastle/FluxzyTlsAuthentication.cs
  src/Fluxzy.Core/Clients/Ssl/BouncyCastle/FluxzyTlsClient.cs
  src/Fluxzy.Core/Clients/Ssl/SslConnectionBuilderOptions.cs
  src/Fluxzy.Core/Core/ConnectionErrorConstants.cs
  src/Fluxzy.Core/Core/ConnectionErrorHandler.cs
  src/Fluxzy.Core/Core/ExceptionUtils.cs
  src/Fluxzy.Core/Core/Impl/SecureConnectionUpdater.cs
  test/Fluxzy.Tests/Cases/Extended528Tests.cs
  test/Fluxzy.Tests/UnitTests/Dns/DnsOverHttpsLoadTests.cs
Due: Fluxzy.Core

Fix SAN hostname check & add IP TLS validation test
  src/Fluxzy.Core/Clients/Ssl/BouncyCastle/FluxzyTlsAuthentication.cs
  test/Fluxzy.Tests/Cases/Extended528Tests.cs
Due: Fluxzy.Core

Fix SAN hostname check & add IP TLS validation test (#496)
  src/Fluxzy.Core/Clients/Ssl/BouncyCastle/FluxzyTlsAuthentication.cs
  test/Fluxzy.Tests/Cases/Extended528Tests.cs
Due: Fluxzy.Core

Fix extensions handling on Chunked transfer reader
  src/Fluxzy.Core/Misc/Streams/ChunkedTransferReadStream.cs
Due: Fluxzy.Core

Update unit test
  test/Fluxzy.Tests/Cli/WithRuleInjectHtmlTag.cs
Due: none

Add ChunkedTransfertReadStreamAsync
  src/Fluxzy.Core/Misc/Streams/ChunkedTransferReadStream.cs
Due: Fluxzy.Core

Update unit tests URL
  test/Fluxzy.Tests/Cli/WithRuleInjectHtmlTag.cs
Due: none

Fix HTTP/1.1 hanging when using body substitution (InjectHtmlTagAction)
  src/Fluxzy.Core/Core/ProxyOrchestrator.cs
Due: Fluxzy.Core

Fix HTTP/1.1 hanging when using body substitution (InjectHtmlTagAction) (#497)
  src/Fluxzy.Core/Core/ProxyOrchestrator.cs
  src/Fluxzy.Core/Misc/Streams/ChunkedTransferReadStream.cs
  test/Fluxzy.Tests/Cli/WithRuleInjectHtmlTag.cs
Due: Fluxzy.Core

Path conditions:
  Fluxzy.Core: any of: src/Fluxzy.Core/**, but not: src/Fluxzy.Core.Pcap/**, src/Fluxzy.Core.Pcap.Cli/**, src/Fluxzy.Core.Pcap/**, src/Fluxzy.Extensions/**, src/Fluxzy.Tools.DocGen/**, src/Fluxzy.Core/Clients/H2Logger.cs, src/Fluxzy.Core/Clients/H1Logger.cs, src/Fluxzy.Core/Misc/Streams/DebugFileStream.cs
  Fluxzy: any of: src/Fluxzy/**, but not: src/Fluxzy.Core.Pcap/**, src/Fluxzy.Core.Pcap.Cli/**, src/Fluxzy.Core.Pcap/**, src/Fluxzy.Extensions/**, src/Fluxzy.Tools.DocGen/**, src/Fluxzy.Core/Clients/H2Logger.cs, src/Fluxzy.Core/Clients/H1Logger.cs, src/Fluxzy.Core/Misc/Streams/DebugFileStream.cs
